
.correct {
  background-color: green;
  color: white;
}
.incorrect {
  background-color: red;
  color: white;
  text-decoration: line-through;
}
.isAlt {
  background-color: yellow;
  color: black;
}
.isAlmostCorrect {
  background-color: orange;
  color: white;
  text-decoration: line-through;
}
.solution {
  font-size: 40px;
  margin-left: 42px;
}
.solution .answer {
  color: green;
}
/* override bootstrap */
.input-lg {
  height: 56px;
  font-size: 40px;
  padding-left: 6;
}
.input-group {
  padding-left: 0;
}
.input-group .form-control {
  border-radius: 6px;
}
.input-group-addon {
  font-size: 34px;
  background-color: inherit;
  border: none;
  padding-left: 0;
}
