<div class="bullets">
  <span 
    *ngFor="let exercise of exerciseBullets; let i=index"
    class="fa"
    [ngClass]="{
      'fa-square-o': !exercise.data.isDone, 
      'fa-square': exercise.data.isDone, 
      'green': exercise.result || (exercise.data.isDone && exercise.data.isCorrect && !exercise.data.isAlt),
      'yellow': exercise.data.isDone && exercise.data.isCorrect && exercise.data.isAlt,
      'orange': exercise.data.isDone && !exercise.data.isCorrect && exercise.data.isAlmostCorrect,
      'red': exercise.data.isDone && !exercise.data.isCorrect && !exercise.data.isAlmostCorrect}">
  </span>
  <span class="togo">
    {{toGo}} <span *ngIf="toGo > 0">{{text["toGo"]}}</span>
  </span>
</div>
