<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{title}} {{showStep()}} <span *ngIf="isRepeat">({{text["Repeat"]}})</span>
    </h3>
  </div>
  <div class="panel-body">
    <div class="list" *ngIf="!noResults; else noresults">
      <!-- HEADER -->
      <div class="row header item">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-6">
          {{text['Exercise']}}
        </div>
        <div class="col-xs-3">
          {{text['Result']}}
        </div>
        <div class="col-xs-1 text-right">
          {{text['Points']}}
        </div>
      </div>
      <!-- TABLE -->
      <div *ngFor="let result of results; let i=index" class="row item">
        <div class="col-xs-1">
          <span 
            class="fa fa-circle" 
            [ngClass]="{
              green: result.isCorrect && !result.isAlt,
              yellow: result.isCorrect && result.isAlt,
              orange: !result.isCorrect && result.isAlmostCorrect,
              red: !result.isCorrect && !result.isAlmostCorrect}">
          </span>
          <span *ngIf="result.isLearned"
            class="fa fa-check"
            [tooltip]="text['iWordLearned']">
          </span>
        </div>
        <div class="col-xs-1 icons">
          <span>
            <span class="fa" [ngClass]="{
              'fa-font': result.tpe === exType.Word,
              'fa-list-alt': result.tpe === exType.Select,
              'fa-comments': result.tpe === exType.QA,
              'fa-terminal': result.tpe === exType.FillIn,
              'fa-superpowers': result.tpe === exType.Article,
              'fa-venus-mars': result.tpe === exType.Genus,
              'fa-signal': result.tpe === exType.Comparison
            }">
            </span>
          </span>
        </div>
        <div class="col-xs-6">
          <span class="word">{{getForeignWord(result)}}</span>
          <span class="word local">{{result.exercise.exercise.local.word}}</span>
        </div>
        <div class="col-xs-3">
          <span *ngFor="let item of result.streak?.slice(-10).split(''); let i=index">
            <span
              class="fa fa-square" 
              [ngClass]="{green: item === '1', red: item === '0', orange: item === '2'}"
              [style.opacity]="1 - (result.streak?.slice(-10).length - i - 1) / 20">
            </span>
          </span>
        </div>
        <div class="col-xs-1 text-right">
          {{result.points}}
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noresults>
  <div class="list" *ngIf="noResults">
    {{text["NoWordsLearned"]}}.
  </div>
</ng-template>