<div class="panel panel-default">
  <div class="panel-body">
    <div class="image">
      <img src="/assets/img/courses/{{course.image}}">
    </div>
    <div class="course">
      <h3>{{course.name}}</h3>
      <button class="btn btn-success"
        (click)="onContinueCourse()">
        {{text["continuecourse"]}}
      </button>
       <button class="btn btn-primary"
        (click)="onContinueCourse('review')">
        {{text["reviewwords"]}}
      </button>
       <button class="btn btn-warning"
        (click)="onContinueCourse('difficult')">
        {{text["difficultwords"]}}
      </button>
       <button class="btn btn-danger"
        (click)="onContinueCourse('exam')">
        {{text["takeexam"]}}
      </button>
      <div class="info">
        <div>{{course.exerciseCount || 0}} {{course.exerciseCount === 1 ? text["word"] : text["words"]}}</div>
        <div>
          <div class="difficulty">
            <div *ngFor="let led of leds; let i=index" class="led led-{{i}}">
            </div>
          </div>
        </div>
      </div>
      <div class="progress">
        <div 
          class="progress-bar progress-bar-striped" 
          role="progressbar" 
          [attr.aria-valuenow]="course.exercisesDone"
          aria-valuemin="0"
          [attr.aria-valuemax]="course.exerciseCount" 
          [style.width.%]="percDone">
          <span>
            {{course.exercisesDone}}/{{course.exerciseCount}} ({{percDone}}%)
          </span>
        </div>
      </div> 
    </div>
  </div>
</div>