<div class="closeExercises" *ngIf="exercisesStarted">
  <span class="fa fa-times pull-right" (click)="onExitExercises(confirmexit)"></span>
</div>

<!-- COURSE HEADER -->
<div *ngIf="!exercisesStarted && !isError">
  <div class="panel panel-default panel-header">
    <div class="panel-body">
      <h1>
        <button type="button" 
          *ngIf="!isDemo && currentStep===getStepNr('overview')"
          class="btn btn-success pull-right"
          (click)="onContinueCourse()">
          <span class="fa fa-arrow-right"></span>{{text["continuecourse"]}}
        </button>
        <img src="/assets/img/flags/{{course?.languagePair.to}}.png" class="flag">
        <span class="course-title">{{course?.name}}</span>
        <div class="lesson-title">
          <span *ngIf="!isCourseDone">{{text["CurrentLesson"]}}: {{lesson?.name}}</span>
        </div>
      </h1>
      <ul class="list-unstyled list-inline steps">
        <ng-template ngFor [ngForOf]="steps" let-step let-i="index">
          <li *ngIf="isLessonReady || step.level === level.Course"
            (click)="stepTo(i)" 
            class="btn btn-lg btn-step"
            [ngClass]="{
              'btn-overview': step.name==='overview',
              'btn-intro': step.name==='intro',
              'btn-dialogue': step.name==='dialogue',
              'btn-study': step.name==='study',
              'btn-practise': step.name==='practise',
              'btn-review': step.name==='review', 
              'btn-difficult': step.name==='difficult',
              'btn-exam': step.name==='exam',
              'active': currentStep===i,
              'inactive': currentStep!==i,
              'pull-right': step.level === level.Course
            }">
            <span *ngIf="step.hasCounter"
              class="fa fa-spacing" [ngClass]="{
                'fa-repeat': step.name==='review', 
                'fa-fire': step.name==='difficult',
                'fa-clock-o': step.name==='exam'
              }">
            </span>
            {{text[capitalize(step.name === 'dialogue' ? lesson.dialogue.tpe : step.name)]}}
            <div *ngIf="step.hasCounter"
              class="badge"
              [class.remaining]="countPerStep[step.name]?.nrRemaining > 0">
              {{countPerStep[step.name]?.nrRemaining || 0}}
            </div>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
  <div class="learn-header" *ngIf="isLessonReady"
    [ngClass]="steps[currentStep]?.name">
  </div>
</div>
<!-- COURSE DATA -->
<div *ngIf="isLessonReady else loading">
  <div 
    [ngSwitch]="steps[currentStep]?.name"
    class="learn"
    [class.rehearse]="exercisesStarted && !!lesson?.rehearseStep"
    [ngClass]="steps[currentStep]?.name">
    <km-learn-intro *ngSwitchCase="'intro'"
      [lesson]="lesson"
      [lessonChanged]="lessonChanged"
      [steps]="steps"
      [text]="text"
      (stepCompleted)="onStepCompleted('intro', null)">
    </km-learn-intro>
    <km-learn-dialogue *ngSwitchCase="'dialogue'"
      [lesson]="lesson"
      [lessonChanged]="lessonChanged"
      [lanPair]="course.languagePair"
      [steps]="steps"
      [text]="text">
    </km-learn-dialogue>
    <km-learn-study *ngSwitchCase="'study'"
      [lanPair]="course.languagePair"
      [lesson]="lesson"
      [text]="text"
      [isDemo]="isDemo"
      [settings]="settings"
      [lessonChanged]="lessonChanged"
      [exercisesInterrupted]="exercisesInterrupted"
      (skipStep)="onSkipStep()"
      (stepCompleted)="onStepCompleted('study', $event)"
      (updatedSettings)="onSettingsUpdated($event)">
    </km-learn-study>
    <km-learn-practise *ngSwitchCase="'practise'"
      [lanPair]="course.languagePair"
      [course]="course"
      [lesson]="lesson"
      [text]="text"
      [isDemo]="isDemo"
      [hasStudyTab]="hasStep('study')"
      [settings]="settings"
      [lessonChanged]="lessonChanged"
      [exercisesInterrupted]="exercisesInterrupted"
      [stepcountUpdated]="stepcountUpdated"
      (lessonCompleted)="onLessonCompleted($event)"
      (stepCompleted)="onStepCompleted('practise', $event)"
      (stepBack)="onStepBack()"
      (updatedSettings)="onSettingsUpdated($event)">
    </km-learn-practise>
    <div *ngIf="!isDemo">
      <km-learn-review *ngSwitchCase="'review'"
        [course]="course"
        [lanPair]="course.languagePair"
        [text]="text"
        [settings]="settings"
        [exercisesInterrupted]="exercisesInterrupted"
        [stepcountUpdated]="stepcountUpdated"
        [continueCourseLevel]="continueCourseLevel"
        (stepCompleted)="onStepCompleted('review', $event)"
        (updatedSettings)="onSettingsUpdated($event)">
      </km-learn-review>
      <km-learn-difficult *ngSwitchCase="'difficult'"
        [course]="course"
        [lanPair]="course.languagePair"
        [text]="text"
        [settings]="settings"
        [exercisesInterrupted]="exercisesInterrupted"
        [stepcountUpdated]="stepcountUpdated"
        [continueCourseLevel]="continueCourseLevel"
        (stepCompleted)="onStepCompleted('difficult', $event)"
        (updatedSettings)="onSettingsUpdated($event)">
      </km-learn-difficult>
    </div>
    <km-learn-overview *ngSwitchCase="'overview'"
      [course]="course"
      [currentLessonId]="lesson._id"
      [text]="text"
      [isDemo]="isDemo"
      (rehearseLesson)="onRehearseLesson($event)"
      (currentLesson)="onLessonSelected($event)"
      (courseCompleted)="onCourseCompleted($event)">
    </km-learn-overview>
    <div *ngIf="isDemo">
      <div *ngSwitchCase="'review'" class="register">
        <a href="/auth/signup">{{text["SignupAction"]}}</a> {{text["ToUseReview"]}}.
      </div>
      <div *ngSwitchCase="'difficult'" class="register">
        <a href="/auth/signup">{{text["SignupAction"]}}</a> {{text["ToUseDifficult"]}}.
      </div>
    </div>
  </div>
</div>

<km-info-msg
  [msg]="infoMsg">
</km-info-msg>
<km-error-msg
  [msg]="errorMsg">
</km-error-msg>

<km-modal-confirm #confirmexit
  [level]="'warning'"
  [text]="text"
  (confirmed)="onExitConfirmed($event)">
  <div title>{{text["Warning"]}}</div>
  <div message>{{text["ConfirmExit"]}}</div>
</km-modal-confirm>

<km-modal-promotion #promotion
  [rankNr]="rankNr"
  [rankName]="text[rankKey]"
  [text]="text"
  [gender]="getGender()">
</km-modal-promotion>

<ng-template #loading>
  <km-loader *ngIf="!isError"
    [msg]="text['LoadingCourse']">
  </km-loader>
</ng-template>