<div class="panel panel-default">
  <div class="panel-body">
    <div class="image">
      <img src="/assets/img/courses/{{course.image}}">
    </div>
    <div class="course">
      <h3>{{course.name}}
        <span class="icons">
          <span class="fa" [ngClass]="{'fa-lock': !course.isPublic, 'fa-user':course.isPublic}"></span>
          <span class="fa" [ngClass]="{'fa-power-off': !course.isPublished, 'fa-check':course.isPublished}"></span>
        </span>
      </h3>
      <button class="btn btn-success"
        [class.disabled]="!course.isPublished"
        (click)="onStartCourse()">
        {{text["startcourse"]}}
      </button>
      <button class="btn btn-warning" *ngIf="isAuthor(course.authorId)"
        (click)="onEditCourse()">
        {{text["updatecourse"]}}
      </button>
      <div class="info">
        <div>{{course.wordCount || 0}} {{course.wordCount === 1 ? text["word"] : text["words"]}}</div>
        <div>{{course.exercisesCount || 0}} {{course.exercisesCount === 1 ? text["exercise"] : text["exercises"]}}</div>
        <div>
          <div class="difficulty">
            <div *ngFor="let led of leds; let i=index" class="led led-{{i}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>