<div class="panel panel-default" [class.demo]="course.isDemo && tpe === listType.Teach">
  <div class="panel-body">
    <div class="image">
      <img src="/assets/img/courses/{{course.image}}">
    </div>
    <div class="course">
      <h3>
        <img src="/assets/img/flags/{{course?.languagePair.from}}.png" class="flag from"><span class="fa fa-arrow-right flag-from"></span><img src="/assets/img/flags/{{course?.languagePair.to}}.png" class="flag">
        {{course.name}}
        <span class="icons" *ngIf="tpe !== listType.Learn">
          <span 
            class="fa"
            [ngClass]="{
              'fa-lock': !course.isPublic,
              'fa-user': course.isPublic}">
          </span>
          <span 
            class="fa"
            [ngClass]="{
              'fa-power-off': !course.isPublished,
              'fa-wifi': course.isPublished}">
          </span>
          <span 
            class="fa"
            [ngClass]="{
              'fa-industry': course.isInProgress,
              'fa-check': !course.isInProgress}">
          </span>
        </span>
      </h3>
      <div class="description">{{course.description}}</div>
      <div *ngIf="tpe===listType.All || tpe===listType.Teach">
        <button class="btn btn-success"
          [class.disabled]="!course.isPublished"
          (click)="onStartCourse()">
          {{text["startcourse"]}}
        </button>
        <button class="btn btn-warning" *ngIf="isAuthor(course.authorId)"
          (click)="onEditCourse()">
          {{text["updatecourse"]}}
        </button>
      </div>
      <div *ngIf="(tpe===listType.Learn || tpe===listType.Home) && !isDemo">
        <button type="button" class="btn btn-success"
          (click)="onContinueCourse()">
          <span class="fa fa-arrow-right fa-spacing"></span>
          {{text["continuecourse"]}}
        </button>
        <button type="button" class="btn btn-primary btn-badge"
          (click)="onContinueCourse('review')">
          <span class="fa fa-repeat fa-spacing"></span>
          {{text["Review"]}}
          <br>
          <div class="badge" *ngIf="badgeData.review">{{badgeData.review}}</div>
        </button>
        <button type="button" class="btn btn-warning"
          (click)="onContinueCourse('difficult')">
          <span class="fa fa-fire fa-spacing"></span>
          {{text["Difficult"]}}
          <br>
          <div class="badge" *ngIf="badgeData.difficult">{{badgeData.difficult}}</div>
        </button>
        <button type="button" class="btn btn-danger"
          (click)="onContinueCourse('exam')">
          <span class="fa fa-clock-o fa-spacing"></span>
          {{text["takeexam"]}}
          <br>
          <div class="badge" *ngIf="badgeData.exam">{{badgeData.exam}}</div>
        </button>
      </div>
      <div *ngIf="tpe===listType.Learn && isDemo">
        <button type="button" class="btn btn-success"
          (click)="onContinueCourse()">
          <span class="fa fa-arrow-right fa-spacing"></span>
          {{text["TestCourse"]}}
        </button>
      </div>
      <div class="info">
        <div>{{doneData.words}} / {{course.wordCount || 0}} {{course.wordCount === 1 ? text["word"] : text["words"]}}</div>
        <div>{{doneData.exercises}} / {{course.exercisesCount || 0}} {{course.exercisesCount === 1 ? text["exercise"] : text["exercises"]}}</div>
        <div class="dates" *ngIf="tpe === listType.Learn && userData?.dt">
          {{text["StartedOn"]}}: {{userData?.dt?.dtSubscribed | date:'yyyy-MM-dd'}}
        </div>
        <div class="dates" *ngIf="tpe === listType.Home">
          {{text["LastActivity"]}}: {{lastActivity}}
        </div>
      </div>
      <div class="stop" *ngIf="tpe===listType.Learn && !isDemo">
        <button type="button" class="btn btn-default pull-right"
          (click)="onStopLearningCourse()">
          <span class="fa fa-times-circle fa-spacing"></span>
          {{text["Stoplearningcourse"]}}
        </button>
        <div class="clearfix"></div>
      </div>
      <div class="progress" *ngIf="(tpe===listType.Learn || tpe===listType.Home) && !isDemo">
        <div 
          class="progress-bar progress-bar-success progress-bar-striped" 
          role="progressbar" 
          [attr.aria-valuenow]="doneData.total"
          aria-valuemin="0"
          [attr.aria-valuemax]="course.totalCount" 
          [style.width.%]="percDone">
          <span>
            {{doneData.total}}/{{course.totalCount}} ({{percDone}}%)
          </span>
        </div>
      </div> 
    </div>
  </div>
</div>