.selector, .lan-selector {
  padding: 0;
  margin-bottom: 4px;
}
.tpe-selector {
  padding-left: 4px;
  cursor: pointer;
}
.nocourses {
  margin-bottom: 12px;
}
.login {
  font-size: 20px;
}
.lnk {
  cursor: pointer;
  color: blue;
}
.btn-new-course {
  margin-bottom: 12px;
}
.select-course {
  font-size: 20px;
}
