.image {
  width: 162px;
  height: 202px;
  border: 1px solid #333;
  float: left;
}
.course {
  margin-left: 180px;
}
h3.description {
  overflow: hidden;
}
.info {
  margin-top: 4px;
  height: 64px;
}
.stop {
  margin-bottom: 4px;
}
h3 {
  margin-top:0;
}
.icons {
  font-size: 16px;
  color: #999;
  display: inline-block;
  margin-left: 10px;
}
.icons .fa-user,
.icons .fa-check,
.icons .fa-wifi {
  color: green;
}
.fa-times-circle {
  color: red;
}
.progress {
  height: 26px;
  margin-bottom: 0;
}
.progress-bar {
  font-size: inherit;
  line-height: 26px;
}
.clearfix {
  height: 34px;
}
.demo {
  background-color: #00bbff;
}