.list-inline {
  margin-left: 0;
}
.flag {
  margin-top: -8px;
}
h1 {
  margin-top: 2px;
  margin-bottom: 2px
}
.panel-header {
  padding-bottom: 0;
  margin-bottom: 4px;
  height: 132px;
}
.panel-start {
  text-align: center;
  padding: 16px;
}
.panel-start .btn-start{
  font-size: 32px;
}
.steps {
  margin-bottom: 3px;
  padding: 0 4px;
  width: 100%;
  float: right;
}
.btn-step {
  margin-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 3px solid inherit;
}
.active {
  position: relative;
  top: 4px;
  margin-top: 0 !important;
  height: 51px;
  color: white;
}
.inactive {
  border-bottom-width: 3px;
}
.activeLevel .inactive {
  border-bottom: 3px solid white;
}
.inactive:hover {
  background-color: white;
}
.active.btn-overview {
  background-color: rgb(127, 149, 165);
  border-bottom: 3px solid rgb(127, 149, 165);
}
.inactive:hover.btn-overview {
  border-bottom: 3px solid rgb(127, 149, 165);
}
.learn-header.overview {
  background-color: rgb(127, 149, 165);
}
.active.btn-intro {
  background-color: rgb(125, 164, 131);
  border-bottom: 3px solid rgb(125, 164, 131);
}
.inactive:hover.btn-intro {
  border-bottom: 3px solid rgb(125, 164, 131);
}
.learn-header.intro {
  background-color: rgb(125, 164, 131);
}
.active.btn-study {
  background-color: rgb(173, 200, 136);
  border-bottom: 3px solid rgb(173, 200, 136);
}
.inactive:hover.btn-study {
  border-bottom: 3px solid rgb(173, 200, 136);
}
.learn-header.study {
  background-color: rgb(173, 200, 136);
}
.active.btn-practise {
  background-color: rgb(220, 202, 83);
  border-bottom: 3px solid rgb(220, 202, 83);
}
.inactive:hover.btn-practise {
  border-bottom: 3px solid rgb(220, 202, 83);
}
.learn-header.practise {
  background-color: rgb(220, 202, 83);
}
.active.btn-review {
  background-color: rgb(242, 196, 15);
  border-bottom: 3px solid rgb(242, 196, 15);
}
.inactive:hover.btn-review {
  border-bottom: 3px solid rgb(242, 196, 15);
}
.learn-header.review {
  background-color: rgb(242, 196, 15);
}
.active.btn-difficult {
  background-color: rgb(243, 156, 17);
  border-bottom: 3px solid rgb(243, 156, 17);
}
.inactive:hover.btn-difficult {
  border-bottom: 3px solid rgb(243, 156, 17);
}
.learn-header.difficult {
  background-color: rgb(243, 156, 17);
}
.active.btn-exam {
  background-color: rgb(232, 76, 61);
  border-bottom: 3px solid rgb(232, 76, 61);
}
.inactive:hover.btn-exam {
  border-bottom: 3px solid rgb(232, 76, 61);
}
.learn-header.exam {
  background-color: rgb(232, 76, 61);
}
.btn .fa {
  margin-right: 4px;
}
.learn-header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 8px;
}
.learn{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 4px;
  background-color: #eee;
  background: linear-gradient(90deg, #efefef , #fff);
}
.closeExercises {
  height: 36px;
  font-size: 36px;
  color: white;
  margin-bottom: 12px;
  text-shadow: 1px 1px 1px #333;
  cursor: pointer;
}
.register {
  font-style: italic;
  font-size: 24px;
  color: #999;
  padding: 60px 20px;
  background-color: white;
}
.badge {
  background-color: #ccc;
}
.remaining {
  background-color: red;
  color: white;
}
.lesson-title {
  font-size: 20px;
  font-style: italic;
  height: 22px;
  color: #666;
}
.overview {
  background: #7f95a5;
}
.study {
  background: #adc888;
}
.practise {
  background: #dcca53;
}
.review {
  background: #f2c40f;
}
.difficult {
  background: #f39c11;
}
.rehearse {
  background: #428bca;
}
.exam {
  background: #e84c3d;
}
/*
.fa-repeat {
  color: #f2c40f;
}
.fa-fire {
  color: #f39c11;
}
.fa-clock-o {
  color: #e84c3d;
}
*/