<div class="panel panel-default">
  <div class="panel-body">
    <div class="image">
      <img src="{{course?.image || defaultImage}}" class="course-img">
      <div class="demo" *ngIf="course?.isDemo && (tpe === listType.Teach || isNotLoggedIn())">Demo</div>
    </div>
    <div class="course">
      <h3>
        <img src="/assets/img/flags/{{course?.languagePair.from}}.png" class="flag from"><span class="fa fa-arrow-right flag-from"></span><img src="/assets/img/flags/{{regionTo}}.png" class="flag">
        {{course.name}}
        <span class="icons" *ngIf="tpe === listType.Teach">
          <span 
            class="fa"
            [ngClass]="{
              'fa-lock': !course.isPublic,
              'fa-user': course.isPublic}"
            [tooltip]="text[course.isPublished ? 'iCoursePublic': 'iCourseNotPublic']"
            [tooltipPlacement]="'top'">
          </span>
          <span 
            class="fa"
            [ngClass]="{
              'fa-power-off': !course.isPublished,
              'fa-wifi': course.isPublished}"
            [tooltip]="text[course.isPublished ? 'iCoursePublished': 'iCourseNotPublished']"
            [tooltipPlacement]="'top'">
          </span>
          <span 
            class="fa"
            [ngClass]="{
              'fa-industry': course.isInProgress,
              'fa-check': !course.isInProgress}"
            [tooltip]="text[course.isInProgress ? 'iCourseInProgress': 'iCourseComplete']"
            [tooltipPlacement]="'top'">
          </span>
        </span>
        <span *ngIf="course.isInProgress && tpe !== listType.Teach"
          class="fa fa-industry fa-industry-large"
          [tooltip]="text[course.isInProgress ? 'iCourseInProgress': 'iCourseComplete']"
          [tooltipPlacement]="'top'">
        </span>
        <span class="fa fa-info-circle"
          (click)="onToggleDetails()"
          [ngClass]="{
            selected: showCourseDetails,
            'text-muted': !showCourseDetails,
            'text-success': showCourseDetails
          }"
          [tooltip]="text['iCourseDetails']"
          [tooltipPlacement]="'top'">
        </span>
      </h3>
      <div class="course-details" *ngIf="showCourseDetails">
        <div class="clearfix">
          <label for="description" class="control-label col-xs-2">
            {{text["Description"]}}:
          </label>
          <div class="col-xs-10">
            {{course.description}}
          </div>
        </div>
        <div class="clearfix">
          <label for="published" class="control-label col-xs-2">
            {{text["PublishedOn"]}}:
          </label>
          <div class="col-xs-10">
            {{course.dt.published | date:'yyyy-MM-dd'}}
          </div>
        </div>
        <div class="clearfix">
          <label for="author" class="control-label col-xs-2">
            {{text["Creator"]}}:
          </label>
          <div class="col-xs-10">
            <km-compact-profile
              [profile]="{_id:course?.creatorId, loadData: true, userOnly: true}"
              [text]="text">
            </km-compact-profile>
          </div>
        </div>
      </div>
      <div *ngIf="tpe===listType.All || tpe===listType.Teach" class="buttons">
        <button class="btn btn-success" *ngIf="course?.isPublished"
          [class.disabled]="!course.isPublished"
          (click)="onStartCourse()">
          <span class="fa fa-arrow-right fa-spacing"></span>
          {{isSubscribed ? text["continuecourse"] : text["startcourse"]}}
        </button>
        <button class="btn btn-info" *ngIf="!course?.isPublished"
          (click)="onTestCourse()">
          <span class="fa fa-arrow-right fa-spacing"></span>
          {{text["testcourse"]}}
        </button>
        <button class="btn btn-warning" *ngIf="isCourseAuthor()"
          (click)="onEditCourse()">
          <span class="fa fa-pencil fa-spacing"></span>{{text["updatecourse"]}}
        </button>
      </div>
      <div *ngIf="(tpe===listType.Learn || tpe===listType.Home) && !isDemo" class="buttons">
        <button type="button" class="btn btn-success" *ngIf="percDone < 100"
          (click)="onContinueCourse()">
          <span class="fa fa-arrow-right fa-spacing"></span>
          {{text["continuecourse"]}}
        </button>
        <button type="button" class="btn btn-review btn-badge"
          (click)="onContinueCourse('review')">
          <span class="fa fa-repeat fa-spacing"></span>
          {{text["Review"]}}
          <br>
          <div class="badge" *ngIf="badgeData.review">{{badgeData.review}}</div>
        </button>
        <button type="button" class="btn btn-warning"
          (click)="onContinueCourse('difficult')">
          <span class="fa fa-fire fa-spacing"></span>
          {{text["Difficult"]}}
          <br>
          <div class="badge" *ngIf="badgeData.difficult">{{badgeData.difficult}}</div>
        </button>
        <button type="button" class="btn btn-danger"
          (click)="onContinueCourse('exam')">
          <span class="fa fa-clock-o fa-spacing"></span>
          {{text["takeexam"]}}
          <br>
          <div class="badge" *ngIf="badgeData.exam">{{badgeData.exam}}</div>
        </button>
        <button type="button" class="btn btn-info btn-overview"
          (click)="onContinueCourse('overview')">
          <span class="fa fa-th-list fa-spacing"></span>
          {{text["Overview"]}}
          <br>
        </button>
      </div>
      <div *ngIf="tpe===listType.Learn && isDemo">
        <button type="button" class="btn btn-success"
          (click)="onContinueCourse()">
          <span class="fa fa-arrow-right fa-spacing"></span>
          {{text["TestCourse"]}}
        </button>
      </div>
      <div class="stop pull-right" *ngIf="tpe===listType.Learn && !isDemo">
        <button type="button" class="btn btn-default"
          (click)="onStopLearningCourse()">
          <span class="fa fa-times-circle fa-spacing"></span>
          {{text["Stoplearningcourse"]}}
        </button>
      </div>
      <div class="info">
        <div>{{doneData.words}}{{doneData.words === undefined ? '' : ' / '}}{{course.wordCount || 0}} {{course.wordCount === 1 ? text["word"] : text["words"]}}</div>
        <div>{{doneData.exercises}}{{doneData.exercises === undefined ? '' : ' / '}}{{course.exercisesCount || 0}} {{course.exercisesCount === 1 ? text["exercise"] : text["exercises"]}}</div>
        <div class="dates" *ngIf="tpe === listType.Learn && userData?.dt">
          {{text["StartedOn"]}}: {{userData?.dt?.dtSubscribed | date:'yyyy-MM-dd'}}
        </div>
        <div class="dates" *ngIf="tpe === listType.Home">
          {{text["LastActivity"]}}: {{lastActivity}}
        </div>
        <div class="access" *ngIf="tpe === listType.Teach">
          <span class="fa fa-key fa-spacing"></span>{{getAccessLevel()}}
        </div>
      </div>
      <div class="progress" *ngIf="(tpe===listType.Learn || tpe===listType.Home) && !isDemo">
        <div 
          class="progress-bar progress-bar-success progress-bar-striped" 
          role="progressbar" 
          [attr.aria-valuenow]="doneData.total"
          aria-valuemin="0"
          [attr.aria-valuemax]="course.totalCount" 
          [style.width.%]="percDone">
          <span>
            {{doneData.total}}/{{course.totalCount}} ({{percDone}}%)
          </span>
        </div>
      </div> 
    </div>
  </div>
</div>