<div class="closeExercises" *ngIf="exercisesStarted">
  <span class="fa fa-times pull-right" (click)="onExitExercises(confirmexit)"></span>
</div>

<km-lesson-selector
  *ngIf="course && !exercisesStarted"
  [course]="course"
  [courseLevel]="courseLevel"
  [text]="text"
  [nextLesson]="nextLesson"
  (currentLesson)="onLessonSelected($event)">
</km-lesson-selector>


<div *ngIf="isStepsReady && !exercisesStarted" class="row">
  <div class="col-xs-7 panel-lesson">
    <ul class="list-unstyled list-inline steps"
      [class.activeLevel]="courseLevel===level.Lesson">
      <ng-template ngFor [ngForOf]="steps" let-step let-i="index">
        <li 
          *ngIf="step.level === level.Lesson"
          (click)="stepTo(i)" 
          class="btn btn-lg btn-step"
          [ngClass]="{
            'btn-overview': step.name==='overview',
            'btn-intro': step.name==='intro',
            'btn-study': step.name==='study',
            'btn-practise': step.name==='practise',
            'active': currentStep===i,
            'inactive': currentStep!==i
          }">
          {{text[capitalize(step.name)]}} <span class="remaining" *ngIf="step.name !== 'intro'">({{countPerStep[step.name]?.nrRemaining}})</span>
        </li>
      </ng-template>
    </ul>
  </div>
  <div class="col-xs-5 panel-course">
    <ul class="list-unstyled list-inline steps pull-right"
      [class.activeLevel]="courseLevel===level.Course">
      <ng-template ngFor [ngForOf]="steps" let-step let-i="index">
        <li *ngIf="step.level === level.Course"
          (click)="stepTo(i)" 
          class="btn btn-lg btn-step"
          [ngClass]="{
            'btn-review': step.name==='review', 
            'btn-difficult': step.name==='difficult',
            'btn-exam': step.name==='exam',
            'active': currentStep===i,
            'inactive': currentStep!==i
          }">
          {{text[capitalize(step.name)]}} <span class="remaining">({{countPerStep[step.name]?.nrRemaining}})</span>
        </li>
      </ng-template>
    </ul>
  </div>
</div>
<div *ngIf="isStepsReady && course">
  <div class="learn-header"
    [ngClass]="steps[currentStep]?.name">
  </div>
  <div 
    [ngSwitch]="steps[currentStep]?.name"
    class="learn"
    [ngClass]="steps[currentStep]?.name"
    *ngIf="!showStartButton">
    <km-learn-intro *ngSwitchCase="'intro'"
      [lessonId]="this.lesson._id"
      [text]="text"
      (stepCompleted)="onStepCompleted('intro', null)">
    </km-learn-intro>
    <km-learn-study  *ngSwitchCase="'study'"
      [exercises]="lesson.exercises"
      [lanPair]="course.languagePair"
      [lessonId]="this.lesson._id"
      [text]="text"
      [options]="lesson?.exerciseSteps.study"
      [settings]="settings"
      [exercisesInterrupted]="exercisesInterrupted"
      (skipStep)="onSkipStep()"
      (stepCompleted)="onStepCompleted('study', $event)"
      (updatedSettings)="onSettingsUpdated($event)"
    >
    </km-learn-study>
    <km-learn-practise *ngSwitchCase="'practise'"
      [exercises]="lesson.exercises"
      [lanPair]="course.languagePair"
      [options]="lesson?.exerciseSteps.practise"
      [lessonId]="this.lesson._id"
      [text]="text"
      [learnedLevel]="isLearnedLevel"
      [settings]="settings"
      [exercisesInterrupted]="exercisesInterrupted"
      (lessonCompleted)="onLessonCompleted()"
      (stepCompleted)="onStepCompleted('practise', $event)"
      (stepBack)="onStepBack()"
      (updatedSettings)="onSettingsUpdated($event)"
    >
    </km-learn-practise>
    <km-learn-review *ngSwitchCase="'review'"
      [courseId]="courseId"
      [lanPair]="course.languagePair"
      [text]="text"
      [settings]="settings"
      [exercisesInterrupted]="exercisesInterrupted"
      (stepCompleted)="onStepCompleted('review', $event)"
      (updatedSettings)="onSettingsUpdated($event)"
    >
    </km-learn-review>
    <km-learn-overview *ngSwitchCase="'overview'"
      [lessonId]="lesson._id"
      [exercises]="lesson.exercises"
      [text]="text"
      [isLearnedLevel]="isLearnedLevel"
    >
    </km-learn-overview>
  </div>
  <div *ngIf="showStartButton" class="panel panel-start">
    <button 
      type="button"
      class="btn btn-success btn-start"
      (click)="onStartStudy()"
    >
      {{text["StartStudy"]}}
    </button>
  </div>
</div>

<km-info-msg
  [msg]="infoMsg">
</km-info-msg>
<km-error-msg
  [msg]="errorMsg">
</km-error-msg>

<km-modal-confirm #confirmexit
  [level]="'warning'"
  [text]="text"
  (confirmed)="onExitConfirmed($event)">
  <div title>{{text["Warning"]}}</div>
  <div message>{{text["ConfirmExit"]}}</div>
</km-modal-confirm>