.image {
  width: 162px;
  height: 202px;
  border: 1px solid #333;
  float: left;
}
.course {
  margin-left: 180px;
}
.description {
  overflow: hidden;
  font-size: 16px;
  height: 26px;
  color: #aaa;
  font-style: italic;
  margin-left: 6px;
}
.info {
  margin: 14px 0 8px 6px;
  height: 64px;
  color: #333;
}
.access {
  margin-top: 6px;
}
.stop {
  margin-top: 30px;
}
h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 28px;
}
.icons {
  font-size: 16px;
  color: #999;
  display: inline-block;
  margin-left: 10px;
}
.buttons {
  margin: 17px 0;
}
.icons .fa-user,
.icons .fa-check,
.icons .fa-wifi {
  color: green;
}
.fa-times-circle {
  color: red;
}
.fa-info-circle {
  cursor: pointer;
  font-size: 20px;
  margin-left: 8px;
}
.fa-industry-large {
  color: red;
  font-size: 22px;
}
.course-img {
  width: 160px;
  height: 200px;
}
.progress {
  height: 26px;
  margin-bottom: 0;
}
.progress-bar {
  font-size: inherit;
  line-height: 26px;
}
.clearfix {
  height: 34px;
}
.demo {
  background-color: #00bbff;
}
.btn-badge {
  height: 38px;
}
.btn-overview {
  margin-left: 8px;
}
.flags {
  border: 1px solid #333;
  border-radius: 3px;
  display: block;
  float: left;
  margin-top: 4px;
  margin-right: 6px;
}
img.from {
  opacity: 0.7;
}
/* override bootstrap */
.badge {
  top: -38px;
  left: 9px;
  background-color: red;
  color: white;
}
.btn {
  text-align: right;
  padding: 7px 12px;
  height: 40px;
}
/* btn-review */
.btn-review { 
  color: #ffffff; 
  background-color: #F2C40F; 
  border-color: #E2B500; 
} 
 
.btn-review:hover, 
.btn-review:focus, 
.btn-review:active, 
.btn-review.active, 
.open .dropdown-toggle.btn-review { 
  color: #ffffff; 
  background-color: #e8ba00; 
  border-color: #E2B500; 
} 
 
.btn-review:active, 
.btn-review.active, 
.open .dropdown-toggle.btn-review { 
  background-image: none; 
} 
 
.btn-review.disabled, 
.btn-review[disabled], 
fieldset[disabled] .btn-review, 
.btn-review.disabled:hover, 
.btn-review[disabled]:hover, 
fieldset[disabled] .btn-review:hover, 
.btn-review.disabled:focus, 
.btn-review[disabled]:focus, 
fieldset[disabled] .btn-review:focus, 
.btn-review.disabled:active, 
.btn-review[disabled]:active, 
fieldset[disabled] .btn-review:active, 
.btn-review.disabled.active, 
.btn-review[disabled].active, 
fieldset[disabled] .btn-review.active { 
  background-color: #F2C40F; 
  border-color: #E2B500; 
} 
