.lanselector {
  padding: 0;
  margin-bottom: 1px;
}
.nocourses {
  margin-bottom: 12px;
}
.login {
  font-size: 20px;
}
.lnk {
  cursor: pointer;
  color: blue;
}
.btn-new-course {
  margin-bottom: 12px;
}