<div class="dialogue">
  <div class="panel panel-default">
    <div class="panel-heading">
      <img src="/assets/img/flags/{{languagePair.to}}.png" class="flag">
      <b>{{dialogue?.foreignTitle}}</b>
    </div>
    <div class="panel-body">
        <ng-container 
          *ngTemplateOutlet="dialogueTemplate;context:{lines:dialogue?.foreign.split('<hr>')}">  
        </ng-container>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <img src="/assets/img/flags/{{languagePair.from}}.png" class="flag">
      <b>{{dialogue?.localTitle}}</b>
    </div>
    <div class="panel-body">
      <ng-container 
        *ngTemplateOutlet="dialogueTemplate;context:{lines:dialogue?.local.split('<hr>')}">  
      </ng-container>
    </div>
  </div>
</div>

<ng-template #dialogueTemplate let-lines=lines>
  <dl [class.dl-horizontal]="dialogue.tpe==='Dialogue'">
    <span 
      *ngFor="let line of lines; let i=index"
      [innerHTML]="line | sanitizeHtml"
      (mouseover)="onSelectLine(i)"
      (mouseout)="onDeSelectLine()"
      class="d-line"
      [class.d-selected]="selectedLine === i"
      >
    </span>
  </dl>
</ng-template>