:host {
  display: block;
  margin-top: 32px;
  text-align: center;
  margin-left: -32px;
  margin-right: -32px;
}
.choice {
  width: 332px;
  margin: 3px 6px;
  font-size: 24px;
  text-align: left;
  white-space: normal;
}
.done {
  background-color: #eee;
  border-color: #eee;
  cursor: default;
}
.done.ok {
  background-color: green;
  color: white;
}
.done.nok {
  background-color: red;
  color: white;
}
.done.correction {
  border-color: green;
  color: green;
}
.nr {
  color: #ccc;
}
.answer-instruction {
  text-align: left;
  margin-left: 16px;
  font-size: 16px;
  font-style: italic;
  color: #bbb;
}
.region-flag{
  margin-left: 16px;
  margin-right: 12px;
}
