<div class="answer-instruction">
  <km-region-flag class="region-flag"
    [lan]="lan"
    [word]="flagWord">
  </km-region-flag>
  <span [style.visibility]="answered ? 'hidden' : 'visible'">
    <span class="fa fa-info-circle fa-spacing"></span>{{instruction}}
  </span>
</div>
<div 
  *ngFor="let choice of choices; let i=index" 
  class="btn btn-default btn-lg choice"
  [ngClass]="{
    'done':isSelected, 
    'ok':correct && i===answered, 
    'nok':!correct && i===answered,
    'correction':!correct && i===answer}"
  (click)="onSelected(i)">
  <span class="nr">{{i+1}}.</span> <span class="word">{{filter(choice)}}</span>
</div>