<div class="answer-instruction" [style.visibility]="disabled ? 'hidden' : 'visible'">
  <span class="fa fa-info-circle"></span>
  {{instruction}}
</div>
<div class="form-group">
  <label 
    for="answer" 
    class="control-label col-xs-1">
    <img src="/assets/img/flags/{{lan}}.png" class="flag">
  </label>
  <div class="col-xs-11">
    <div class="input-group input-lg">
      <span class="input-group-addon" *ngIf="prefix">
        {{prefix}}
      </span>
      <input 
        class="form-control input-lg" 
        id="answer"
        maxlength="100"
        autofocus
        autocomplete="off"
        spellcheck="false"
        [attr.disabled]="disabled ? '': null"
        [ngClass]="{
          correct: disabled && data.isCorrect && !data.isAlt,
          incorrect: disabled && !data.isCorrect && !data.isAlmostCorrect,
          isAlt: disabled && data.isCorrect && data.isAlt,
          isAlmostCorrect: disabled && !data.isCorrect && data.isAlmostCorrect }"
        #answer>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="solution" *ngIf="disabled && (!data.isCorrect || data.isAlt)">
  <span class="msg">{{solution.msg}} </span><span class="answer">{{solution.solution}}</span>
</div>
<km-keyboard 
  *ngIf="keyboard.showKeyboard && !disabled"
  [keys]="keyboard.keys"
  (selectedKey)="onKeySelected($event)">
</km-keyboard>