.answer-instruction {
  margin-bottom: 8px;
  margin-left: 0;
  font-size: 16px;
  font-style: italic;
  color: #bbb;
}
.solution {
  font-size: 18px;
  margin-left: 0;
}
.buffer {
  margin-bottom: 15px;
}
input {
  width: 50%;
}
h1 {
  display: inline;
  position: relative;
  top: 6px;
}
.form-group {
  margin-bottom: 6px;
}
