<div class="qa-question" *ngIf="!sentence[0]">
  <km-question
    [currentData]="data"
    [lanPair]="lanPair"
    [text]="text"
    [dir]="'local'"
    [settings]="settings"
    [showAlt]="true"
  ></km-question>
</div>
<div class="clearfix"></div>
<div class="answer-instruction" [style.display]="isAnswered ? 'none' : 'block'" *ngIf="sentence[0]">
  <div class="qa-instruction">
    <span class="fa fa-info-circle"></span>
    {{instruction}}
  </div>
  <div class="qa-hint" *ngIf="question">
    <span class="fa fa-exclamation-circle"></span>
    {{text["hint"]}}: <span class="hint">{{question}}</span>
  </div>
</div>
<div class="form-group qa-answer">
  <label class="control-label col-xs-1">
    <km-region-flag class="flag-to"
      [lan]="lanPair.to"
      [word]="data.exercise.foreign">
    </km-region-flag>
  </label>
  <div class="col-xs-11">
    <div class="input-group answer">
      <span class="input-group-addon" *ngIf="sentence[0]">
        <span class="sentence">{{sentence[0]}}</span>
      </span>
      <input 
        type="text"
        class="form-control input-lg" 
        id="answer"
        maxlength="100"
        autofocus
        autocomplete="off"
        spellcheck="false"
        [attr.disabled]="isAnswered ? '' : null"
        [ngClass]="{
          correct: isAnswered && data.data.isCorrect,
          incorrect: isAnswered && !data.data.isCorrect,
          isAlmostCorrect: isAnswered && !data.data.isCorrect && data.data.isAlmostCorrect}"
        #answer>
      <span class="input-group-addon">
        <span class="sentence">{{sentence[1]}}</span>
      </span>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="solution" *ngIf="isAnswered && (!data.data.isCorrect || data.data.isAlt)">
  <span class="msg">{{text["Expectedanswer"]}} </span><span class="answer">{{correctAnswer}}</span>
</div>
<km-keyboard 
  *ngIf="keyboard.showKeyboard && !isAnswered"
  [keys]="keyboard.keys"
  (selectedKey)="onKeySelected($event)">
</km-keyboard>