:host {
  font-size: 18px;
}

/* Headers */
/deep/ h1.i{
  border-bottom: 6px double #06ae97;
}
/deep/ h2.i{
  border-bottom: 4px double #06ae97;
  font-size: 26px;
}
/deep/ h3.i{
  border-bottom: 1px solid #06ae97;
  font-size: 20px;
}
/* Size */
/deep/ span.i-size-1{
  font-size: 20px;
}
/deep/ span.i-size-2{
  font-size: 24px;
}
/deep/ span.i-size-3{
  font-size: 36px;
}
/* Tab */
/deep/ span.i-tab-1{
  margin-left: 20px;
}
/deep/ span.i-tab-2{
  margin-left: 40px;
}
/deep/ span.i-tab-3{
  margin-left: 60px;
}
/deep/ span.block{
  display: block;
}
/* Color */
/deep/ span.i-color-f{
  color: red;
  font-weight: bold;
}
/deep/ span.i-color-m,
/deep/ span.i-color-mi{
  color: darkBlue;
  font-weight: bold;
}
/deep/ span.i-color-ma{
  color: dodgerBlue;
  font-weight: bold;
}
/deep/ span.i-color-n{
  color: green;
  font-weight: bold;
}
/* Lists */
/deep/ .i-list > li:hover {
  background-color: #e8fcfa;
}
/* borders */
/deep/ .btn-default:hover {
  background-color: #e8fcfa;
}
/* translations */
/deep/ .translation {
  color: #bbbaba;
  font-style: italic;
  text-align: right;
  display: block;
  margin-top: -8px;
  padding: 0 2px;
}
/* Tables */
/deep/ .i-table tr {
  border: 1px dashed #aaa;
  background-color: white;
}
/deep/ .i-table th {
  border-bottom: 1px solid black;
}
/deep/ .i-table th.inverse,
/deep/ .i-table td.inverse {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
/deep/ .i-table {
  border: 1px solid black;
  border-radius: 6px;
}
/deep/ .i-table .right {
  text-align: right;
}
/deep/ .i-table .center {
  text-align: center;
}
/deep/ .i-table .left {
  text-align: left;
}
/deep/ .i-table td,
/deep/ .i-table th {
  padding: 3px 6px;
  border-left: 1px dotted #aaa;
}
/deep/ .i-table .inverse,
/deep/ .i-table th {
  background-color: #4c96af;
  color: white;
}
/deep/ .i-table tr:hover {
  background-color: #e8fcfa;
  cursor: default;
}
/* audio */
/deep/ .fa-play-circle,
/deep/ .fa-pause-circle {
  font-size: 32px;
  cursor: pointer;
  margin: 4px 8px;
}