:host {
  margin: 6px 0 0 40px; 
  display: block;
}
.key {
  font-size: 20px;
  border: 1px solid #666;
  border-radius: 4px;
  padding-bottom: 4px;
  margin: 1px 3px;
  text-align: center;
  display: inline-block;
  width: 36px;
  height: 28px;
  cursor: pointer;
  background-color: white;
  box-shadow: 3px 2px #ccc;
}
.key:hover {
  background-color: #eee;
}
.selected {
  background-color: #666;
  color: white;
}
.skip {
  display: inline-block;
  width: 42px;
  height: 28px;
}