<section kmPressed 
[keyPressed]="'Enter'"
(onKeyPressed)="onEnter()">
  <div class="col-xs-8">
    <div class="panel centerpanel">
      <div class="bullets" *ngIf="!isStudyDone">
        <span 
          *ngFor="let exercise of exercises; let i=index"
          class="fa"
          [ngClass]="{
            'fa-circle-o': !isCurrent(i), 
            'fa-circle': isCurrent(i), 
            'green': isWordDone(i)}">
        </span>
      </div>
      <div *ngIf="!isStudyDone" class="card">
        <div class="question">
          <h1>
            <span>
              <img src="/assets/img/flags/{{lanPair.to}}.png" class="flag">
            </span>
            <span 
              class="word" 
              kmWordColor 
                [identifier]="currentExercise.genus" 
                [tpe]="currentExercise.wordTpe"
                [active]="settings.color">
              {{currentData.wordForeign}}
            </span>
            <span class="suffix">{{currentData.foreign.suffix}}</span>
            <span class="suffix">{{currentData.foreign.genus}}</span>
            <span class="audio pull-right" *ngIf="currentExercise.audios && currentExercise.audios.length > 0">
              <km-audio-file
                [fileName]="currentExercise.audios[0]"
                [active]="!settings.mute"
                autoPlay="true">
              </km-audio-file>
            </span>
          </h1>
          <div class="wordinfo">
            <div
              class="label label-annotation"
              *ngFor="let annotation of currentData.annotations">
              {{annotation}}
            </div>
            <div class="hint" *ngIf="currentExercise.foreign?.hint">
              {{text.hint}}: {{currentExercise.foreign?.hint}}
            </div>
            <div class="info" *ngIf="currentExercise.foreign?.info">
              {{currentExercise.foreign?.info}}
            </div>
          </div>
        </div>
        <div class="answer">
          <h1 class="word">
            <span>
              <img src="/assets/img/flags/{{lanPair.from}}.png" class="flag">
            </span>
              <span *ngIf="showLocal else loading">
                {{currentData.wordLocal}}  
              </span>
          </h1>
        </div>
      </div>

      <!-- STUDY DONE -->
      <div *ngIf="isStudyDone">
        <h3>Words learned:</h3>
        <km-completed-list [data]="exerciseData">
        </km-completed-list>
        <div class="btn btn-success" (click)="onNextWord(1)">
          <span class="fa fa-step-forward"></span>
          {{text.RestartStudy}}
        </div>
        <div class="btn btn-warning" (click)="onSkipRequested(confirm)">
          <span class="fa fa-fast-forward"></span>
          {{text.PractiseStudy}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <km-learn-settings
      [step]="'study'"
      [hasGenus]="!!this.currentExercise.genus"
      [settings]="settings"
      (updatedSettings)="onSettingsUpdated($event)">
    </km-learn-settings>
    <div class="actions">
      <div class="btn btn-success" (click)="onNextWord(1)">
        <span class="fa fa-step-forward"></span>
        {{isStudyDone ? text.Restart : text.Next}}
      </div>
      <div class="btn btn-warning" (click)="onSkipRequested(confirm)">
        <span class="fa fa-fast-forward"></span>
        {{isStudyDone ? text.Practise : text.Skip}}
      </div>
    </div>
    SCORE : {{score}}
  </div>
  <!-- <pre>{{currentExercise|json}}</pre>
  <pre>{{lanPair|json}}</pre> -->
  <div class="clearfix"></div>
</section>

<ng-template #loading>
  <span class="loading">
    <span *ngFor="let dot of dotArr">
      <span class="fa fa-circle">
      </span>
    </span>
  </span>
</ng-template>

<km-modal-confirm #confirm
  [level]="'warning'"
  [text]="text"
  (confirmed)="onSkipConfirmed($event)">
  <div title>{{text.Warning}}</div>
  <div message>Ben je zeker dat je de studie wil onderbreken?</div>
</km-modal-confirm>
