.panel {
  background-color: inherit;
}
.centerpanel {
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
}
.center {
  text-align: center;
}
.card {
  border: 2px solid #999;
  box-shadow: 2px 2px 2px #ccc;
  border-radius: 12px;
  padding: 20px;
  margin: 20px 0;
  background-color: white;
}
h1 {
  margin-top: 0;
  font-size: 46px;
}
.bullets{
  color: grey;
  font-size: 20px;
}
.bullets span {
  margin: 0 2px
}
.green {
  color: green;
}
.settings {
  color: #333;
  font-size: 26px;
  cursor: pointer;
}
.wordinfo {
  margin-left: 44px;
}
.wordinfo .label{
  font-size: 100%;
}
.suffix {
  font-size: 20px;
}
.red {
  color: red;
}
.green {
  color: green;
}
.lblue {
  color: DeepSkyBlue;
}
.dblue {
  color: navy;
}
.studiedList {
  margin-left: 12px;
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 32px;
}
.studiedLocal {
  color: #999;
}
.foreign {
  min-height: 100px;
}
.local > .word {
  margin-top: 32px;
  height: 78px;
}
.loading {
  text-align: left;
  font-size: 8px;
  color: #999;
  margin-top: 50px;
  height: 70px;
}
.label-default {
  background-color: #bbb;
}
.flag img{
  border: 1px solid #333;
  border-radius: 2px;
}
.audio {
  margin-top: 4px;
}
.audio >>> .fa {
  font-size: 40px;
  color: #333;
}