.centerpanel {
  margin: 0 auto;
  width: 400px;
}
.center {
  text-align: center;
}
.loading {
  text-align: left;
  font-size: 8px;
  color: #999;
  margin-top: 40px;
}
.bullets{
  color: grey;
  font-size: 20px;
}
.bullets span {
  margin: 0 2px
}
.green {
  color: green;
}
.settings {
  color: #333;
  font-size: 26px;
  cursor: pointer;
}
.wordinfo .label{
  font-size: 100%;
}
.foreignWord {
}
.suffix {
  font-size: 20px;
}
.red {
  color: red;
}
.green {
  color: green;
}
.lblue {
  color: DeepSkyBlue;
}
.dblue {
  color: navy;
}
.studiedList {
  margin-left: 12px;
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 32px;
}
.studiedLocal {
  color: #999;
}
.localWord {
  margin-top:32 px;
}