.green {
  color: green;
}
.suffix {
  font-size: 20px;
}
.red {
  color: red;
}
.green {
  color: green;
}
.lblue {
  color: DeepSkyBlue;
}
.dblue {
  color: navy;
}
.studiedList {
  margin-left: 12px;
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 32px;
}
.studiedLocal {
  color: #999;
}
.answer {
  min-height: 100px;
}
.answer > .word {
  margin-top: 32px;
  height: 78px;
}
.loading {
  text-align: left;
  font-size: 8px;
  color: #999;
  margin-top: 50px;
  height: 70px;
}