<div *ngIf="lesson">
  <h2>{{course.name}}</h2>
  <h3>{{lesson.chapterName}} - {{lesson.name}}</h3>
</div>

<div *ngIf="exercises">
  {{steps}}
  <ul class="list-unstyled list-inline lead steps">
    <ng-template ngFor [ngForOf]="steps" let-step let-i="index">
      <li 
        (click)="stepTo(i)" 
        class="btn btn-lg"
        [ngClass]="'clr-' + step"
        [class.btn-success]="step==='intro'"
        [class.btn-primary]="step==='review'"
        [class.btn-danger]="step==='exam'"
        [class.btn-info]="step!=='intro' && step!=='exam' &&  step!=='review'"
        [class.inactive]="currentStep!==i">
        <span class="fa fa-check" *ngIf="stepCompleted[i]"></span>
        {{text[step.charAt(0).toUpperCase() + step.slice(1)]}}
      </li>
      <li class="arrow" *ngIf="i < steps.length - 1">
        <span class="fa fa-arrow-right"></span>
      </li>
    </ng-template>
  </ul>
</div>

<div [ngSwitch]="currentStep" class="learn" [ngClass]="steps[currentStep]">
  <km-learn-study  *ngSwitchCase="1"
    [exercises]="exercises"
    [lanPair]="course.languagePair"
    [text]="text"
    [options]="lesson?.exerciseTpes.study"
    [settings]="settings"
    (skipStep)="onSkipStep()"
    (stepCompleted)="onStepCompleted(1)"
    (updatedSettings)="onSettingsUpdated($event)"
  >
  </km-learn-study>
  <km-learn-practise *ngSwitchCase="2"
    [exercises]="exercises"
    [lanPair]="course.languagePair"
    [options]="lesson?.exerciseTpes.study"
    [lessonId]="lesson?._id"
    [text]="text"
    [settings]="settings"
    (updatedSettings)="onSettingsUpdated($event)"
  >
  </km-learn-practise>
  <km-learn-test *ngSwitchCase="3"
    [exercises]="exercises"
    [lanPair]="course.languagePair"
  >
  </km-learn-test>
</div>

<km-info-msg
  [msg]="infoMsg">
</km-info-msg>
<km-error-user-msg
  [msg]="errorMsg">
</km-error-user-msg>
