<section>
  <div class="col-xs-8">
    <div class="panel centerpanel">
      <div class="bullets">
        <span 
          *ngFor="let exercise of exercises; let i=index"
          class="fa"
          [ngClass]="{
            'fa-circle-o': !isCurrent(i), 
            'fa-circle': isCurrent(i), 
            'green': isWordDone(i)}">
        </span>
      </div>
      <div *ngIf="!isPractiseDone" class="card">
        <div class="question" *ngIf="currentExercise">
          <h1>
            <span>
              <img src="/assets/img/flags/{{lanPair.from}}.png" class="flag">
            </span>
            <span 
              class="word">
              {{wordLocal}}
            </span>
          </h1>
          <div class="wordinfo">
            <div class="hint" *ngIf="currentExercise.local?.hint">
              {{text.hint}}: {{currentExercise.local?.hint}}
            </div>
          </div>
        </div>
        <div class="choices">
          <div 
            *ngFor="let choice of currentChoices; let i=index" 
            class="btn btn-default btn-lg choice"
            [ngClass]="{
              'done':isSelected, 
              'ok':isCorrect && i===answered, 
              'nok':!isCorrect && i===answered,
              'correction':!isCorrect && i===answer}"
            (click)="onSelected(choice, i)">
            <span class="nr">{{i+1}}.</span> <span>{{choice}}</span>
          </div>
        </div>
      </div>

      <!-- PRACTISE DONE -->
      <div *ngIf="isPractiseDone">
        <h3>Words practised:</h3>
        <div class="studiedList">
          <div *ngFor="let exercise of exercises; let i=index">
            {{exercise.foreign?.word}} <span class="studiedLocal">- {{exercise.local.word}}</span>
          </div>
        </div>
        <div class="btn btn-success" (click)="onNextWord(1)">
          <span class="fa fa-step-forward"></span>
          {{text.RestartStudy}}
        </div>
        <div class="btn btn-warning" (click)="onSkipRequested(confirm)">
          <span class="fa fa-fast-forward"></span>
          {{text.PractiseStudy}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <km-learn-settings
      [step]="'practise'"
      [hasGenus]="!!this.currentExercise?.genus"
      [settings]="settings"
      (updatedSettings)="onSettingsUpdated($event)">
    </km-learn-settings>
    <div class="actions">
      <div class="btn btn-success" (click)="onNextWord(1)">
        <span class="fa fa-step-forward"></span>
        {{isStudyDone ? text.Restart : text.Next}}
      </div>
      <div class="btn btn-warning" (click)="onSkipRequested(confirm)">
        <span class="fa fa-fast-forward"></span>
        {{isStudyDone ? text.Practise : text.Skip}}
      </div>
    </div>
    SCORE : {{score}}
  </div>
  <div class="clearfix"></div>
</section>

<ng-template #loading>
  <span class="loading">
    <span *ngFor="let dot of dotArr">
      <span class="fa fa-circle">
      </span>
    </span>
  </span>
</ng-template>

<km-modal-confirm #confirm
  [level]="'warning'"
  [text]="text"
  (confirmed)="onSkipConfirmed($event)">
  <div title>{{text.Warning}}</div>
  <div message>Ben je zeker dat je de studie wil onderbreken?</div>
</km-modal-confirm>
