<section pressed 
[keyPressed]="'Enter'"
(onKeyPressed)="onEnter()">
  <div class="col-xs-8">
    <div class="bullets">
      <span 
        *ngFor="let exercise of exercises; let i=index"
        class="fa"
        [ngClass]="{
          'fa-circle-o': !isCurrent(i), 
          'fa-circle': isCurrent(i), 
          'green': isWordDone(i)}">
      </span>
    </div>
    <div *ngIf="!isStudyDone">

<pre>{{currentExercise|json}}</pre>
      <div class="center">
        <h1>{{wordForeign}}</h1>
        <div class="wordinfo">
          <div class="label label-default">{{text[currentExercise.wordTpe]}}</div>
          <div class="hint" *ngIf="currentExercise[lanLocal].hint">
            {{text.hint}}: {{currentExercise[lanLocal].hint}}
          </div>
          <div class="info" *ngIf="currentExercise[lanLocal].info">
            {{currentExercise[lanLocal].info}}
          </div>
        </div>

        <h1 *ngIf="showLocal else loading">{{wordLocal}}</h1>
      </div>
    </div>
    <div *ngIf="isStudyDone">
      Gestudeerde woorden:
      <div *ngFor="let exercise of exercises; let i=index">
        {{exercise[lanForeign].word}} / {{exercise[lanLocal].word}}
      </div>
      <div class="btn btn-success" (click)="onNextWord(1)">
        <span class="fa fa-step-forward"></span>
        {{text.RestartStudy}}
      </div>
      <div class="btn btn-warning" (click)="onSkipRequested(confirm)">
        <span class="fa fa-fast-forward"></span>
        {{text.PractiseStudy}}
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="btn btn-success" (click)="onNextWord(1)">
      <span class="fa fa-step-forward"></span>
      {{isStudyDone ? text.Restart : text.Next}}
    </div>
    <div class="btn btn-warning" (click)="onSkipRequested(confirm)">
      <span class="fa fa-fast-forward"></span>
      {{isStudyDone ? text.Practise : text.Skip}}
    </div>
    <div class="settings pull-right" (click)="updateSettings()">
      <span class="fa fa-cog"></span>
    </div>
    SCORE : {{score}}
  </div>
  <pre>{{exercises|json}}</pre>
  <pre>{{lanPair|json}}</pre>
</section>

<ng-template #loading>
  <div class="loading">
    <span *ngFor="let dot of dotArr">
      <span class="fa fa-circle">
      </span>
    </span>
  </div>
</ng-template>

<km-modal-confirm #confirm
  [level]="'warning'"
  [text]="text"
  (confirmed)="onSkipConfirmed($event)">
  <div title>{{text.Warning}}</div>
  <div message>Ben je zeker dat je de studie wil onderbreken?</div>
</km-modal-confirm>

<!--
<km-modal-settings #settings
  [tpe]="'study'"
  (updated)="onSettingsUpdated($event)">
  <div title>{{text.Warning}}</div>
  <div message>Ben je zeker dat je de studie wil onderbreken?</div>
</km-modal-confirm>
-->