<section kmPressed 
[keyPressed]="'Enter'"
(onKeyPressed)="onEnter()">
  <div class="col-xs-8">
    <div class="panel centerpanel">
      <div class="bullets">
        <span 
          *ngFor="let exercise of exercises; let i=index"
          class="fa"
          [ngClass]="{
            'fa-circle-o': !isCurrent(i), 
            'fa-circle': isCurrent(i), 
            'green': isWordDone(i)}">
        </span>
      </div>
      <div *ngIf="!isStudyDone" class="card">
        <div class="foreign">
          <h1>
            <span class="flag">
              <img src="/assets/img/flags/{{lanPair.to}}.png">
            </span>

            <span 
              class="word" 
              kmWordColor 
                [identifier]="currentExercise.genus" 
                [tpe]="currentExercise.wordTpe"
                [active]="settings.color">
              {{wordForeign}}
            </span>
            <span class="suffix">{{getSuffix()}}</span>
            <span class="suffix">{{getGenus()}}</span>
            <span class="audio pull-right" *ngIf="currentExercise.audios && currentExercise.audios.length > 0">
              <km-audio-file
                [fileName]="currentExercise.audios[0]"
                [active]="!settings.mute"
                autoPlay="true">
              </km-audio-file>
            </span>
          </h1>
          <div class="wordinfo">
            <div class="label label-default">{{text[currentExercise.wordTpe]}}</div>
            <div class="label label-default">{{text[currentExercise.aspect]}}</div>
            <div class="hint" *ngIf="currentExercise.foreign?.hint">
              {{text.hint}}: {{currentExercise.foreign?.hint}}
            </div>
            <div class="info" *ngIf="currentExercise.foreign?.info">
              {{currentExercise.foreign?.info}}
            </div>
          </div>
        </div>
        <div class="local">
          <h1 class="word">
            <span class="flag">
              <img src="/assets/img/flags/{{lanPair.from}}.png">
            </span>
              <span *ngIf="showLocal else loading">
                {{wordLocal}}  
              </span>
          </h1>
        </div>
      </div>

      <!-- STUDY DONE -->
      <div *ngIf="isStudyDone">
        <h3>Gestudeerde woorden:</h3>
        <div class="studiedList">
          <div *ngFor="let exercise of exercises; let i=index">
            {{exercise.foreign?.word}} <span class="studiedLocal">- {{exercise.local.word}}</span>
          </div>
        </div>
        <div class="btn btn-success" (click)="onNextWord(1)">
          <span class="fa fa-step-forward"></span>
          {{text.RestartStudy}}
        </div>
        <div class="btn btn-warning" (click)="onSkipRequested(confirm)">
          <span class="fa fa-fast-forward"></span>
          {{text.PractiseStudy}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="settings">
      <span class="fa "
        [ngClass]="{
          'fa-volume-up': !settings.mute,
          'fa-volume-off': settings.mute,
          'on': !settings.mute
          }"
        (click)="onToggleAudio()">
      </span>
      <span class="fa fa-tint"
        (click)="onToggleColor()"
        [class.on] = "settings.color"
        [class.inactive]="!currentExercise.genus">
      </span>
      <span
        (click)="onNextDelay()"
        [class.on] = "settings.delay">
        {{settings.delay}}s
      </span>
    </div>
    <div class="slashed">
      <span [class.off]="settings.mute"></span>
      <span [class.off]="!settings.color"></span>
      <span [class.off]="!settings.delay"></span>
    </div>
    <div class="actions">
      <div class="btn btn-success" (click)="onNextWord(1)">
        <span class="fa fa-step-forward"></span>
        {{isStudyDone ? text.Restart : text.Next}}
      </div>
      <div class="btn btn-warning" (click)="onSkipRequested(confirm)">
        <span class="fa fa-fast-forward"></span>
        {{isStudyDone ? text.Practise : text.Skip}}
      </div>
    </div>
    SCORE : {{score}}
  </div>
  <!-- <pre>{{currentExercise|json}}</pre>
  <pre>{{lanPair|json}}</pre> -->
  <div class="clearfix"></div>
</section>

<ng-template #loading>
  <span class="loading">
    <span *ngFor="let dot of dotArr">
      <span class="fa fa-circle">
      </span>
    </span>
  </span>
</ng-template>

<km-modal-confirm #confirm
  [level]="'warning'"
  [text]="text"
  (confirmed)="onSkipConfirmed($event)">
  <div title>{{text.Warning}}</div>
  <div message>Ben je zeker dat je de studie wil onderbreken?</div>
</km-modal-confirm>
