:host {
  font-size: 16px !important;
}

.word {
}
.local {
  padding-left: 15px;
  font-size: 16px;
  font-style: italic;
  color: #999;
}
.item {
  border: 1px dotted #999;
  border-top: none;
  padding: 4px 0;
  margin: 0;
}
.header:hover {
  background-color: inherit;
}
.header {
  font-weight: bold;
  border-left:none;
  border-right:none;
}
.icons{
  padding-left: 6px;
  padding-right: 0;
}
.icons > span{
  width: 18px;
}
.fa-check, .fa-bookmark, .fa-bookmark-o {
  color: green;
}
.fa-fire, .fa-repeat {
  font-size: 14px;
}
.fa-fire {
  color: #f39c11;
}
.fa-repeat {
  color: #efc10f;
}
.learn-progress {
  font-size: 12px;
  position: relative;
  top: -2px;
}
.register {
  color: #999;
  font-style: italic;
}
.index {
  font-size: 12px;
  color: grey;
}
.data-row:hover {
  background-color: #d8f8fd;
}