<div class="panel panel-default title">
  <div class="panel-body">
    <img src="/assets/img/flags/{{course?.languagePair.to}}.png" class="flag pull-left">
    <h2>
      {{course?.name}}
    </h2>
  </div>
</div>
<div *ngIf="level==='lesson'">
  <div class="panel panel-default title" *ngIf="!showSelector">
    <div class="panel-body">
      <div class="btn btn-warning pull-right" *ngIf="!showSelector" (click)="onToggleEdit()">
        {{text['Edit']}}
      </div>
      <h3>
        <span *ngIf="currentChapter">{{currentChapter}} -</span> {{currentLessonName}}
      </h3>
    </div>
  </div>
  <div class="panel panel-default" *ngIf="showSelector">
    <div class="panel-body">
      <form
        class="form-horizontal" *ngIf="isReady">

        <div class="form-group form-group-lg">
          <label for="language" class="control-label col-xs-2">{{text["Chapter"]}}:</label>
          <div class="col-xs-10">
            <div class="input-group">
              <span class="input-group-addon" (click)="onPreviousChapter(chapter.value)">
                <span class="fa fa-chevron-left"></span>
              </span>
              <select 
                class="form-control"
                name="chapter"
                (change)="onChangeChapter(chapter.value)"
                #chapter>
                <option 
                  *ngFor="let chapter of course.chapters"
                  [value]="chapter"
                  [selected]="chapter === currentChapter">
                  {{chapter}}
                </option>
              </select>
              <span class="input-group-addon" (click)="onNextChapter(chapter.value)">
                <span class="fa fa-chevron-right"></span>
              </span>
            </div>
          </div>
        </div>

        <div class="form-group form-group-lg">
          <label for="language" class="control-label col-xs-2">{{text["Lesson"]}}:</label>
          <div class="col-xs-10">
            <div class="input-group">
              <span class="input-group-addon" (click)="onPreviousLesson(lesson.value)">
                <span class="fa fa-chevron-left"></span>
              </span>
              <select 
                class="form-control"
                name="lesson"
                (change)="onChangeLesson(lesson.value)"
                #lesson>
                <option 
                  *ngFor="let lesson of currentChapterLessons"
                  [value]="lesson._id"
                  [selected]="lesson._id === currentLessonId">
                  {{lesson.name}}
                </option>
              </select>
              <span class="input-group-addon" (click)="onNextLesson(lesson.value)">
                <span class="fa fa-chevron-right"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="btn btn-warning pull-right" (click)="onToggleEdit()">
          {{text['Close']}}
        </div>

      </form>
    </div>
  </div>
</div>