<!-- HEADER -->
<div class="row header item" *ngIf="!isLoading">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-6">
    {{text['Word']}}
  </div>
  <div class="col-xs-3">
    {{text['Last10']}}
  </div>
  <div class="col-xs-1 text-center">
    {{text['Correct']}}
  </div>
  <div class="col-xs-1 text-center">
    {{text['Progress']}}
  </div>
</div>
<!-- TABLE -->
<div *ngFor="let exercise of exerciseData;let i=index" class="row item data-row">
  <div class="col-xs-1 icons">
    <span class="index">{{i+1}}.</span>
    <km-type-icons
      [tpe]="exercise.exercise.tpe"
      [text]="text">
    </km-type-icons>
    <span>
      <span
        *ngIf="exercise.result?.isDifficult"
        class="fa fa-fire fa-spacing"
        [tooltip]="text['iIsDifficult']">
      </span>
      <span
        *ngIf="isToReview(exercise.result)"
        class="fa fa-repeat"
        [tooltip]="text['iIsToReview']">
      </span>
    </span>
  </div>
  <div class="col-xs-6">
    <span class="word">{{showWord(exercise.exercise.foreign?.word, exercise.exercise.tpe)}}</span>
    <span class="word local">{{exercise.exercise.local?.word}}</span>
  </div>
  <div class="col-xs-3" *ngIf="!isDemo">
    <span *ngFor="let item of exercise.result?.streak?.slice(-10).split(''); let i=index">
      <span
        class="fa fa-square"
        [ngClass]="{green: item === '1', red: item === '0', orange: item === '2'}"
        [style.opacity]="1 - (exercise.result?.streak?.slice(-10).length - i - 1) / 20">
      </span>
    </span>
  </div>
  <div class="col-xs-1 text-center" *ngIf="!isDemo">
    <div *ngIf="exercise.result?.timesDone">
      {{exercise.result?.timesCorrect}} / {{exercise.result?.timesDone}}
    </div>
  </div>
  <div class="col-xs-1 text-center" *ngIf="!isDemo">
    <div *ngIf="exercise.result">
      <span>
        <span *ngIf="exercise.result && exercise.exercise.tpe === exType.Word"
          class="fa fa-bookmark fa-spacing"
          [tooltip]="text['iWordStudied']">
        </span>
        <span
          *ngIf="exercise.exercise.tpe !== exType.Word"
          class="fa fa-bookmark-o fa-spacing">
        </span>
      </span>
      <span *ngIf="exercise.result.isLearned">
        <span *ngIf="exercise.result?.isLearned"
          class="fa fa-check"
          [tooltip]="text['iWordLearned']">
        </span>
      </span>
      <span *ngIf="!exercise.result.isLearned && exercise.result.learnLevel !== null" class="learn-progress">
        {{exercise.result.learnLevel}} / {{isLearnedLevel}}
      </span>
    </div>
  </div>
  <div class="col-xs-6" *ngIf="isDemo">
    <div *ngIf="i===0" class="register">
      <km-signup
        [text]="text"
        [courseId]="courseId">
      </km-signup>
    </div>
  </div>
</div>
<km-loader *ngIf="isLoading && !isError"
  [msg]="text['LoadingLesson']"
  [showBackground]="false">
</km-loader>
