<!-- HEADER -->
<div class="row header item">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-5">
    {{text['Word']}}
  </div>
  <div class="col-xs-3">
    {{text['Last10']}}
  </div>
  <div class="col-xs-1 text-center">
    {{text['Correct']}}
  </div>
  <div class="col-xs-1 text-center">
    {{text['Progress']}}
  </div>
  <div class="col-xs-1 text-center">
    {{text['Points']}}
  </div>
</div>
<!-- TABLE -->
<div *ngFor="let exercise of exerciseData;let i=index" class="row item">
  <div class="col-xs-1 icons">
    <span>
      <span class="fa" [ngClass]="{
        'fa-font': exercise.exercise.tpe === exType.Word,
        'fa-list-alt': exercise.exercise.tpe === exType.Select,
        'fa-comments': exercise.exercise.tpe === exType.QA,
        'fa-terminal': exercise.exercise.tpe === exType.FillIn,
        'fa-superpowers': exercise.exercise.tpe === exType.Article,
        'fa-venus-mars': exercise.exercise.tpe === exType.Genus,
        'fa-signal': exercise.exercise.tpe === exType.Comparison
      }">
      </span>
    </span>
    <span>
      <span class="fa fa-flag" *ngIf="exercise.result?.isDifficult"></span>
    </span>
  </div>
  <div class="col-xs-5">
    <span class="word">{{showWord(exercise.exercise.foreign?.word)}}</span>
    <span class="word local">{{exercise.exercise.local?.word}}</span>
  </div>
  <div class="col-xs-3" *ngIf="!isDemo">
    <span *ngFor="let item of exercise.result?.streak?.slice(-10).split(''); let i=index">
      <span
        class="fa fa-square" 
        [ngClass]="{green: item === '1', red: item === '0', orange: item === '2'}"
        [style.opacity]="1 - (exercise.result?.streak?.slice(-10).length - i - 1) / 20">
      </span>
    </span>
  </div>
  <div class="col-xs-1 text-center" *ngIf="!isDemo">
    <div *ngIf="exercise.result?.timesDone">
      {{exercise.result?.timesCorrect}} / {{exercise.result?.timesDone}}
    </div>
  </div>
  <div class="col-xs-1 text-center" *ngIf="!isDemo">
    <div *ngIf="exercise.result">
      <span>
        <span class="fa fa-bookmark" *ngIf="exercise.result && exercise.exercise.tpe === exType.Word"></span>
        <span class="fa fa-bookmark-o" *ngIf="exercise.exercise.tpe !== exType.Word"></span>
      </span>
      <span *ngIf="exercise.result.isLearned">
        <span class="fa fa-check" *ngIf="exercise.result?.isLearned"></span>
      </span>
      <span *ngIf="!exercise.result.isLearned && exercise.result.learnLevel !== null" class="learn-progress">
        {{exercise.result.learnLevel}} / {{isLearnedLevel}}
      </span>
    </div>
  </div>
  <div class="col-xs-1 text-right" *ngIf="!isDemo">
    {{exercise.result?.points}}
  </div>
  <div class="col-xs-6" *ngIf="isDemo">
    <div *ngIf="i===0" class="register">
      <a href="/auth/signup">{{text["SignupAction"]}}</a> {{text["ToSeeResults"]}}
    </div>
  </div>
</div>