.points {
  font-size: 24px;
  text-align: center;
}
.added {
  animation: bump 0.5s ease-out forwards;
}
@keyframes bump {
  0% {
    margin-top: 12px;
    margin-left: 12px;
    font-size: 24px;
  }
  90% {
    margin-top: -6px;
    margin-left: -6px;
    font-size: 60px;
  }
  100% {
    font-size: 48px;
  }
}