<div class="points">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>{{text["Words"]}}</td>
        <td class="text-right nr">{{points}}</td>
      </tr>
      <tr>
        <td>{{text["Bonus"]}}</td>
        <td class="text-right nr">{{correct}}</td>
      </tr>
      <tr class="success">
        <td>{{text["Total"]}}</td>
        <td class="text-right nr">
          <div class="total">
            {{total}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>