.sentence {
  float:left;
  top: -12px;
  position: relative;
}
.question {
  margin-bottom: 6px;
}
.answer {
  margin-bottom: 32px;
}
.solution {
  font-size: 34px !important;
  margin-left: 72px !important;
  position: relative;
  top: -32px;
}
km-keyboard {
  padding-left: 20px;
}
/* override bootstrap */
.input-lg {
  float:left;
  height: 56px;
  font-size: 40px;
  padding-top: 0;
  margin-top: -15px;
}
.input-group-addon {
  font-size: 34px;
  background-color: inherit;
  border: none;
  padding-left: 0;
}
.answer-instruction {
  text-align: left;
  margin-bottom: 16px;
  margin-left: 16px;
  font-size: 16px;
  font-style: italic;
  color: #bbb;
}
