<div *ngIf="currentData">
  <!-- LOCAL -->
  <div class="local" *ngIf="dir==='local'">
    <h1>
      <span>
        <img src="/assets/img/flags/{{lanPair.from}}.png" class="flag">
      </span>
      <span class="word">
        {{currentData.exercise.local.word}}
      </span>
    </h1>
    <div class="wordinfo">
      <div class="alts">{{getAlts('local', currentData.exercise)}}</div>
      <div
        class="label label-annotation"
        *ngFor="let annotation of currentData.data.annotations">
        {{annotation}}
      </div>
      <div class="hint" *ngIf="currentData.exercise.local.hint">
        {{text["hint"]}}: {{currentData.exercise.local.hint}}
      </div>
    </div>
  </div>
  <!-- FOREIGN -->
  <div class="foreign" *ngIf="dir==='foreign'">
    <h1>
      <span>
        <img src="/assets/img/flags/{{lanPair.to}}.png" class="flag">
      </span>
      <span 
        class="word" 
        kmWordColor 
          [identifier]="currentData.exercise.genus" 
          [tpe]="currentData.exercise.wordTpe"
          [active]="settings?.color || true">
        {{currentData.exercise?.foreign?.word}}
      </span>
      <span class="suffix">{{currentData.data.suffix}}</span>
      <span class="suffix">{{currentData.data.genus}}</span>
      <span class="audio pull-right" *ngIf="currentData.exercise.audios && currentData.exercise.audios.length > 0">
        <km-audio-file
          [fileName]="currentData.exercise.audios[0]"
          [active]="!settings.mute"
          autoPlay="true">
        </km-audio-file>
      </span>
    </h1>
    <div class="wordinfo">
      <div class="alts">{{getAlts('foreign', currentData.exercise)}}</div>
      <div
        class="label label-annotation"
        *ngFor="let annotation of currentData.data.annotations">
        {{annotation}}
      </div>
      <div class="hint" *ngIf="currentData.exercise.foreign?.hint">
        {{text["hint"]}}: {{currentData.exercise.foreign?.hint}}
      </div>
      <div class="info" *ngIf="currentData.exercise.foreign?.info">
        {{currentData.exercise.foreign?.info}}
      </div>
    </div>
  </div>
</div>