<div *ngIf="currentData">
  <!-- LOCAL -->
  <div class="local" *ngIf="dir==='local'">
    <!-- IMAGE -->
    <div class="image" *ngIf="showImage && currentData.exercise.image">
      <img src="{{currentData.exercise.image}}">
    </div>
    <h1>
      <span class="audio pull-right" *ngIf="currentData.exercise.audio">
        <km-audio-file *ngIf="hasAnswered"
          [regionAudio]="currentData.exercise.audio"
          [active]="!settings.mute"
          autoPlay="true">
        </km-audio-file>
      </span>
      <span>
        <km-region-flag
          [lan]="lanPair.from"
          [word]="currentData.exercise?.local">
        </km-region-flag>
      </span>
      <span class="word">
        {{currentData.exercise.local.word}}
      </span>
    </h1>
    <div class="wordinfo" *ngIf="showAnnotations">
      <div class="alts" *ngIf="showAlt">
        {{getAlts('local', currentData.exercise)}}
      </div>
      <div *ngFor="let annotation of currentData.data.annotations"
        class="label label-annotation">
        {{annotation}}
      </div>
      <div class="hint" *ngIf="currentData.exercise.local.hint">
        <div class="clearfix"></div>
        {{text["hint"]}}: {{currentData.exercise.local.hint}}
      </div>
    </div>
  </div>
  <!-- FOREIGN -->
  <div class="foreign" *ngIf="dir==='foreign'">
    <!-- IMAGE -->
    <div class="image" *ngIf="showImage && currentData.exercise.image && hasAnswered">
      <img src="{{currentData.exercise.image}}">
    </div>
    <h1>
      <span>
        <km-region-flag
          [lan]="lanPair.to"
          [word]="currentData.exercise?.foreign">
        </km-region-flag>
      </span>
      <span 
        class="word" 
        kmWordColor 
          [identifier]="currentData.exercise.genus" 
          [tpe]="currentData.exercise.wordTpe"
          [active]="showGenusColor()">
        {{currentData.exercise?.foreign?.word.split('|')[0]}}
      </span>
      <span class="suffix">{{currentData.data.suffix}}</span>
      <span class="suffix" *ngIf="!showGenusColor()">{{currentData.data.genus}}</span>
      <span class="audio pull-right" *ngIf="currentData.exercise.audio">
        <km-audio-file
          [regionAudio]="currentData.exercise.audio"
          [active]="!settings?.mute"
          autoPlay="true">
        </km-audio-file>
      </span>
    </h1>
    <div class="wordinfo" *ngIf="showAnnotations">
      <div class="alts" *ngIf="showAlt">
        {{getAlts('foreign', currentData.exercise)}}
      </div>
      <div *ngFor="let annotation of currentData.data.annotations"
        class="label label-annotation">
        {{annotation}}
      </div>
      <div class="hint" *ngIf="currentData.exercise.foreign?.hint">
        <div class="clearfix"></div>
        {{text["hint"]}}: {{currentData.exercise.foreign?.hint}}
      </div>
      <div class="info" *ngIf="currentData.exercise.foreign?.info">
        <div class="clearfix"></div>
        {{currentData.exercise.foreign?.info}}
      </div>
    </div>
  </div>
</div>
