h1 {
  margin-top: 0;
  font-size: 46px;
}
.label-annotation {
  background-color: #f3f3f3;
  border: 1px dotted black;
  color: #333;
  margin-right: 3px;
  border-radius: 6px;
  float: left;
}
.region {
  margin-right: 3px;
}
.wordinfo {
  margin-left: 42px;
  margin-top: -8px;
}
.alts {
  font-size: 20px;
}
