.sentence {
  float:left;
}
.options {
  float:left;
  padding: 0 12px;
}
.option {
  height: 56px;
  border: 1px solid #ddd;
  border-bottom: none;
  padding: 0 12px;
  background-color: white;
}
.option:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.option:last-child {
  border-bottom: 1px solid #ddd;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.selectable:hover {
  background-color: #337ab7;
  color: white;
  cursor: pointer;
}
.option.green {
  background-color: green;
  color: white;
}
.option.red {
  background-color: red;
  color: white;
}
.translation {
  color: #666;
  margin-top: 45px;
}
.solution {
  font-size: 40px;
  margin-left: 86px;
  margin-bottom: 16px;
}
.solution .answer {
  color: green;
}
/* override bootstrap */
.input-lg {
  height: 56px;
  font-size: 40px;
  padding-top: 0;
  margin-top: -15px;
}
.answer-instruction {
  text-align: left;
  margin-bottom: 16px;
  margin-left: 16px;
  font-size: 16px;
  font-style: italic;
  color: #bbb;
}
