.suffix {
  font-size: 20px;
}
.lblue {
  color: DeepSkyBlue;
}
.dblue {
  color: navy;
}
.answer {
  min-height: 100px;
}
.answer > .word {
  margin-top: 32px;
  height: 78px;
}
.loading {
  text-align: left;
  font-size: 8px;
  color: #999;
  margin-top: 50px;
  height: 70px;
}
.alts {
  font-size: 20px;
  margin-left: 42px;
}
.study-card {
  background: linear-gradient(90deg, #efefef , #fff);
}