:host {
  display: block;
  padding: 15px;
  font-size: 20px;
}
h2 {
  cursor: pointer;
  margin-left: -15px;
  margin-right: -15px;
  padding: 12px;
  margin-top: 0;
}
.deselected h2 {
  margin-bottom: 0;
}
.lesson-title {
  cursor: pointer;
  padding: 12px;
}
.selected .lesson-title {
  margin-bottom: 12px;
}
.selected {
  cursor: default;
}
.list-group {
  margin-bottom: 0;
}
.list-group-item {
  padding: 0;
}
.chapters > .list-group-item {
  margin-bottom: 5px;
  padding: 0 15px;
}
.chapters > .selected {
  padding: 0 15px 5px;
}
.lesson > .list-group-item {
  color: black;
  background-color: #5bc0de;
  border-color: #326999;
  margin-bottom: 3px;
}
.lesson-title .fa-check {
  color: green;
  font-size: 28px;
}
.count {
  font-size: 16px;
  color: #333;
}
km-lesson-overview {
  margin: 8px;
  display: block;
  padding: 15px;
  font-size: 20px;
  background-color: #fff;
  border-radius: 6px;
}
