<div *ngIf="isLessonsReady">
  <div *ngFor="let chapterName of courseChapters"
    (click)="onSelectChapter(chapterName)">
    <h2>
      <span class="fa fa-caret-right" *ngIf="chapterName === currentChapter"></span>
      {{chapterName}}
    </h2>
    <div *ngIf="chapterName === currentChapter">
      <div *ngFor="let lesson of chapterLessons[chapterName]"
        (click)="onSelectLesson(lesson._id)">
        <span class="fa fa-caret-right" *ngIf="lesson._id === currentLessonId"></span>
        {{lesson.name}}
          <km-lesson-overview *ngIf="lesson._id === currentLessonId"
            [text]="text"
            [lessonId]="currentLessonId">
          </km-lesson-overview>
      </div>
    </div>
  </div>
</div>

