<km-countdown 
  *ngIf="isCountDown; else practise"
  [mute]="isMute"
  (countedDown)="onCountDownFinished()">
</km-countdown>
<ng-template #practise>
  <section kmPressed 
    (onKeyPressed)="onKeyPressed($event)">
    <div class="col-xs-8">
      <div class="panel centerpanel">
        <km-bullets *ngIf="!isPractiseDone"
          [exercises]="exerciseData"
          [current]="current"
          [min]="exerciseData.length * 2"
          [onExerciseAdded]="exerciseAdded">
        </km-bullets>
        <div *ngIf="!isPractiseDone && isQuestionReady" class="card">
          <km-question
            [currentData]="currentData"
            [lanPair]="lanPair"
            [text]="text"
            [tpe]="getQuestionType()"
            [settings]="settings"
          ></km-question>
          <km-answer-choices *ngIf="currentData.data.choices"
            [choices]="currentChoices"
            [correct]="currentData?.data?.isCorrect"
            [answer]="answer"
            [answered]="answered"
            [isSelected]="isSelected"
            (selected)="onSelected($event)">
          </km-answer-choices>
          <km-answer-field *ngIf="!currentData.data.choices"
            [lan]="lanPair.to"
            [disabled]="isAnswered"
            [keyboard]="{showKeyboard: settings.keyboard, keys: keys}"
            [solution]="{solution: solution, msg: text['Expectedanswer']}"
            [data]="currentData?.data">
          </km-answer-field>
        </div>

        <!-- PRACTISE DONE -->
        <div *ngIf="isPractiseDone">
          <h3>Words practised:</h3>
          <km-completed-list [data]="exerciseData">
          </km-completed-list>

          <div class="btn btn-success" (click)="onRestart()">
            <span class="fa fa-step-forward"></span>
            {{text["Restart"]}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <km-learn-settings
        [step]="'practise'"
        [hasGenus]="!!this.currentData?.exercise.genus"
        [settings]="settings"
        [isInput]="!this.currentData?.data.choices"
        [isActive]="!isPractiseDone"
        (updatedSettings)="onSettingsUpdated($event)">
      </km-learn-settings>
      <div class="actions">
        <div *ngIf="!isPractiseDone"
          class="btn btn-lg btn-success next" 
          (click)="onNextWord()">
          <span class="fa fa-step-forward"></span>
          {{text["Next"]}}
        </div>
        <div *ngIf="isPractiseDone"
          class="btn btn-lg btn-success next"
          (click)="onRestart()">
          <span class="fa fa-refresh"></span>
          {{text["Restart"]}}
        </div>
      </div>
      <km-learnlevel-bar
        [levelUpdated]="levelUpdated"
        [maxLevel]="learnedLevel">
      </km-learnlevel-bar>
      <km-points-earned [pointsEarned]="pointsEarned">
      </km-points-earned>
    </div>
    <div class="clearfix"></div>
  </section>
</ng-template>

<ng-template #loading>
  <span class="loading">
    <span *ngFor="let dot of dotArr">
      <span class="fa fa-circle">
      </span>
    </span>
  </span>
</ng-template>
