<km-countdown 
  *ngIf="isCountDown else exercise"
  [mute]="isMute"
  (countedDown)="onCountDownFinished()">
</km-countdown>

<ng-template #exercise>
  <section kmPressed class="main-card" *ngIf="isReady else loading"
    (onKeyPressed)="onKeyPressed($event)">
    <div [ngClass]="isExercisesDone ? 'col-xs-12' : 'col-xs-8'">
      <div class="panel centerpanel">
        <km-bullets *ngIf="!isExercisesDone"
          [exercises]="exerciseData"
          [current]="current"
          [onNextExercise]="nextExercise">
        </km-bullets>
        <!-- TIMER -->
        <km-timer *ngIf="!isExercisesDone && isQuestionReady"
          [data]="currentData">
        </km-timer>
        <!-- EXERCISE -->
        <div *ngIf="!isExercisesDone && isQuestionReady" 
          class="card"
          [class.preview]="isQuestionType(qType.Preview)">
          <div class="pull-right">
            <span class="new" *ngIf="isQuestionType(qType.Preview)">{{text["NewWord"]}}!</span>
            <span class="case" *ngIf="currentData?.data?.isCaseSensitive">Aa</span>
          </div>
          <div class="clearfix" *ngIf="!isQuestionType(qType.Select) && !isQuestionType(qType.FillIn) && !isQuestionType(qType.Comparison)">
            <!-- IMAGE -->
            <div class="image" *ngIf="currentData.exercise.image">
              <img src="{{currentData.exercise.image}}">
            </div>
            <km-question
              [currentData]="currentData"
              [lanPair]="lanPair"
              [text]="text"
              [showAlt]="true"
              [dir]="getQuestionDir()"
              [settings]="settings"
            ></km-question>
          </div>
          <km-word-choices *ngIf="isQuestionType(qType.Choices)"
            [lanPair]="lanPair"
            [choices]="currentChoices"
            [data]="currentData"
            [answer]="answer"
            [answered]="answered"
            [isSelected]="isAnswered"
            [instruction]="text['instructionChoices']"
            (selected)="onSelected($event)">
          </km-word-choices>
          <km-word-field *ngIf="isQuestionType(qType.Word)"
            [lan]="lanPair.to"
            [prefix]="prefix"
            [disabled]="isAnswered"
            [keyboard]="{showKeyboard: settings.keyboard, keys: keys}"
            [solution]="{solution: solution, msg: text['Expectedanswer']}"
            [instruction]="text['instructionWordfield']"
            [data]="currentData">
          </km-word-field>
          <km-select *ngIf="isQuestionType(qType.Select)"
            [lanPair]="lanPair"
            [data]="currentData"
            [text]="text"
            (answered)="onAnsweredSelect($event)">
          </km-select>
          <km-qa *ngIf="isQuestionType(qType.FillIn)"
            [lanPair]="lanPair"
            [data]="currentData"
            [text]="text"
            [keyboard]="{showKeyboard: settings.keyboard, keys: keys}">
          </km-qa>
          <km-comparison *ngIf="isQuestionType(qType.Comparison)"
            [lanPair]="lanPair"
            [data]="currentData"
            [text]="text"
            [keyboard]="{showKeyboard: settings.keyboard, keys: keys}">
          </km-comparison>
          <div *ngIf="isQuestionType(qType.Preview)"
            class="answer"
            [class.imagepadding]="!!currentData.exercise?.image">
            <h1 class="word">
              <span>
                <img src="/assets/img/flags/{{lanPair.from}}.png" class="flag">
              </span>
              <span>
                {{currentData.exercise?.local?.word}}
                <div class="alts">{{getAlts('local', currentData.exercise)}}</div>
              </span>
            </h1>
          </div>
        </div>
        <!-- NO MORE EXERCISES -->
        <div *ngIf="noMoreExercises && !exerciseData?.length">
          <div class="msg-info">
            <span class="fa fa-info-circle"></span>{{text['NoMoreExercises']}}
          </div>
          <button 
            *ngIf="!noMoreToStudy"
            type="button"
            class="btn btn-success"
            (click)="onToStudy()">
            {{text["LearnNewWords"]}}
          </button>
          <button 
            *ngIf="noMoreToStudy"
            type="button"
            class="btn btn-success"
            (click)="onToNextLesson()">
            {{text["ToNextLesson"]}}
          </button>
        </div>
        <!-- EXERCISE DONE -->
        <div *ngIf="isExercisesDone && exerciseData?.length">
          <km-completed-list
            [data]="exerciseData"
            [step]="'Practise'"
            [isRepeat]="isRehearsal"
            [title]="text['Results']"
            [text]="text">
          </km-completed-list>
          <km-points-completed
            [data]="exerciseData"
            [text]="text">
          </km-points-completed>
          <button type="button" *ngIf="isRehearsal"
            class="btn btn-success"
            (click)="onRehearseAll()">
            <span class="fa fa-refresh fa-spacing">
            </span>
            {{text["RehearseAgain"]}}
          </button>
        </div>
      </div>
    </div>
    <div class="col-xs-4" *ngIf="!isExercisesDone">
      <km-learn-settings *ngIf="!noMoreExercises"
        [step]="'practise'"
        [hasGenus]="!!this.currentData?.exercise.genus"
        [settings]="settings"
        [isInput]="isQuestionType(qType.Word) || isQuestionType(qType.FillIn)"
        [isActive]="!isExercisesDone"
        (updatedSettings)="onSettingsUpdated($event)">
      </km-learn-settings>
      <div class="actions" *ngIf="!noMoreExercises">
        <button 
          type="button"
          *ngIf="!isExercisesDone"
          [disabled]="!isAnswered && isSelectionExercise()"
          class="btn btn-lg btn-success next" 
          (click)="onNextWord()">
          <span class="fa fa-step-forward"></span>
          {{!isAnswered && isEnterDataExercise() ? text["Check"] : text["Next"]}}
        </button>
      </div>
      <div class="score" *ngIf="!isExercisesDone">
        <km-learnlevel-bar *ngIf="currentData?.exercise?.tpe === exType.Word && currentData?.data?.questionType !== qType.Preview"
          [levelUpdated]="levelUpdated"
          [maxLevel]="learnedLevel">
        </km-learnlevel-bar>
        <km-points-earned [pointsEarned]="pointsEarned">
        </km-points-earned>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>
</ng-template>

<ng-template #loading>
  <km-loader *ngIf="!isError"
    [msg]="text['LoadingLesson']">
  </km-loader>
</ng-template>
