<km-countdown 
  *ngIf="isCountDown else study"
  [mute]="isMute"
  (countedDown)="onCountDownFinished()">
</km-countdown>
<ng-template #study>
  <section kmPressed class="main-card" *ngIf="isReady else loading"
    (onKeyPressed)="onKeyPressed($event)">
    <div [ngClass]="isStudyDone ? 'col-xs-12' : 'col-xs-8'">
      <div *ngIf="exerciseData?.length > 0">
        <km-bullets *ngIf="!isStudyDone"
          [exercises]="exerciseData"
          [current]="current">
        </km-bullets>
        <div *ngIf="!isStudyDone" class="card">
          <!-- IMAGE -->
          <div class="image" *ngIf="showLocal && currentData.exercise.image">
            <img src="{{currentData.exercise.image}}">
          </div>
          <div class="qa">
            <km-question
              [currentData]="currentData"
              [lanPair]="lanPair"
              [text]="text"
              [dir]="'foreign'"
              [settings]="settings"
              [showAlt]="true"
            ></km-question>
            <div class="answer">
              <h1 class="word">
                <span>
                  <img src="/assets/img/flags/{{lanPair.from}}.png" class="flag">
                </span>
                <span *ngIf="showLocal else loadingword">
                  {{currentData.exercise?.local?.word}}
                  <div class="alts">{{getAlts('local', currentData.exercise)}}</div>
                </span>
              </h1>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- NOTHING MORE TO STUDY -->
      <div *ngIf="exerciseData?.length < 1" class="frame">
        <div class="msg-info">
          <span class="fa fa-info-circle"></span>{{text['NoMoreToStudy']}}
        </div>
        <button 
          type="button"
          class="btn btn-success"
          (click)="onRehearseAll()">
          <span class="fa fa-repeat"></span>
          {{text["RehearseStudy"]}}
        </button>
      </div>
      <!-- STUDY DONE -->
      <div *ngIf="isStudyDone && exerciseData?.length > 0" class="frame">
        <km-completed-list 
          [data]="exerciseData"
          [isRepeat]="isRehearsal"
          [title]="text['Wordslearned']"
          [step]="'Study'"
          [text]="text">
        </km-completed-list>
        <km-points-completed *ngIf="!isRehearsal"
          [data]="exerciseData"
          [text]="text">
        </km-points-completed>
        <button type="button" *ngIf="!isRehearsal"
          class="btn btn-success"
          (click)="onStudyNewWords()">
          <span class="fa fa-refresh fa-spacing">
          </span>
          {{text["ContinueStudy"]}}
        </button>
        <button type="button" *ngIf="isRehearsal"
          class="btn btn-success"
          (click)="onRehearseAll()">
          <span class="fa fa-refresh fa-spacing">
          </span>
          {{text["RehearseAgain"]}}
        </button>
        <button type="button" *ngIf="!isRehearsal"
          class="btn btn-warning"
          (click)="onToPractise()">
          <span class="fa fa-fast-forward fa-spacing">
          </span>
          {{text["PractiseStudy"]}}
        </button>
      </div>
    </div>
    <div class="col-xs-4" *ngIf="!isStudyDone && exerciseData?.length > 0">
      <km-learn-settings
        [step]="'study'"
        [hasGenus]="!!currentData?.exercise?.genus"
        [settings]="settings"
        (updatedSettings)="onSettingsUpdated($event)">
      </km-learn-settings>
      <div class="actions">
        <button 
          *ngIf="exerciseData?.length > 0"
          type="button"
          class="btn btn-success btn-lg"
          (click)="onNextWord(1)">
          <span class="fa" [ngClass]="{'fa-step-forward': !isStudyDone, 'fa-refresh': isStudyDone}"></span>
          {{showLocal ? text["Next"] : text["ShowTranslation"]}}
        </button>
      </div>
      <km-points-earned
        [pointsEarned]="pointsEarned" *ngIf="!isStudyDone">
      </km-points-earned>
    </div>
    <div class="clearfix"></div>
  </section>
</ng-template>

<ng-template #loadingword>
  <span class="loading">
    <span *ngFor="let dot of dotArr">
      <span class="fa fa-circle">
      </span>
    </span>
  </span>
</ng-template>

<ng-template #loading>
  <km-loader *ngIf="!isError"
    [msg]="text['LoadingLesson']">
  </km-loader>
</ng-template>

<km-modal-confirm #confirm
  [level]="'warning'"
  [text]="text"
  (confirmed)="onSkipConfirmed($event)">
  <div title>{{text["Warning"]}}</div>
  <div message>{{text["ConfirmExit"]}}?</div>
</km-modal-confirm>
