.panel {
  background-color: inherit;
}
.centerpanel {
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
}
.center {
  text-align: center;
}
.card {
  border: 1px solid #999;
  box-shadow: 2px 2px 2px #ccc;
  border-radius: 12px;
  padding: 20px;
  margin: 20px 0;
  background-color: white;
}
.preview {
  background-color: #fbfaf1;
  border-color: #dcca53;
}
.bullets{
  color: grey;
  font-size: 18px;
  margin-top: 8px;
  height: 26px;
}
.bullets span {
  margin: 0 1px
}
.green {
  color: green;
}
.red {
  color: red;
}
.actions {
  margin-top: 2px;
}
.audio {
  margin-top: 4px;
}
.audio >>> .fa {
  font-size: 40px;
  color: #333;
}
.wordinfo {
  margin-left: 44px;
}
.wordinfo .label{
  font-size: 100%;
}
.next.btn-default {
  color: #ccc;
}
.image {
  float: left;
  margin-right: 16px;
}
.image img{
  border: 1px solid #333;
  width: 168px;
  height: 140px;
  border-radius: 16px;
}
.btn {
  margin-top: 2px;
}
.case, .new {
  border: 1px solid #ff5b00;
  border-radius: 4px;
  padding: 0 4px;
  color: white;
  background-color: #f0ad4e;
  font-weight: bold;
  font-size: 16px;
}
.new {
  border: 1px solid darkgreen;
  background-color: darkseagreen;
}
.alts {
  font-size: 20px;
  margin-left: 42px;
}
.nomore {
  margin-bottom: 60px;
}
.imagepadding {
  margin-left: 184px;
}