<km-countdown 
  *ngIf="isCountDown; else exercise"
  [mute]="isMute"
  (countedDown)="onCountDownFinished()">
</km-countdown>
<ng-template #exercise>
  <section kmPressed 
    (onKeyPressed)="onKeyPressed($event)">
    <div class="col-xs-8">
      <div class="panel centerpanel">
        <km-bullets *ngIf="!isExercisesDone"
          [exercises]="exerciseData"
          [current]="current"
          [onNextExercise]="nextExercise">
        </km-bullets>
        <!-- EXERCISE -->
        <div *ngIf="!isExercisesDone && isQuestionReady" class="card">
          <km-question
            [currentData]="currentData"
            [lanPair]="lanPair"
            [text]="text"
            [tpe]="getQuestionType()"
            [settings]="settings"
          ></km-question>
          <km-answer-choices *ngIf="isQuestionType(0)"
            [choices]="currentChoices"
            [correct]="currentData?.data?.isCorrect"
            [answer]="answer"
            [answered]="answered"
            [isSelected]="isSelected"
            (selected)="onSelected($event)">
          </km-answer-choices>
          <km-answer-field *ngIf="isQuestionType(1)"
            [lan]="lanPair.to"
            [prefix]="prefix"
            [disabled]="isAnswered"
            [keyboard]="{showKeyboard: settings.keyboard, keys: keys}"
            [solution]="{solution: solution, msg: text['Expectedanswer']}"
            [data]="currentData?.data">
          </km-answer-field>
        </div>
        <!-- NO MORE EXERCISES -->
        <div *ngIf="noMoreExercises">
          <div class="msg-info">
            <span class="fa fa-info-circle"></span>{{text['NoMoreExercises']}}
          </div>
          <button 
            *ngIf="!noMoreToStudy"
            type="button"
            class="btn btn-success"
            (click)="onToStudy()">
            {{text["LearnNewWords"]}}
          </button>
          <button 
            *ngIf="noMoreToStudy"
            type="button"
            class="btn btn-success"
            (click)="onToNextLesson()">
            {{text["ToNextLesson"]}}
          </button>
        </div>
        <!-- EXERCISE DONE -->
        <div *ngIf="isExercisesDone && !noMoreExercises">
          <h3>Words practised:</h3>
          <km-completed-list [data]="exerciseData">
          </km-completed-list>

          <button type="button" class="btn btn-success" (click)="onRestart()">
            <span class="fa fa-step-forward"></span>
            {{text["ContinuePractise"]}}
          </button>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <km-learn-settings
        [step]="'practise'"
        [hasGenus]="!!this.currentData?.exercise.genus"
        [settings]="settings"
        [isInput]="isQuestionType(1)"
        [isActive]="!isExercisesDone"
        (updatedSettings)="onSettingsUpdated($event)">
      </km-learn-settings>
      <div class="actions">
        <div *ngIf="!isExercisesDone"
          class="btn btn-lg btn-success next" 
          (click)="onNextWord()">
          <span class="fa fa-step-forward"></span>
          {{text["Next"]}}
        </div>
        <div *ngIf="isExercisesDone && !noMoreExercises"
          class="btn btn-lg btn-success next"
          (click)="onRestart()">
          <span class="fa fa-refresh"></span>
          {{text["ContinuePractise"]}}
        </div>
      </div>
      <div class="score" *ngIf="!isExercisesDone">
        <km-learnlevel-bar
          [levelUpdated]="levelUpdated"
          [maxLevel]="learnedLevel">
        </km-learnlevel-bar>
        <km-points-earned [pointsEarned]="pointsEarned">
        </km-points-earned>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>
</ng-template>

<ng-template #loading>
  <span class="loading">
    <span *ngFor="let dot of dotArr">
      <span class="fa fa-circle">
      </span>
    </span>
  </span>
</ng-template>


