:host {
  display: block;
  padding: 15px;
  font-size: 20px;
}
.word {
}
.local {
  padding-left: 15px;
  font-size: 16px;
  font-style: italic;
  color: #999;
}
.item {
  border: 1px dotted #999;
  border-top: none;
  padding: 4px 0;
}
.item:hover {
  background-color: white;
}
.header:hover {
  background-color: inherit;
}
.header {
  font-weight: bold;
  border-left:none;
  border-right:none;
}
.icons{
  padding-left: 6px;
  padding-right: 0;
}
.icons .fa{
  width: 20px;
}
.fa-check, .fa-bookmark, .fa-bookmark-o {
  color: green;
}
.fa-flag {
  color: DarkOrange;
}
.learn-progress {
  font-size: 12px;
  position: relative;
  top: -2px;
}