<div class="row header item">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-5">
    {{text['Word']}}
  </div>
  <div class="col-xs-3">
    {{text['Last10']}}
  </div>
  <div class="col-xs-1 text-center">
    {{text['Correct']}}
  </div>
  <div class="col-xs-1 text-center">
    {{text['Progress']}}
  </div>
  <div class="col-xs-1 text-center">
    {{text['Points']}}
  </div>
</div>

<div *ngFor="let exercise of exerciseData" class="row item">
  <div class="col-xs-1">
    <span class="icon">
      <span class="fa" [ngClass]="{
        'fa-font': exercise.exercise.tpe === exType.Word,
        'fa-list-alt': exercise.exercise.tpe === exType.Select,
        'fa-comments': exercise.exercise.tpe === exType.QA}">
      </span>
    </span>
    <span class="icon">
      <span class="fa fa-bookmark" *ngIf="exercise.result"></span>
    </span>
    <span class="icon">
      <span class="fa fa-check" *ngIf="exercise.result?.isLearned"></span>
    </span>
    <span class="icon">
      <span class="fa fa-flag" *ngIf="exercise.result?.isDifficult"></span>
    </span>
  </div>
  <div class="col-xs-5">
    <span class="word">{{exercise.exercise.foreign?.word}}</span>
    <span class="word local">{{exercise.exercise.local?.word}}</span>
  </div>
  <div class="col-xs-3">
    <span *ngFor="let item of exercise.result?.streak?.slice(-10).split(''); let i=index">
      <span
        class="fa fa-square" 
        [ngClass]="{green: item === '1', red: item !== '1'}"
        [style.opacity]="1 - (exercise.result?.streak?.slice(-10).length - i - 1) / 20">
      </span>
    </span>
  </div>
  <div class="col-xs-1 text-center">
    <div *ngIf="exercise.result?.timesDone">
      {{exercise.result?.timesCorrect}} / {{exercise.result?.timesDone}}
    </div>
  </div>
  <div class="col-xs-1 text-center">
    <div *ngIf="exercise.result && exercise.result.learnLevel !== null && !exercise.result.isLearned">
      {{exercise.result.learnLevel}} / {{isLearnedLevel}}
    </div>
  </div>
  <div class="col-xs-1 text-right">
    {{exercise.result?.points}}
  </div>
</div>
