<section kmPressed 
  (onKeyPressed)="onKeyPressed($event)">
  <div class="col-xs-8">
    <div class="panel centerpanel">
      <km-bullets *ngIf="!isTestDone"
        [data]="exerciseData"
        [current]="current">
      </km-bullets>
      <div *ngIf="!isTestDone && isQuestionReady" class="card">
        <km-question
          [currentData]="currentData"
          [lanPair]="lanPair"
          [text]="text"
          [tpe]="'local'"
        ></km-question>
        <km-answer-test 
          [lan]="lanPair.to"
          [disabled]="isAnswered"
          [isCorrect]="isCorrect">
        </km-answer-test>
        <div class="solution">
          {{solution}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <km-learn-settings
      [step]="'test'"
      [hasGenus]="!!currentData?.exercise?.genus"
      [isInput]="true"
      [settings]="settings"
      (updatedSettings)="onSettingsUpdated($event)">
    </km-learn-settings>
    <div class="actions">
      <div 
        class="btn btn-lg next" 
        [class.disabled]="isAnswered && isCorrect"
        [ngClass]="{'btn-default': isAnswered && isCorrect, 'btn-success': !isAnswered || !isCorrect}"
        (click)="onCheckAnswer()">
        <span class="fa fa-step-forward"></span>
        {{isTestDone ? text["Restart"] : text["Next"]}}
      </div>
    </div>
    SCORE : {{score}}
  </div>
  <div class="clearfix"></div>
</section>