<section *ngIf="isReady">
  <km-languages-bar
    bookType='listen'
    [text]="text"
    [bookLanguages]="bookLanguages"
    [bookLanguage]="bookLanguage"
    [myLanguages]="myLanguages"
    [myLanguage]="myLanguage"
    (newBookLanguage)="onBookLanguageSelected($event)"
    (newMyLanguage)="onMyLanguageSelected($event)"
    (newBookType)="onChangeBookType($event)"
  ></km-languages-bar>

  <km-filter-bar
    [text]="text"
    [hasBooks]="!!filteredBooks.length"
    [filter]="filter"
    [itemTxt]="itemTxt"
    [filterTxt]="filterTxt"
    (newSort)="onChangeSort($event)"
    (newFilter)="onChangeFilter($event)">
  </km-filter-bar>

  <!-- BOOKS LIST -->
  <div *ngIf="isBooksReady">
    <ul class="list-unstyled" *ngIf="filteredBooks?.length">
      <li *ngFor="let book of filteredBooks; let i=index">
        <km-book-summary *ngIf="listTpe === 'all' || !!userBooks[book._id]?.subscribed"
          [book]="book"
          bookType="listen"
          [userBook]="userBooks[book._id]"
          [userData]="userData[book._id]"
          [userBookTest]="userBooksTest[book._id]"
          [userDataTest]="userDataTest[book._id]"
          [translationData]="translationData[book._id]"
          [userLanCode]="myLanguage.code"
          [text]="text"
          [nr]="i + 1"
          [total]="filteredBooks.length"
          [licenses]="licenses"
          [tpe]="listTpe === 'my' ? 'my' : 'read'"
          (removedSubscription)="onRemovedSubscription($event)">
        </km-book-summary>
      </li>
    </ul>

    <!-- No books found for selected language -->
    <div *ngIf="isBooksReady &&!filteredBooks.length">
      <km-info-msg [msg]="text['NoAudioBooks']">
      </km-info-msg>
    </div>
  </div>
</section>

<km-loader *ngIf="isLoading && !isError"
  [msg]="text['LoadingBooks']">
</km-loader>
