.sentence {
  padding-top: 10px;
}
.split-sentence {
  position: relative;
  font-size: 3rem;
  background-color: black;
  color: white;
  padding: 8px;
  vertical-align: middle;
}
.word {
  top: 6px;
  position: relative;
  width: inherit;
  font-size: 3rem;
  margin-bottom: 8px;
  display: inline-block;
}
.answered {
  color: white;
  border-color: black;
}
.answer {
  border-radius: 6px;
  padding: 6px;
  position: relative;
  top: 2px;
}
.correct {
  background-color: green;
}
.almostcorrect {
  background-color: orange;
}
.incorrect {
  background-color: red;
}
.solution {
  font-size: 3rem;
}
.solution .answer {
  color: green;
}
.instruction {
  text-align: left;
  margin-bottom: 2px;
  margin-left: 6px;
  font-size: 1.6rem;
  font-style: italic;
  color: #bbb;
}

