<h1>TEST</h1>
<section kmPressed (hasKeyPressed)="onKeyPressed($event)">
  <km-book-bullets *ngIf="currentStep < steps.Results"
    [data]="sessionData">
  </km-book-bullets>
  <div *ngIf="(readingStarted && !isError && !isLoading) else loading">
    <!-- READING MODE HEADER -->
    <div class="exercise-header">
      <span *ngIf="currentStep < steps.Results"
        class="fa fa-times pull-right close-reading"
        (click)="onExitReading()">
      </span>
      <div class="panel panel-default">
        <div class="panel-body book-header">
          <h1 class="book-title">
            <img src="/assets/img/flags/{{book?.lanCode}}.png" class="flag from"><span class="fa fa-arrow-right flag-from"></span><img src="/assets/img/flags/{{userLanCode}}.png" class="flag">
            {{book?.title}}
            <small class="book-chapter">
              {{currentChapter.title}}
            </small>
          </h1>
        </div>
      </div>
    </div>
    <km-countdown
      *ngIf="isCountDown"
      [counter]="settings.delay"
      (countedDown)="onCountDownFinished()">
    </km-countdown>
    <div *ngIf="readingStarted && !isError && !isLoading && !isCountDown">
      <div class="panel panel-default">
        <div class="panel-body">
          <div *ngIf="currentStep < steps.Results">
            <!-- PREVIOUS TEXT -->
            <km-book-context
              [chapter]="chapterObservable"
              [sentenceNr]="sentenceNrObservable">
            </km-book-context>
            <!-- SENTENCE -->
            <div class="sentence-count">
              {{text["Sentence"]}} {{currentSentenceNr}}/{{currentSentenceTotal}}:
            </div>
            <km-sentence
              [sentence]="currentSentence"
              [bookType]="bookType"
              [directory]="book.directory || ''"
              [lanCode]="book.lanCode"
              [showSentence]="currentStep >= steps.Answered">
            </km-sentence>
            <km-sentence-test
              [text]="text"
              [sentence]="currentSentence">
            </km-sentence-test>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #loading>
  <km-loader *ngIf="!isError"
    [msg]="text['LoadingSentence'] || ''">
  </km-loader>
</ng-template>
