<section>
  <km-book-title *ngIf="!!book"
    [text]="text"
    [bookType]="bookType"
    [bookLanCode]="book?.lanCode"
    [userLanCode]="userLanCode"
    [bookTitle]="book?.title"
    [chapterTitle]="null"
  ></km-book-title>

  <div class="panel panel-default" *ngIf="!isLoading && words?.length">
    <div class="panel-body">
      <!-- LIST -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>{{text["Word"]}}</th>
            <th>{{text["Translation"]}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let word of displayWords; let i = index"
            class="current-word">
            <ng-container *ngTemplateOutlet="wordRow;context:{word: word, i:i}"></ng-container>
          </tr>
        </tbody>
      </table>
      <!-- PAGINATION -->
      <ul class="pagination" *ngIf="nrOfPages > 1">
        <li [class.clickable]="currentPage > 1"
            (click)="onGoToPage(currentPage - 1)">
          <a>&laquo;</a>
        </li>
        <li *ngFor="let pageCount of getCounter(nrOfPages);let i = index"
          class="clickable"
          [class.active] = "i + 1 === currentPage"
          (click)="onGoToPage(i + 1)">
          <a>{{i + 1}}</a>
        </li>
        <li [class.clickable]="currentPage < nrOfPages"
          (click)="onGoToPage(currentPage + 1)">
          <a>&raquo;</a>
        </li>
      </ul>
    </div>
  </div>

  <km-loader *ngIf="isLoading && !isError"
    [msg]="text['Loading'] || ''">
  </km-loader>

  <km-error-msg [msg]="errMsg">
  </km-error-msg>

</section>

<ng-template #wordRow let-i=i let-word=word>
  <td class="text-right">
    {{i + 1 + ((currentPage - 1) * wordsPerPage)}}.
  </td>
  <td class="word-cell">
    <div class="word" kmWordColor
      [identifier]="word.genus">
      <span class="article" *ngIf="word.article">{{word.article}}</span>
      <span>{{word.word}}</span>
      <span class="root" *ngIf="word.root">({{word.root}})</span>
    </div>
    <div class="wordType">{{text[word.wordType]}}</div>
    <pre>{{word|json}}</pre>
  </td>
  <td class="translation-cell">
    TL
  </td>
  <td>
    <span class="fa fa-thumb-tack"
      [tooltip]="text['AddToMyWordList']"
      placement="top"
      hide-delay="0"
      (click)="onToggleMyWordList(word)">
    </span>
  </td>
</ng-template>
