<div class="row">
  <!-- Summary -->
  <div class="col-md-6 col-xs-12">
    <div class="panel panel-default status transparant">
      <div class="panel-heading">
        <span class="fa fa-file-o fa-spacing-title"></span>
        {{text["Summary"]}}
      </div>
      <div class="panel-body panel-summary">
        <div *ngIf="summaryData && !isLoadingOverview">
          <div class="col-xs-6 score-col">
            <div class="rank info" (click)="onShowRankings(ranks)">
              <img src="/assets/img/ranks/rank{{rank}}_64.png" class="img">
              <span class="rank-name">{{rankName}}</span>
            </div>
            <div class="score info">
              <a routerLink="/user/score" class="points">{{summaryData.score | score}} {{text["points"]}}</a>
            </div>
            <div class="next-rank" *ngIf="hasNextRank">
              {{toGoNextRank | score}} {{text["pointsToNextRank"]}}
            </div>
          </div>
          <div class="col-xs-6 learned-col">
            <div class="learning info">
              <strong>{{summaryData.read?.finished || 0}}</strong> {{summaryData.read?.finished === 1 ? text["bookCompleted"] : text["booksCompleted"]}}<br>
              <strong>{{summaryData.listen?.finished || 0}}</strong> {{summaryData.listen?.finished === 1 ? text["bookListened"] : text["booksListened"]}}<br>
              <strong>{{summaryData.wordsMemorized || 0}}</strong> {{summaryData.wordsMemorized === 1 ? text["wordMemorized"] : text["wordsMemorized"]}}
            </div>
          </div>
        </div>
        <km-loader *ngIf="isLoadingOverview && !isError"
          [msg]="text['Loading']"
          [showBackground]="false">
        </km-loader>
      </div>
    </div>
  </div>
  <!-- Progress -->
  <div class="col-md-6 col-xs-12">
    <div class="panel panel-default progress transparant">
      <div class="panel-heading">
        <span class="fa fa-calendar fa-spacing-title"></span>
        {{text["Progress10d"]}}
      </div>
      <div class="panel-body panel-progress">
        <div *ngIf="hasChartData" class="canvas-container">
          <canvas baseChart width="400" height="186"
                  [datasets]="chartData"
                  [labels]="chartLabels"
                  [options]="chartOptions"
                  [legend]="chartLegend"
                  [chartType]="chartType">
          </canvas>
        </div>
        <km-loader *ngIf="isLoadingProgress && !isError"
          [msg]="text['Loading']"
          [showBackground]="false">
        </km-loader>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- Recent books -->
  <div class="col-xs-12">
    <div class="panel panel-default books transparant">
      <div class="panel-heading">
        <span class="fa fa-book fa-spacing-title"></span>
        {{text["RecentActivity"]}}
      </div>
      <div class="panel-body">
        <div *ngIf="recentReady">
          <ul class="list-unstyled" *ngIf="recent?.length">
            <li *ngFor="let item of recent">
              <km-recent-story
                [text]="text"
                [licenses]="licenses"
                [item]="item">
              </km-recent-story>
            </li>
          </ul>
          <div *ngIf="!recent?.length">
            {{text["NoRecentStudied"]}}
          </div>
        </div>
        <km-loader *ngIf="isLoadingRecent && !isError"
          [msg]="text['LoadingCourses']"
          [showBackground]="false">
        </km-loader>
      </div>
    </div>
  </div>
</div>

<km-modal-ranks #ranks
  [rank]="rank"
  [text]="text">
</km-modal-ranks>
