<div class="row">
  <!-- Summary -->
  <div class="col-xs-6">
    <div class="panel panel-default status transparant">
      <div class="panel-heading">
        <span class="fa fa-file-o fa-spacing-title"></span>
        {{text["Summary"]}}
      </div>
      <div class="panel-body panel-summary">
        <div *ngIf="summaryData">
          <div class="rank info" (click)="onShowRankings(ranks)">
            <img src="/assets/img/ranks/rank{{getRank()}}_64.png" class="img">
            <span class="rank-name">{{getRankName()}}</span>
          </div>
          <div class="score info">
            {{summaryData.score | score}} {{text["points"]}}
          </div>
          <div class="learning info">
            {{summaryData.coursesLearning.total}} {{summaryData.coursesLearning.total === 1 ? text["courseStarted"] : text["coursesStarted"]}}<br>
            {{summaryData.coursesLearning.subscribed}} {{summaryData.coursesLearning.subscribed === 1 ? text["courseLearning"] : text["coursesLearning"]}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Notification -->
  <div class="col-xs-6">
    <div class="panel panel-default notifications transparant">
      <div class="panel-heading">
        <span class="fa fa-envelope-open-o fa-spacing-title"></span>
        {{text["Communication"]}}
      </div>
      <div class="panel-body">
        <div class="list-group">
          <a class="list-group-item"
            *ngFor="let message of communications; let i=index" 
            (click)="onSelectMessage(i)">
            <span class="fa icon"  
              [ngClass]="{
                'fa-envelope-o': message.tpe==='message',
                'fa-bell-o': message.tpe==='notification'
              }">
            </span>
            <span class="fa"  
              [ngClass]="{
                'fa-circle': !message.read,
                'fa-circle-o': message.read,
                'fa-envelope-o': message.tpe==='message',
                'fa-bell-o': message.tpe==='notification'
              }">
            </span>
            <span class="user truncate">
              {{message.from}}
            </span>
            <span
              class="content truncate"
              [class.unread]="!message.read">
              {{message.message}}
            </span>
            <span class="badge">
              {{getFromNow(message.dt)}}
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- Recent courses -->
  <div class="col-xs-12">
    <div class="panel panel-default courses transparant">
      <div class="panel-heading">
        <span class="fa fa-envelope-open-o fa-spacing-title"></span>
        {{text["RecentCourses"]}}
      </div>
      <div class="panel-body">
        <div *ngIf="coursesReady else loading">
          <ul class="list-unstyled" *ngIf="courses?.length">
            <li *ngFor="let course of courses">
              <km-course-summary
                [course]="course.course"
                [lastActivity]="getFromNow(course.dt)"
                [text]="text"
                [tpe]="listType.Home">
              </km-course-summary>
            </li>
          </ul>
          <div *ngIf="!courses?.length">
            {{text["NoRecentCourses"]}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <km-loader *ngIf="!isError"
    [msg]="text['LoadingCourses']">
  </km-loader>
</ng-template>

<km-modal-ranks #ranks
  [rank]="getRank()"
  [text]="text">
</km-modal-ranks>
