.panel {
  background-color: rgba(255, 255, 255, .9);
  margin: 0 auto;
}
.panel-heading {
  background-color: rgb(242, 196, 15);
  border-color: #505d66;
  color: snow;
  font-size: 24px;
}
.status .panel-heading {
  background-color: rgb(232, 76, 61);
}
.courses .panel-heading {
  background-color: rgb(243, 156, 17);
}
.notifications, .status {
  height: 270px;
}
.courses {
  margin-top: 15px;
}
.rank-name {
  font-size: 26px;
}
.score {
  font-size: 20px;
}
.panel-summary{
  font-size: 18px;
}
.info {
  margin: 6px 0;
}
.unread {
  font-weight: bold;
}
.fa-circle {
  color: red;
}
.truncate {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: 5px;
}
.user.truncate {
  width: 100px;
}
.content.truncate {
  width: 180px;
}
.icon {
  margin-right: 3px;
}
.list-group-item {
  cursor: pointer;
}