.panel {
  margin: 0 auto 15px auto;
}
.panel-heading {
  background-color: rgb(242, 196, 15);
  border-color: #505d66;
  color: snow;
  font-size: 24px;
}
.status .panel-heading {
  background-color: rgb(232, 76, 61);
}
.books .panel-heading {
  background-color: rgb(243, 156, 17);
}
.panel-summary, .panel-progress {
  padding: 6px;
}
.progress, .status {
  height: 180px;
  overflow: hidden;
}
.canvas-container {
  width: 400px;
  margin: 0 auto;
}
.rank {
  cursor: pointer;
}
.rank-name {
  font-size: 26px;
}
.rank .img {
  width: 64px;
  height: 64px;
}
.next-rank {
  font-size: 12px;
  font-style: italic;
  color: #666;
}
.score {
  font-size: 20px;
}
.panel-summary{
  font-size: 18px;
}
.score-col, .learned-col {
  padding-left: 10px;
  padding-right: 0;
}
.info {
  margin: 0;
}
.learning {
  margin-top: 10px;
  font-size: 16px;
  line-height: 28px;
}
.unread {
  font-weight: bold;
}
.fa-circle {
  color: red;
}
.truncate {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: 5px;
}
.user.truncate {
  width: 100px;
}
.content.truncate {
  width: 170px;
}
.list-group-item {
  cursor: pointer;
}
.points {
  color: black;
}
.chart {
  object-fit: scale-down;
}

@media screen and (max-width: 600px) {
  .notifications span.badge {
    display: none;
  }
}
