<div class="row">
  <div class="col-xs-8 btn-column">
    <a
      class="btn-mega clearfix login"
      routerLink="/auth/signin">
      <div class="btn-text btn-sub unselectable">
        {{text['Login']}}
      </div>
      <div class="btn-icon btn-sub unselectable">
        <span class="fa fa-key"></span>
      </div>
    </a>

    <a
      class="btn-mega clearfix signup"
      routerLink="/auth/signup">
      <div class="btn-text btn-sub unselectable">
        {{text['Signup']}}
      </div>
      <div class="btn-icon btn-sub unselectable">
        <span class="fa fa-pencil"></span>
      </div>
    </a>

    <div class="btn-mega clearfix try">
      <div class="btn-text btn-sub unselectable preview-texts" (mouseout)="onHideModules()">
        <div class="learn preview-text"
          (mouseover)="onShowModule('Learn')"
          (click)="onGoToRoute('learn')">
          {{text["Learn"]}}
        </div>
        <div class="read preview-text"
          (mouseover)="onShowModule('Read')"
          (click)="onGoToRoute('read')">
          {{text["Read"]}}
        </div>
        <div class="teach preview-text"
          (mouseover)="onShowModule('Teach')"
          (click)="onGoToRoute('build/courses')">
          {{text["Teach"]}}
        </div>
      </div>
      <div class="btn-icon btn-sub unselectable">
        <span class="fa fa-play"></span>
      </div>
    </div>

    <div class="modules-text" [style.display]="showModules ? 'block' : 'none'">
      {{moduleText}}
    </div>
    <div class="modules" [style.visibility]="showModules ? 'visible' : 'hidden'">
      <div class="module-child" [ngStyle]="{
        left: currentModule === 'learn' ? '0' : '-1000px',
        visibility: currentModule === 'learn' ? 'visible': 'hidden'}">
        <img class="preview-img" src="/assets/img/screenshots/learn.jpg">
      </div>
      <div class="module-child" [ngStyle]="{
        left: currentModule === 'read' ? '0' : '-1000px',
        visibility: currentModule === 'read' ? 'visible': 'hidden'}">
        <img class="preview-img" src="/assets/img/screenshots/read.jpg">
      </div>
      <div class="module-child" [ngStyle]="{
        left: currentModule === 'teach' ? '0' : '-1000px',
        visibility: currentModule === 'teach' ? 'visible': 'hidden'}">
        <img class="preview-img" src="/assets/img/screenshots/teach.jpg">
      </div>
    </div>

  </div>
  <div class="col-xs-4 info-column">
    <div class="panel panel-default info">
      <div class="panel-heading">{{title}}</div>
      <div class="panel-body">
        {{lines[0]}}
        <ul class="list-unstyled">
          <li>
            <span class="fa fa-arrow-right fa-spacing"></span>{{lines[1]}}
          </li>
          <li class="or">{{text["and"]}}</li>
          <li>
            <span class="fa fa-arrow-right fa-spacing"></span>{{lines[2]}}
          </li>
          <li class="or">{{text["and"]}}</li>
          <li>
            <span class="fa fa-arrow-right fa-spacing"></span>{{lines[3]}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
