.info {
  height: 442px;
}
.info .panel-heading {
  font-size: 32px;
}
.info .panel-body {
  font-size: 24px;
  line-height: 32px;
}
ul {
  margin-top: 8px;
}
li {
  padding-left: 0.8em;
}
.btn-mega {
  font-size: 56px;
  line-height: 1.3333333;
  margin-bottom: 32px;
  color: #eee;
  text-shadow: 1px 1px 1px #333;
  display: block;
}
.btn-mega .btn-sub {
  padding: 25px 32px;
  border-radius: 6px;
  position: relative;
  box-sizing: border-box;
  min-height: 1px;
  float: left;
  text-align: center;
  border: 1px dotted #333;
  cursor: pointer;
}
.btn-text {
  width: 80%;
  height: 126px;
}
.btn-icon {
  width: 19.8%;
  margin-left: 0.2%;
}
.btn-mega:hover .btn-sub {
  box-shadow: inset 0 8px 12px rgba(51, 51, 51, .125);
}
.btn-mega:active .btn-sub {
  box-shadow: inset 0 8px 12px rgba(20, 20, 20, .25);
}
.btn-mega:hover .fa {
  animation: enlarge 0.4s ease-out;
}
.btn-mega~.try:hover .fa {
  animation: rotate-90 0.4s ease-out forwards;
}
.login {
  background-color: rgba(232, 76, 61, 0.2);
}
.login .btn-sub {
  background-color: rgb(232, 76, 61);
}
.login .btn-icon {
  background-color: rgb(219, 71, 57);
}
.signup {
  background-color: rgba(243, 156, 17, 0.2);
}
.signup .btn-sub {
  background-color: rgb(243, 156, 17);
}
.signup .btn-icon {
  background-color: rgb(229, 148, 16);
}
.try {
  background-color: rgba(242, 196, 15, 0.2);
}
.try .btn-sub {
  background-color: rgb(242, 196, 15);
}
.try .btn-txt {
  background-color: rgb(229, 186, 14);
}
.or {
  font-size: 14px;
  line-height: 10px;
  padding-left: 0;
}
.modules {
  background-color: white;
  padding: 12px;
  position: relative;
  top: -60px;
  transition: top 3s ease-out 0s;
}

/* animation */

@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate-90 {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@media screen and (max-width: 500px) {
  .btn-text {
    display: none;
  }
  .btn-icon {
    width: 126px;
    margin: 0 auto;
    float: none !important;
  }
}
@media screen and (min-width: 501px) and (max-width: 550px) {
  .btn-text {
    font-size: 40px;
    padding-top: 30px !important;
  }
}
@media screen and (min-width: 551px) and (max-width: 767px) {
  .btn-text {
    font-size: 46px;
    padding-top: 30px !important;
  }
}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 991px) {
  .btn-column {
    width: 100%;
  }
  .info-column {
    display: none;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
  .btn-text {
    font-size: 46px;
    padding-top: 30px !important;
  }
  .info .panel-body {
    font-size: 20px;
    line-height: 30px;
  }
}
