@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Droid+Serif|Playfair+Display|Open+Sans+Condensed:300);

.new {
  color: red;
  font-size: 10px;
  position: relative;
  top: -6px;
  left: 2px;
}
.info {
  height: 496px;
}
.panel-heading {
  font-size: 32px;
}
.info .panel-body {
  font-size: 24px;
  line-height: 32px;
}
ul {
  margin-top: 12px;
}
li {
  padding-left: 0.8em;
}
.btn-mega {
  font-size: 56px;
  line-height: 1.3333333;
  margin-bottom: 16px;
  color: #eee;
  text-shadow: 1px 1px 1px #333;
  display: block;
}
.btn-mega .btn-sub {
  padding: 25px 32px;
  border-radius: 6px;
  position: relative;
  box-sizing: border-box;
  min-height: 1px;
  float: left;
  text-align: center;
  border: 1px dotted #333;
  cursor: pointer;
}
.btn-text {
  width: 80%;
  height: 126px;
}
.btn-icon {
  width: 19.8%;
  margin-left: 0.2%;
}
.btn-mega:hover .btn-sub {
  box-shadow: inset 0 8px 12px rgba(51, 51, 51, .125);
}
.btn-mega:active .btn-sub {
  box-shadow: inset 0 8px 12px rgba(20, 20, 20, .25);
}
.btn-mega:hover .fa {
  animation: enlarge 0.4s ease-out;
}
.btn-mega~.try:hover .fa {
  animation: rotate-90 0.4s ease-out forwards;
}
.login {
  background-color: rgba(232, 76, 61, 0.2);
}
.login .btn-sub {
  background-color: rgb(232, 76, 61);
}
.login .btn-icon {
  background-color: rgb(219, 71, 57);
}
.signup {
  background-color: rgba(243, 156, 17, 0.2);
}
.signup .btn-sub {
  background-color: rgb(243, 156, 17);
}
.signup .btn-icon {
  background-color: rgb(229, 148, 16);
}
.try {
  background-color: rgba(242, 196, 15, 0.2);
}
.try .btn-sub {
  background-color: rgb(242, 196, 15);
}
.try .btn-txt {
  background-color: rgb(229, 186, 14);
}
.or {
  font-size: 14px;
  line-height: 20px;
  padding-left: 0;
}
.try {
  margin-bottom: 0;
}
.modules-text {
  position: relative;
  top: -86px;
  height: 32px;
  border-left: 1px dotted #333;
  border-right: 1px dotted #333;
  background-color: rgb(232, 76, 61);
  padding: 3px 6px;
  font-size: 20px;
  color: white;
}
.modules {
  padding: 0;
  position: relative;
  top: -86px;
  z-index: 2;
}
.modules > .div {
  position: absolute;
  left: -1000px;
  top: 0;
  height: 200px;
}
.module-child {
  width: 100%;
  position: absolute;
  border: 6px solid rgb(232, 76, 61);
  top: 0;
  transition: left 0.7s ease-out 0s;
}
.preview-texts {
  font-size: 30px;
  overflow: hidden;
  padding: 0 !important;
}
.preview-texts:hover {
  border-bottom: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.preview-text {
  width: 33%;
  display: inline-block;
  height: 100%;
  padding-top: 40px;
}
.preview-text:hover {
  background-color: rgb(232, 76, 61);
}
.preview-img {
  max-width: 100%;
  max-height: 100%;
  border: 1px dotted #333;
  border-top: 0;
}
.read {
  width: 34%;
}
.stats {
  margin-top: 16px;
  font-size: 16px;
}
.stats .panel-body {
  padding: 12px;
  background-color:rgba(242, 234, 211, 0.7);
}
.stats > div > div {
  text-align: center;
}
.stat.middle {
  margin-left: 10px;
  margin-right: 10px;
}
.links {
  font-size: 1.6rem;
  line-height: 2.1rem;
}
.links > li {
  padding-left: 0;
  margin-top: 4px;
}
.why .panel-body, .testimonials .panel-body {
  font-size: 20px;
}
.testimonials .panel-body {
  height: 100%;
}
.studies1, .studies2 {
  margin-bottom: 15px;
}
.resources {
  font-size: 12px;
}
.author {
  margin-left: 16px;
  display: block;
  margin-bottom: 6px;
  font-style: italic;
}
.fa-external-link {
  margin-left: 4px;
  top: 1px;
  position: relative;
}
.lowerwhy {
  position: relative;
  top: -32px;
}
.lowerwhy .why {
  visibility: hidden;
}
.lowerstats{
  position: relative;
  top: 292px;
}
.argumentation {
  display: flex;
}
.why, .testimonials {
  height: 100%;
}
.features {
  margin-top: 0;
}
/* Quotes */
.quote {
  letter-spacing: .03em;
  line-height: 4rem;
}
.quote::before {
  content: "“";
  font-size: 4rem;
}
.quote::after {
  content: "”";
  margin-right: -1rem;
  font-size: 4rem;
}
.quote-container {
  border: 1px dotted #C6D1BF;
  border-radius: 12px;
  font-family: 'EB Garamond';
  font-size: 2.6rem;
  padding: 12px;
  background-color:rgba(242, 234, 211, 0.7);
}
.quote-highlight {
  color: #D24335;
}
.quote-author {
  font-family: 'Open Sans Condensed';
  text-align: right;
}
/* animation */

@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate-90 {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@media screen and (max-width: 500px) {
  .btn-text {
    display: none;
  }
  .btn-icon {
    width: 126px;
    margin: 0 auto;
    float: none !important;
  }
}
@media screen and (min-width: 501px) and (max-width: 550px) {
  .btn-text {
    font-size: 40px;
    padding-top: 30px !important;
  }
  .preview-texts {
    font-size: 26px;
    padding: 0 !important;
  }
}
@media screen and (min-width: 551px) and (max-width: 767px) {
  .btn-text {
    font-size: 46px;
    padding-top: 30px !important;
  }
  .preview-texts {
    font-size: 26px;
    padding: 0 !important;
  }
}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 991px) {
  .btn-column, .argumentation > div {
    width: 100%;
  }
  .side-bar {
    display: none;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
  .btn-text {
    font-size: 46px;
    padding-top: 30px !important;
  }
  .info .panel-body {
    font-size: 20px;
    line-height: 30px;
  }
  .preview-texts {
    font-size: 26px;
    padding: 0 !important;
  }
}
