<div class="row">
  <div class="col-xs-8 btn-column">
    <a
      class="btn-mega clearfix login"
      routerLink="/auth/signin">
      <div class="btn-text btn-sub unselectable">
        {{text['Login']}}
      </div>
      <div class="btn-icon btn-sub unselectable">
        <span class="fa fa-key"></span>
      </div>
    </a>

    <a
      class="btn-mega clearfix signup"
      routerLink="/auth/signup">
      <div class="btn-text btn-sub unselectable">
        {{text['Signup']}}
      </div>
      <div class="btn-icon btn-sub unselectable">
        <span class="fa fa-pencil"></span>
      </div>
    </a>

    <a class="btn-mega clearfix try"
      routerLink="/learn">
      <div class="btn-text btn-sub unselectable">
        <span class="learn" (mouseover)="onShowModule('learn')" (mouseover)="onShowModules()" (mouseout)="onHideModule()">LEARN</span>
        <span class="read">READ</span>
        <span class="teach">TEACH</span>
      </div>
      <div class="btn-icon btn-sub unselectable">
        <span class="fa fa-play"></span>
      </div>
    </a>

    <div class="modules" [ngStyle]="{
      visibility: showModules ? 'visible' : 'hidden',
      top: showModules ? '50px' : '-60px'
    }">
      MODULES
    </div>

  </div>
  <div class="col-xs-4 info-column">
    <div class="panel panel-default info">
      <div class="panel-heading">{{title}}</div>
      <div class="panel-body">
        {{lines[0]}}
        <ul class="list-unstyled">
          <li>
            <span class="fa fa-arrow-right fa-spacing"></span>{{lines[1]}}
          </li>
          <li class="or">{{text["or"]}}</li>
          <li>
            <span class="fa fa-arrow-right fa-spacing"></span>{{lines[2]}}
          </li>
        </ul>
        {{lines[3]}}
      </div>
    </div>
  </div>
</div>
