<div class="row">
  <div class="col-xs-8 btn-column">
    <a
      class="btn-mega clearfix login"
      routerLink="/auth/signin">
      <div class="btn-text btn-sub unselectable">
        {{text['Login']}}
      </div>
      <div class="btn-icon btn-sub unselectable">
        <span class="fa fa-key"></span>
      </div>
    </a>

    <a
      class="btn-mega clearfix signup"
      routerLink="/auth/signup">
      <div class="btn-text btn-sub unselectable">
        {{text['Signup']}}
      </div>
      <div class="btn-icon btn-sub unselectable">
        <span class="fa fa-pencil"></span>
      </div>
    </a>

    <div class="btn-mega clearfix try">
      <div class="btn-text btn-sub unselectable preview-texts" (mouseout)="onHideModules()">
        <div class="learn preview-text"
          (mouseover)="onShowModule('Read')"
          (click)="onGoToRoute('read')">
          {{text["Read"]}}
        </div>
        <div class="read preview-text"
          (mouseover)="onShowModule('Listen')"
          (click)="onGoToRoute('listen')">
          {{text["Listen"]}}
        </div>
        <div class="teach preview-text"
          (mouseover)="onShowModule('Glossaries')"
          (click)="onGoToRoute('glossaries')">
          {{text["Learn"]}}
        </div>
      </div>
      <div class="btn-icon btn-sub unselectable">
        <span class="fa fa-play"></span>
      </div>
    </div>
    <div class="panel panel-default stats" [class.lowerstats]="!!currentModule">
      <div class="panel-body">
        <div *ngIf="!isLoadingStats">
          <span class="stat col-xs-4">
            <div><strong>{{stats?.nrOfBooks | score}}</strong> {{text["Books"]?.toLowerCase()}}</div>
            <div><strong>{{stats?.nrOfAudioBooks | score}}</strong> {{text["AudioBooks"]?.toLowerCase()}}</div>
          </span>
          <span class="stat col-xs-4">
            <div><strong>{{stats?.nrOfSentences | score}}</strong> {{text["Sentences"]?.toLowerCase()}}</div>
            <div><strong>{{stats?.nrOfTranslations | score}}</strong> {{text["Translations"]?.toLowerCase()}}</div>
          </span>
          <span class="stat col-xs-4">
            <div><strong>{{stats?.nrOfGlossaries | score}}</strong> {{text["Glossaries"]?.toLowerCase()}}<span class="new">{{text["New"].toLowerCase()}}</span></div>
            <div><strong>{{stats?.nrOfWords | score}}</strong> {{text["words"]?.toLowerCase()}}<span class="new">{{text["New"].toLowerCase()}}</span></div>
          </span>
        </div>
        <km-loader *ngIf="isLoadingStats" style="height: 20px;"
          [margin]="0"
          [showBackground]="false">
        </km-loader>
      </div>
    </div>

    <div class="modules-text" [style.display]="showModules ? 'block' : 'none'">
      {{moduleText}}
    </div>
    <div class="modules" [style.visibility]="showModules ? 'visible' : 'hidden'">
      <div class="module-child" [ngStyle]="{
        left: currentModule === 'read' ? '0' : '-1000px',
        visibility: currentModule === 'read' ? 'visible': 'hidden'}">
        <img class="preview-img" src="/assets/img/screenshots/read.jpg">
      </div>
      <div class="module-child" [ngStyle]="{
        left: currentModule === 'listen' ? '0' : '-1000px',
        visibility: currentModule === 'listen' ? 'visible': 'hidden'}">
        <img class="preview-img" src="/assets/img/screenshots/listen.jpg">
      </div>
      <div class="module-child" [ngStyle]="{
        left: currentModule === 'glossaries' ? '0' : '-1000px',
        visibility: currentModule === 'glossaries' ? 'visible': 'hidden'}">
        <img class="preview-img" src="/assets/img/screenshots/glossaries.jpg">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="col-xs-4 side-bar">
    <div class="panel panel-default info">
      <div class="panel-heading">{{title}}</div>
      <div class="panel-body">
        {{lines[0]}}
        <ul class="list-unstyled features">
          <li>
            <span class="fa fa-arrow-right fa-spacing"></span>{{lines[1]}}
          </li>
          <li class="or">{{text["and"]}}</li>
          <li>
            <span class="fa fa-arrow-right fa-spacing"></span>{{lines[2]}}
          </li>
          <li class="or">{{text["and"]}}</li>
          <li>
            <span class="fa fa-arrow-right fa-spacing"></span>{{lines[3]}}
          </li>
        </ul>
        <ul class="list-unstyled links">
          <li>
            <a [routerLink]="['/info/features']" routerLinkActive="router-link-active">
              <span class="fa fa-chevron-right fa-spacing"></span>{{text["CheckFeatures"]}}
            </a>
          </li>
          <li>
            <a [routerLink]="['/info/booklist']" routerLinkActive="router-link-active">
              <span class="fa fa-chevron-right fa-spacing"></span>{{text["CheckBookList"]}}
            </a>
          </li>
          <li *ngIf="intLan==='en'">
            <a [routerLink]="['/manual/index']" routerLinkActive="router-link-active">
              <span class="fa fa-chevron-right fa-spacing"></span>{{text["Manual"]}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row argumentation" [class.lowerwhy]="!!currentModule">
  <div class="col-xs-8">
    <div class="panel panel-default why">
      <div class="panel-heading">{{text["WhyJazyk"]}}</div>
      <div class="panel-body">
        <div class="studies1">
          {{text["HomeStudies1"]}}
          {{text["HomeStudies2"]}}
        </div>
        <div class="studies2">
          <strong>{{text["HomeJazykHelps1a"]}}</strong> {{text["HomeJazykHelps1b"]}} {{text["HomeJazykHelps2"]}}
          {{text["HomeJazykHelps3"]}} <strong>{{text["HomeJazykHelps4a"]}}</strong> {{text["HomeJazykHelps4b"]}}
          {{text["HomeJazykHelps5a"]}} <strong>{{text["HomeJazykHelps5b"]}}</strong> {{text["HomeJazykHelps5c"]}}
        </div>
        <div class="resources">
          [1] <a href="https://www.jstor.org/stable/747337" target="_blank">The impact of Reading on Second Language Learning</a>
          <span class="fa fa-external-link"></span>
          <span class="author">(Warwick B. Elley and Francis Mangubhai, 1983)</span>
          [2] <a href="http://www2.hawaii.edu/~readfl/rfl/April2002/leung/leung.pdf" target="_blank">Extensive Reading and Language Learning: A Diary Study of a Beginning Learner of Japanese</a>
          <span class="fa fa-external-link"></span>
          <span class="author">(Ching Yin Leung, 2002)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-4 side-bar">
    <div class="panel panel-default testimonials">
      <div class="panel-heading">{{text["Testimonials"]}}</div>
      <div class="panel-body">
        <div class="quote-container">
          <div class="quote">
            <span class="quote-text">
              {{text["Testimonial1a"]}} <span class="quote-highlight">{{text["Testimonial1b"]}}</span> {{text["Testimonial1c"]}}
            </span>
          </div>
          <p class="quote-author">&ndash; {{text["Testimonial1name"]}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
