.profile {
  display: inline-block;
  width: 220px;
  height: 58px;
  margin-bottom: 4px;
  margin-right: 4px;
  padding-right: 4px;
}
.gravatar {
  margin-right: 4px;
  position: relative;
  top: -2px;
  left: -4px;
}
.user > .fa {
  color: green;
  width: 24px;
  font-size: 24px;
}
.user {
  height: 52px;
}
.left {
  position: relative;
  top: -12px;
}
.right {
  position: relative;
  left: -27px;
  top: -4px;
}
.name {
  margin-top: -10px;
  font-size: 24px;
  margin-bottom: 4px;
}
.open {
  position: relative;
  float: right;
  top: -8px;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.button{
  cursor: pointer;
}
