.image {
  border: 1px solid #333;
  float: left;
  margin-right: 12px;
}
.image img {
  height: 68px;
}
.flag {
  height: 16px;
}
.fa-arrow-right {
  font-size: 12px;
}
.content {
  font-size: 14px;
}
.list-group {
  margin-bottom: 2px;
}