<div class="list-group">
  <a class="list-group-item">
    <div class="image">
      <img src="{{course?.image || defaultImage}}">
    </div>
    <div class="flags pull-right">
      <img src="/assets/img/flags/{{course.languagePair.from}}.png" class="flag" />
      <span class="fa fa-arrow-right"></span>
      <img src="/assets/img/flags/{{regionTo}}.png" class="flag" />
    </div>
    <div class="name">{{course.name}}</div>
    <div class="content">
      {{text["NrOfExercises"]}}: {{course.totalCount}}
    </div>
    <button
      type="button"
      class="btn btn-success btn-xs"
      (click)="onGoToCourse(course)">
      <span class="fa fa-share"></span> {{text["GoToCourse"]}}
    </button>
  <div class="clearfix"></div>
  </a>
</div>
