<div class="panel panel-default">
  <div class="panel-heading">
    <span class="fa fa-envelope-o"></span>
    {{currentMessage ? text["Message"] : text["PrivateMessages"]}}
    <span 
      *ngIf="currentMessage"
      (click)='onCloseMessage()'
      class="fa fa-times pull-right">
    </span>
  </div>
  <div class="panel-body">
    <div *ngIf="!currentMessage else messageDetail">
      <ul class="nav nav-tabs">
          <li 
            [class.active]="tab==='inbox'"
            (click)="onSelectTab('inbox')">
            <a>
              <span class="fa fa-envelope"></span> {{text["Inbox"]}}
            </a>
          </li>
          <li
            [class.active]="tab==='sent'"
            (click)="onSelectTab('sent')">
            <a>
              <span class="fa fa-location-arrow"></span> {{text["Sent"]}}
            </a>
          </li>
          <li
            [class.active]="tab==='trash'"
            (click)="onSelectTab('trash')">
            <a>
              <span class="fa fa-trash"></span> {{text["Trash"]}}
            </a>
          </li>
      </ul>
      <div *ngIf="messages && messages[0] else nomessages" class="messages">
        <div class="list-group">
          <a class="list-group-item"
            *ngFor="let message of messages; let i=index" 
            (click)="onSelectMessage(i)">
            <span class="fa"  
              *ngIf="isRecipient(message)"
              [ngClass]="{
              'fa-circle': !message.recipient.read,
              'fa-circle-o': message.recipient.read}">
            </span>
            <span class="user truncate">
              {{isRecipient(message) ? message.sender.userName : message.recipient.userName}}
            </span>
            <span
              class="content truncate"
              [class.unread]="!message.recipient.read && isRecipient(message)">
              {{message.message}}
            </span>
            <button type="button" *ngIf="message.recipient.read || !isRecipient(message)"
              class="btn btn-danger btn-xs btn-delete pull-right"
              (click)="onDeleteMessage(message)">
              <span class="fa fa-trash"></span>
            </button>
            <span class="badge" [class.badgeMargin]="!message.recipient.read">
              {{message.dt | date: 'dd'}} {{text[message.dt | date: 'MMMM']}} {{message.dt | date: 'yyyy HH:mm'}}
            </span>
          </a>
      </div>
    </div>
  </div>
</div>

<ng-template #nomessages>
  <div class="messages">
    {{text["NoMessages"]}}
  </div>
</ng-template>

<ng-template #messageDetail>
  <div class="message"
    kmPressed 
    (onKeyPressed)="onKeyPressed($event)">
    <div class="row">
      <label  
        class="control-label col-xs-1">
        {{text["From"]}}
      </label>
      <div class="col-xs-11">
        <span class="gravatar">
          <span *ngIf="currentMessage.sender.emailHash">
            <img kmGravatar [hash]="currentMessage.sender.emailHash" [width]="16">
          </span>
        </span>
        {{currentMessage.sender.userName}}
      </div>
    </div>
    <div class="row">
      <label  
        class="control-label col-xs-1">
        {{text["To"]}}
      </label>
      <div class="col-xs-11">
        <span class="gravatar">
          <span *ngIf="currentMessage.recipient.emailHash">
            <img kmGravatar [hash]="currentMessage.recipient.emailHash" [width]="16">
          </span>
        </span>
        {{currentMessage.recipient.userName}}
      </div>
    </div>
    <div class="row">
      <div class="panel-body">
        <div class="message-content">
          {{currentMessage.message}}
        </div>
      </div>
    </div>
    <div class="badge pull-right">
      {{currentMessage.dt | date: "yyyy-MM-dd HH:mm"}}
    </div>
    <!-- BUTTONS -->
    <div class="row buttons" *ngIf="!showReply">
      <button type="button" *ngIf="isRecipient(currentMessage)"
        class="btn btn-primary" (click)="onCreateReply(msgField)">
        <span class="fa fa-reply"></span> {{text["Reply"]}}
      </button>
      <button type="button" *ngIf="tab==='inbox'"
        class="btn btn-danger" (click)="onDeleteMessage(currentMessage)">
        <span class="fa fa-trash"></span> {{text["Delete"]}}
      </button>
    </div>
    <!-- REPLY -->
    <div [style.display]="showReply ? 'block' : 'none'">
      <km-message
        [sendTxt]="text['Send']"
        (send)="onSendReply(currentMessage, $event)"
        #msgField>
      </km-message>
    </div>
  </div>
</ng-template>

<div  class="info-msg">
  <km-info-msg [msg]="infoMsg">
  </km-info-msg>
</div>
