li {
  cursor: pointer;
}
.messages {
  background-color: white;
  border: 1px solid #ddd;
  border-top: none;
  padding: 4px;
}
.read {
  margin-right: 10px;
}
.fa-circle {
  color: red;
}
.badge {
  background-color: #ababab;
  border-radius: 4px;
  position: relative;
  top: 3px;
}
.list-group-item {
  cursor: pointer;
}
.fa-times {
  cursor: pointer;
  font-size: 32px;
}
.unread {
  font-weight: bold;
}
.btn-delete {
  margin-left: 8px;
  margin-right: -7px;
}
.badgeMargin {
}
.truncate {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: 5px;
}
.content.truncate {
  width: 400px;
}
.user.truncate {
  width: 130px;
  margin-right: 6px;
}
.fa-retweet+.user.truncate {
  width: 116px;
}
.parent {
  background-color: #ddd;
  border: 1px solid #999;
  margin-left: 16px;
  margin-top: 8px;
  padding: 8px;
  border-radius: 4px;
  font-style: italic;
}
/* Message */
.gravatar {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
}
.message-content {
  background-color: white;
  border: 1px solid #ddd;
  padding: 6px;
  font-size: 18px;
}
.buttons {
  padding-left: 15px;
}
.reply {
  margin-top: 32px;
}