<div class="panel panel-default">
  <div class="panel-heading">
    <span class="fa fa-bell-o fa-spacing"></span>
      {{currentNotification ? currentNotification.title : text["Notifications"]}}
    <!-- Action Buttons -->
    <div class="btn-group pull-right" *ngIf="!currentNotification" #dropdown>
      <button type="button"
        (click)="onOpenActions()"
        class="btn btn-primary dropdown-toggle">
        <span class="fa fa-plus-circle fa-spacing"></span>{{text["Actions"]}} (2)
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu"
        [style.display]="showActions ? 'block': 'none'">
        <li (click)="onMarkAllRead()">
          <a>
            <button class="btn btn-warning btnicon">
              <span class="fa fa-check"></span>
            </button>
            {{text["MarkAllRead"]}}
          </a>
        </li>
        <li (click)="onDeleteAllRead()">
          <a>
            <button class="btn btn-danger btnicon">
              <span class="fa fa-trash"></span>
            </button>
            {{text["DeleteAllReadNotifications"]}}
          </a>
        </li>
      </ul>
    </div>
    <span 
      *ngIf="currentNotification"
      (click)='onCloseNotification()'
      class="fa fa-times pull-right">
    </span>
  </div>


  <div class="panel-body">
    <div *ngIf="notifications?.length===0 else notificationsList">
      {{text["NoRecentNotifications"]}}
    </div>
  </div>
  <div class="info-msg">
    <km-info-msg [msg]="infoMsg">
    </km-info-msg>
  </div>
</div>

<ng-template #notificationsList>
  <div class="list-group" *ngIf="!currentNotification else notificiationDetail">
    <a 
      *ngFor="let notification of notifications; let i=index"
      class="list-group-item"
      (click)="onSelectNotification(i)">
      <span class="read fa" [ngClass]="{
        'fa-circle':!notification.read,
        'fa-circle-o': notification.read}">
      </span>
      <span [class.unread]="!notification.read">{{notification.title}}</span>
      <button type="button" *ngIf="notification.read"
        class="btn btn-danger btn-xs btn-delete pull-right"
        (click)="onDeleteNotification(notification._id)">
        <span class="fa fa-trash"></span>
      </button>
      <span class="badge" [class.badgeMargin]="!notification.read">
        {{notification.dt | date: 'dd'}} {{text[notification.dt | date: 'MMMM']}} {{notification.dt | date: 'yyyy'}}
      </span>
    </a>
  </div>
</ng-template>

<ng-template #notificiationDetail>
  <div [innerHTML]="currentNotification.message"
  kmPressed 
  (onKeyPressed)="onKeyPressed($event)">
  </div>
  <div class="badge pull-right">
    {{currentNotification.dt | date: "yyyy-MM-dd HH:mm"}}
  </div>
</ng-template>
