<div class="panel panel-default more-transparant" *ngIf="resetIdValid && isReady && !isError && !isLoggingIn">
  <div class="panel-body">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="fa fa-sliders fa-spacing-title"></span>{{text["ResetPassword"]}}
      </div>
      <div class="panel-body">
        <form id="signupform"
            [formGroup]="pwForm"
            class="form-horizontal"
            role="form">
          <div class="field">
            <label for="password">
              {{text["Password"]}}
            </label>
            <div class="input-group" [ngClass]="passwordColor">
              <span class="input-group-addon">
                <span class="fa fa-key"></span>
              </span>
              <input
                id="password"
                formControlName="password"
                type="password"
                class="form-control input-lg"
                [placeholder]="text['Enternewpw'] || ''"
                minlength="5"
                maxlength="100">
            </div>
            <km-field-messages
              [control]="pwForm.controls['password']"
              [label]="'Password'"
              [text]="text">
            </km-field-messages>
          </div>
          <button
            type="button"
            [disabled]="!pwForm.valid"
            (click)="onSubmitForm(pwForm.value)"
            class="btn btn-success btn-lg center-block">
            <span class="fa fa-hand-o-right register"></span> {{text["SetNewPw"]}}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<km-info-msg
  [msg]="infoMsg"
></km-info-msg>

<km-error-msg
  [msg]="errorMsg"
></km-error-msg>

<km-loader *ngIf="isLoggingIn"
  [msg]="text['SigningIn'] || ''">
</km-loader>
