.panel {
  width: 75%;
  margin: 0 auto;
}
.field .fa {
  font-size: 22px;
  width: 26px;
}
.green > span {
  border: 1px solid green;
  background-color: green;
  color: white;
}
.orange > span {
  border: 1px solid orange;
  background-color: orange;
  color: white;
}
.red > span {
  border: 1px solid red;
  background-color: red;
  color: white;
}
.green input{
  border: 1px solid green;
}
.orange input {
  border: 1px solid orange;
}
.red input {
  border: 1px solid red;
}
km-field-messages {
  position: relative;
  left: 54px;
  display: inline-block;
}
