:host {
  font-size: 20px;
}
.total {
  border: 1px solid black;
  margin: -8px;
  padding: 7px;
}
.trophies {
  margin-bottom: 30px !important;
}
.rank {
  font-size: 24px;
  margin-bottom: 30px !important;
}