<form  *ngIf="isFormReady"
  [formGroup]="learnForm"
  class="form-horizontal col-xs-9">
  <!-- Nr of Words -->
  <div class="form-group">
    <label 
      for="nrOfWordsStudy" 
      class="control-label col-xs-4">
      {{text["NrOfWords"]}}
    </label>
    <div class="col-xs-8">
      <div class="input-group">
        <select 
          class="form-control tiny-control" 
          id="nrOfWordsStudy"
          (change)="onChangeField()"
          formControlName="nrOfWordsStudy">
          <option 
            *ngFor="let nr of formData.nrofwords"
            [value]="nr">
            {{nr}}
          </option>
        </select>
        <span class="input-group-addon">
          {{text["perStudySession"]}}
        </span>
      </div>
      <div class="input-group">
        <select 
          class="form-control tiny-control" 
          id="nrOfWordsLearn"
          (change)="onChangeField()"
          formControlName="nrOfWordsLearn">
          <option 
            *ngFor="let nr of formData.nrofwords"
            [value]="nr">
            {{nr}}
          </option>
        </select>
        <span class="input-group-addon">
          {{text["perPractiseSession"]}}
        </span>
      </div>
      <div class="input-group">
        <select 
          class="form-control tiny-control" 
          id="nrOfWordsReview"
          formControlName="nrOfWordsReview">
          <option 
            *ngFor="let nr of formData.nrofwords"
            [value]="nr">
            {{nr}}
          </option>
        </select>
        <span class="input-group-addon">
          {{text["perReviewSession"]}}
        </span>
      </div>
    </div>
  </div>
  <!-- Audio -->
  <div class="form-group">
    <label 
      for="audio" 
      class="control-label col-xs-4">
      {{text["Audio"]}}
    </label>
    <div class="col-xs-8">
      <km-toggle id="audio"
        [toggle]="!learnForm.value.mute"
        (toggled)="onSetFlag('mute', !$event)">
      </km-toggle>
    </div>
  </div>
  <!-- Countdown -->
  <div class="form-group">
    <label 
      for="countdown" 
      class="control-label col-xs-4">
      {{text["Countdown"]}}
    </label>
    <div class="col-xs-8">
      <km-toggle id="countdown"
        [toggle]="learnForm.value.countDown"
        (toggled)="onSetFlag('countDown', $event)">
      </km-toggle>
    </div>
  </div>
  <!-- Keyboard -->
  <div class="form-group">
    <label 
      for="keyboard" 
      class="control-label col-xs-4">
      {{text["Keyboard"]}}
    </label>
    <div class="col-xs-8">
      <km-toggle id="keyboard"
        [toggle]="learnForm.value.keyboard"
        (toggled)="onSetFlag('keyboard', $event)">
      </km-toggle>
    </div>
  </div>
  <!-- Color -->
  <div class="form-group">
    <label 
      for="keyboard" 
      class="control-label col-xs-4">
      {{text["ColorGender"]}}
    </label>
    <div class="col-xs-8">
      <km-toggle id="color"
        [toggle]="learnForm.value.color"
        (toggled)="onSetFlag('color', $event)">
      </km-toggle>
    </div>
  </div>
  <!-- Delay -->
  <div class="form-group">
    <label 
      for="delay" 
      class="control-label col-xs-4">
      {{text["WordDelay"]}}
    </label>
    <div class="col-xs-8">
      <div class="input-group">
        <select 
          class="form-control tiny-control" 
          id="delay"
          formControlName="delay">
          <option 
            *ngFor="let nr of formData.delays"
            [value]="nr">
            {{nr}}
          </option>
        </select>
        <span class="input-group-addon">
          {{learnForm.value.delay.toString() === "1" ? text["second"] : text["seconds"]}}
        </span>
      </div>
    </div>
  </div>
  <!-- Buttons -->
  <div class="form-group buttons">
    <div class="col-xs-9 col-xs-offset-3">
      <button type="button" class="btn btn-success btn-lg"
        [disabled]="!learnForm.valid || !learnForm.dirty"
        (click)="onUpdateSettings(learnForm)">
        {{text["UpdateSettings"]}}
      </button>
    </div>
  </div>
  <div class="info-msg">
    <km-info-msg [msg]="infoMsg">
    </km-info-msg>
  </div>
</form>
