<form *ngIf="isFormReady"
  [formGroup]="pwForm"
  class="form-horizontal col-xs-9">
  <!-- Old Password -->
  <div class="form-group">
    <label 
      for="oldPassword" 
      class="control-label col-xs-4">
      {{text["CurrentPassword"]}}
    </label>
    <div class="col-xs-8">
      <input 
        id="oldPassword"
        (change)="onChangeField()"
        formControlName="oldPassword"
        type="password" 
        class="form-control input-lg"
        [placeholder]="text['EnterCurrentPassword'] || ''"
        minlength="5"
        maxlength="100">
      <km-field-messages 
        [control]="pwForm.controls.oldPassword"
        [label]="'TheCurrentPassword'"
        [text]="text">
      </km-field-messages>
    </div>
  </div>
  <!-- New Password -->
  <div class="form-group">
    <label 
      for="newPassword" 
      class="control-label col-xs-4">
      {{text["NewPassword"]}}
    </label>
    <div class="col-xs-8">
      <input 
        id="newPassword"
        (change)="onChangeField()"
        formControlName="newPassword"
        type="password" 
        class="form-control input-lg col-xs-8"
        [placeholder]="text['EnterNewPassword'] || ''"
        minlength="5"
        maxlength="100">
      <km-field-messages 
        [control]="pwForm.controls.newPassword"
        [label]="'TheNewPassword'"
        [text]="text">
      </km-field-messages>
      <km-field-messages 
        [control]="pwForm"
        [text]="text">
      </km-field-messages>
    </div>
  </div>
  <!-- Button -->
  <div class="form-group buttons">
    <div class="col-xs-9 col-xs-offset-3">
      <button type="button" class="btn btn-success btn-lg"
        [disabled]="!pwForm.valid || !pwForm.dirty"
        (click)="onChangePassword(pwForm)">
        {{text["ChangePassword"]}}
      </button>
    </div>
  </div>

  <km-error-msg [text]="text">
  </km-error-msg>
  
  <div class="info-msg">
    <km-info-msg [msg]="infoMsg">
    </km-info-msg>
  </div>
</form>