<div class="mail">
  <button *ngIf="!isMailVerified && !isVerificationSent"
    type="button" class="btn btn-primary"
    (click)="onSendVerificationMail()">
    <span class="fa fa-external-link-square fa-spacing"></span>{{text['VerifyMail']}}
  </button>
  <div *ngIf="isMailVerified"
    class="is-verified">
    <img src="/assets/img/trophies/trophy901.png">
    {{text['MailIsVerified']}}
  </div>
  <form *ngIf="isReady && isMailVerified"
  [formGroup]="mailForm"
  class="form-horizontal col-xs-12">
    <fieldset class="mails">
      <legend>{{text["EmailOptIn"]}}:</legend>
      <div class="form-group">
        <label
          for="countdown"
          class="control-label col-xs-4">
          {{text["EmailNews"]}}
          <span class="fa fa-info-circle"
            [tooltip]="text['EmailNewsInfo']"
            hide-delay="50">
          </span>
        </label>
        <div class="col-xs-8">
          <km-toggle id="countdown"
            [toggle]="mailForm.value.info"
            (toggled)="onSetFlag('info', $event)">
          </km-toggle>
        </div>
      </div>
    </fieldset>
    </form>

  <km-error-msg [msg]="errorMsg">
  </km-error-msg>

  <km-info-msg [msg]="infoMsg">
  </km-info-msg>
</div>
