<form *ngIf="isReady"
  [formGroup]="mainForm"
  class="form-horizontal col-xs-12">
  <!-- Interface Lan -->
  <div class="form-group">
    <label
      for="lan"
      class="control-label col-xs-4">
      {{text["InterfaceLan"]}}
      <span class="fa fa-info-circle"
        [tooltip]="text['InterfaceLanInfo']"
        hide-delay="50">
      </span>
    </label>
    <div class="col-xs-8">
      <select
        class="form-control"
        id="lan"
        (change)="onChangeField()"
        formControlName="lan">
        <option
          *ngFor="let lan of formData.lans"
          [value]="lan.code">
          {{lan.nativeName}}
        </option>
      </select>
    </div>
  </div>
  <!-- My Lan -->
  <div class="form-group">
    <label
      for="mylan"
      class="control-label col-xs-4">
      {{text["MyLan"]}}
      <span class="fa fa-info-circle"
        [tooltip]="text['MyLanInfo']"
        hide-delay="50">
      </span>
    </label>
    <div class="col-xs-8">
      <select
        class="form-control"
        id="myLan"
        (change)="onChangeField()"
        formControlName="myLan">
        <option
          *ngFor="let lan of formData.myLans"
          [value]="lan.code">
          {{lan.nativeName}}
        </option>
      </select>
    </div>
  </div>
  <!-- Background -->
  <div class="form-group">
    <label
      for="background"
      class="control-label col-xs-4">
      {{text["Background"]}}
      <span class="fa fa-info-circle"
        [tooltip]="text['BackgroundInfo']"
        hide-delay="50">
      </span>
    </label>
    <div class="col-xs-8">
      <km-toggle id="countdown"
        [toggle]="mainForm.value.background"
        (toggled)="onSetFlag('background', $event)">
      </km-toggle>
    </div>
  </div>
  <!-- Countdown -->
  <div class="form-group">
    <label
      for="countdown"
      class="control-label col-xs-4">
      {{text["Countdown"]}}
      <span class="fa fa-info-circle"
        [tooltip]="text['CountdownInfo']"
        hide-delay="50">
      </span>
    </label>
    <div class="col-xs-2">
      <km-toggle id="countdown"
        [toggle]="mainForm.value.countDown"
        (toggled)="onSetFlag('countDown', $event)">
      </km-toggle>
    </div>
    <div class="col-xs-6">
      <div class="input-group ig-fixed" *ngIf="mainForm.value.countDown">
        <select
          class="form-control"
          id="delay"
          formControlName="delay">
          <option
            *ngFor="let nr of formData.delays"
            [value]="nr">
            {{nr}}
          </option>
        </select>
        <span class="input-group-addon">
          {{mainForm.value.delay.toString() === "1" ? text["second"] : text["seconds"]}}
          <span class="fa fa-info-circle"
            [tooltip]="text['DelayInfo']"
            hide-delay="50">
          </span>
        </span>
      </div>
    </div>
  </div>
  <!-- Delay -->
  <div class="form-group">
    <label
      for="flashcards"
      class="control-label col-xs-4">
      {{text["NrOfFlashCards"]}}
      <span class="fa fa-info-circle"
        [tooltip]="text['NrOfFlashCardsInfo']"
        hide-delay="50">
      </span>
    </label>
    <div class="col-xs-8">
      <div class="select-nr">
        <select
          class="form-control"
          id="flashcards"
          formControlName="flashcards">
          <option
            *ngFor="let nr of formData.flashcards"
            [value]="nr">
            {{nr}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <!-- Gender -->
  <div class="form-group">
    <label
      for="background"
      class="control-label col-xs-4">
      {{text["RankGender"]}}
      <span class="fa fa-info-circle"
        [tooltip]="text['RankGenderInfo']"
        hide-delay="50">
      </span>
    </label>
    <div class="col-xs-8">
      <span class="fa fa-male fa-spacing-title gender"
        (click)="onSetGender('m')"
        [class.gen-selected]="mainForm.value.gender === 'm'">
      </span>
      <span class="fa fa-female gender"
        (click)="onSetGender('f')"
        [class.gen-selected]="mainForm.value.gender === 'f'">
      </span>
    </div>
  </div>
  <!-- Button -->
  <div class="form-group buttons">
    <div class="col-xs-9 col-xs-offset-3">
      <button type="button" class="btn btn-success btn-lg"
        [disabled]="!mainForm.valid || !mainForm.dirty"
        (click)="onUpdateSettings(mainForm)">
        {{text["UpdateSettings"]}}
      </button>
    </div>
  </div>

  <div class="info-msg">
    <km-info-msg [msg]="infoMsg">
    </km-info-msg>
  </div>
</form>
