<div class="panel panel-default">
  <div class="panel-heading">
    <span class="fa fa-sliders"></span> {{text["Settings"]}}
  </div>
  <div class="panel-body">
    <form *ngIf="isFormReady"
      [formGroup]="settingsForm"
      class="form-horizontal">
      <!-- Nr of Words -->
      <div class="form-group">
        <label 
          for="nrOfWords" 
          class="control-label col-xs-4">
          {{text["NrOfWords"]}}
        </label>
        <div class="col-xs-8">
          <select 
            class="form-control tiny-control" 
            id="nrOfWords"
            formControlName="nrOfWords">
            <option 
              *ngFor="let nr of formData.nrofwords"
              [value]="nr">
              {{nr}}
            </option>
          </select>
        </div>
      </div>
      <!-- Audio -->
      <div class="form-group">
        <label 
          for="audio" 
          class="control-label col-xs-4">
          {{text["Audio"]}}
        </label>
        <div class="col-xs-8">
          <km-toggle id="audio"
            [toggle]="!settingsForm.value.mute"
            (toggled)="onSetFlag('mute', !$event)">
          </km-toggle>
        </div>
      </div>
      <!-- Countdown -->
      <div class="form-group">
        <label 
          for="countdown" 
          class="control-label col-xs-4">
          {{text["Countdown"]}}
        </label>
        <div class="col-xs-8">
          <km-toggle id="countdown"
            [toggle]="settingsForm.value.countDown"
            (toggled)="onSetFlag('countDown', $event)">
          </km-toggle>
        </div>
      </div>
      <!-- Keyboard -->
      <div class="form-group">
        <label 
          for="keyboard" 
          class="control-label col-xs-4">
          {{text["Keyboard"]}}
        </label>
        <div class="col-xs-8">
          <km-toggle id="keyboard"
            [toggle]="settingsForm.value.keyboard"
            (toggled)="onSetFlag('keyboard', $event)">
          </km-toggle>
        </div>
      </div>
      <!-- Color -->
      <div class="form-group">
        <label 
          for="keyboard" 
          class="control-label col-xs-4">
          {{text["ColorGender"]}}
        </label>
        <div class="col-xs-8">
          <km-toggle id="color"
            [toggle]="settingsForm.value.color"
            (toggled)="onSetFlag('color', $event)">
          </km-toggle>
        </div>
      </div>
      <!-- Delay -->
      <div class="form-group">
        <label 
          for="delay" 
          class="control-label col-xs-4">
          {{text["WordDelay"]}}
        </label>
        <div class="col-xs-8">
          <div class="input-group">
            <select 
              class="form-control tiny-control" 
              id="delay"
              formControlName="delay">
              <option 
                *ngFor="let nr of formData.delays"
                [value]="nr">
                {{nr}}
              </option>
            </select>
            <span class="input-group-addon">
              {{settingsForm.value.delay.toString() === "1" ? text["second"] : text["seconds"]}}
            </span>
          </div>
        </div>
      </div>
      <!-- Buttons -->
      <div class="form-group buttons">
        <div class="col-xs-19 col-xs-offset-3">
          <button type="button" class="btn btn-success btn-lg"
            [disabled]="!settingsForm.valid || !settingsForm.dirty"
            (click)="onUpdateSettings(settingsForm)">
            {{text["UpdateSettings"]}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div  class="info-msg">
  <km-info-msg [msg]="infoMsg">
  </km-info-msg>
</div>
