<div class="panel panel-default transparant" *ngIf="text">
  <div class="panel-heading">
    <span class="fa fa-user-o fa-spacing-title"></span>{{profile?.userName}}
    <!-- Edit button (go to profile) -->
    <div class="pull-right"  *ngIf="isCurrentUser">
      <button
        type="button"
        class="btn btn-warning"
        (click)="onEditProfile()">
        <span class="fa fa-pencil"></span> {{text["Edit"]}}
      </button>
    </div>
    <!-- Follow / Unfollow button -->
    <div class="pull-right" *ngIf="!isCurrentUser && profile">
      <button
        *ngIf="!isCurrentlyFollowing"
        type="button"
        class="btn btn-success"
        (click)="onFollowUser(profile._id)">
        <span class="fa fa-user-plus"></span> {{text["Follow"]}} '{{profile?.userName}}'
      </button>
      <div *ngIf="isCurrentlyFollowing">
        <div class="following">
          <span class="fa fa-check"></span> {{text['Following']}}
          <button
            type="button"
            (click)="onUnfollowUser(profile._id)"
            class="btn btn-warning btn-sm">
            <span class="fa fa-times"></span> {{text["Unfollow"]}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-2">
        <div class="gravatar col-xs-2">
          <img kmGravatar [hash]="profile.emailHash" [width]="96" *ngIf="profile">
        </div>
      </div>
      <div class="col-xs-10 data">
        <div class="row " *ngIf="profile?.profile?.realName">
          <label
            for="bio"
            class="control-label col-xs-3">
            {{text['RealName']}}
          </label>
          <div class="col-xs-9">
            {{profile.profile.realName}}
          </div>
        </div>
        <div class="row" *ngIf="profile?.profile?.location">
          <label
            for="location"
            class="control-label col-xs-3">
            {{text['Location']}}
          </label>
          <div class="col-xs-9">
            {{profile.profile.location}}
          </div>
        </div>
        <div class="row" *ngIf="profile?.profile?.nativeLan">
          <label
            for="language"
            class="control-label col-xs-3">
            {{text['NativeLanguage']}}
          </label>
          <div class="col-xs-9">
            {{profile.profile.nativeLan}}
          </div>
        </div>
        <div class="row" *ngIf="profile?.profile?.bio">
          <label
            for="bio"
            class="control-label col-xs-3">
            {{text['Bio']}}
          </label>
          <div class="col-xs-9">
            {{profile.profile.bio}}
          </div>
        </div>
        <div class="row">
          <label
            for="joinDate"
            class="control-label col-xs-3">
            {{text['JoinDate']}}
          </label>
          <div class="col-xs-9">
            {{profile?.dtJoined | date: 'dd'}} {{text[profile?.dtJoined | date: 'MMMM']}} {{profile?.dtJoined | date: 'yyyy'}}
          </div>
        </div>
        <div class="row">
          <label
            for="rank"
            class="control-label col-xs-3">
            {{text['Rank']}}
          </label>
          <div class="col-xs-9" *ngIf="!loadingPoints">
            <img src="/assets/img/ranks/rank{{rank}}_32b.png" class="img">
            {{text['rank' + rank + gender]}}
          </div>
          <div class="col-xs-9" *ngIf="loadingPoints">
            <km-loader
              [margin]="0"
              [spinnerMargin]="0"
              [small]="true"
              [showBackground]="false">
            </km-loader>
          </div>
        </div>
        <div class="row">
          <label
            for="points"
            class="control-label col-xs-3">
            {{text['Points']}}
          </label>
          <div class="col-xs-9" *ngIf="!loadingPoints">
            {{score | score}}
          </div>
          <div class="col-xs-9" *ngIf="loadingPoints">
            <km-loader
              [margin]="0"
              [spinnerMargin]="0"
              [small]="true"
              [showBackground]="false">
            </km-loader>
          </div>
        </div>
        <div class="row">
          <label
            for="trophies"
            class="control-label col-xs-3">
            {{text['Trophies']}}
          </label>
          <div class="col-xs-9" *ngIf="!loadingTrophies">
            <span *ngFor="let trophy of trophies">
              <img src="/assets/img/trophies/trophy{{trophy.trophy}}.png"
                class="trophy"
                [tooltip]="text['trophy' + trophy.trophy] || ''"
                placement="top">
            </span>
            <span *ngIf="trophies?.length < 1">
              {{text['None']}}
            </span>
          </div>
          <div class="col-xs-9" *ngIf="loadingTrophies">
            <km-loader
              [margin]="0"
              [spinnerMargin]="0"
              [small]="true"
              [showBackground]="false">
            </km-loader>
          </div>
        </div>
        <div class="row">
          <label
            for="network"
            class="control-label col-xs-3">
            {{text['Network']}}
          </label>
          <div class="col-xs-9" *ngIf="!loadingNetwork && network">
            <ul class="list-unstyled">
              <!-- FOLLOWING -->
              <li (click)="onToggleNetwork('following')" [class.clickable]="network.following.length > 0">
                <span *ngIf="network.following.length > 0"
                  class="fa fa-spacing" [ngClass]="{
                  'fa-chevron-right': !network.showFollowing && network.following.length > 0,
                  'fa-chevron-down': network.showFollowing && network.following.length > 0
                }"></span>
                {{text['Following2']}} {{network?.following?.length || text['noone']}} {{ network?.following?.length === 1 ? text['person'] : (network?.following?.length === 0 ? '' : text['people'])}}
              </li>
              <li *ngIf="network.showFollowing" class="profiles">
                <km-compact-profile *ngFor="let user of network.followingDetail"
                  [profile]="user"
                  [text]="text">
                </km-compact-profile>
                <button *ngIf="network?.following?.length > network.followingDetail.length"
                  type="button"
                  class="btn btn-info btn-xs"
                  (click)="onShowMore('following')">
                  <span class="fa fa-eye fa-spacing"></span>{{text["ShowMore"]}}
                </button>
              </li>
              <!-- FOLLOWERS -->
              <li (click)="onToggleNetwork('followers')" [class.clickable]="network.followers.length > 0">
                <span *ngIf="network.followers.length > 0"
                  class="fa fa-spacing" [ngClass]="{
                  'fa-chevron-right': !network.showFollowers,
                  'fa-chevron-down': network.showFollowers
                }"></span>
                {{text['FollowedBy']}} {{network?.followers?.length || text['noone']}}
                <span *ngIf="network?.followers?.length">
                  {{network?.followers?.length === 1 ? text['person'] : text['people']}}
                </span>
              </li>
              <li *ngIf="network.showFollowers" class="profiles">
                <km-compact-profile *ngFor="let user of network.followersDetail"
                  [profile]="user"
                  [text]="text">
                </km-compact-profile>
                <button *ngIf="network?.followers?.length > network.followersDetail.length"
                  type="button"
                  class="btn btn-info btn-xs"
                  (click)="onShowMore('followers')">
                  <span class="fa fa-eye fa-spacing"></span>{{text["ShowMore"]}}
                </button>
              </li>
              <!-- BUDDIES -->
              <li *ngIf="network?.buddies?.length > 0"
                (click)="onToggleNetwork('buddies')"
                [class.clickable]="network.buddies.length > 0">
                <span *ngIf="network.buddies.length > 0"
                    class="fa fa-spacing" [ngClass]="{
                    'fa-chevron-right': !network.showBuddies,
                    'fa-chevron-down': network.showBuddies
                  }"></span>
                {{network?.buddies?.length}} {{network?.buddies?.length === 1 ? text['buddy']: text['buddies']}}
              </li>
              <li *ngIf="network.showBuddies" class="profiles">
                <km-compact-profile *ngFor="let user of network.buddiesDetail"
                  [profile]="user"
                  [text]="text">
                </km-compact-profile>
                <button *ngIf="network?.buddies?.length > network.buddiesDetail.length"
                  type="button"
                  class="btn btn-info btn-xs"
                  (click)="onShowMore('buddies')">
                  <span class="fa fa-eye"></span> {{text["ShowMore"]}}
                </button>
              </li>
            </ul>
          </div>
          <div class="col-xs-9" *ngIf="loadingNetwork">
            <km-loader
              [margin]="0"
              [spinnerMargin]="0"
              [small]="true"
              [showBackground]="false">
            </km-loader>
          </div>
        </div>
        <div class="row" *ngIf="!isCurrentUser && (isAdmin || (isCurrentlyFollowing && isCurrentlyFollowed && profile))">
          <button [style.display]="messageShown ? 'none' : 'inline-block'"
            type="button"
            (click)="onCreateMessage(msgField)"
            class="btn btn-primary btn-sm">
            <span class="fa fa-envelope"></span> {{text["SendMessage"]}}
          </button>
          <div [style.display]="messageShown ? 'block' : 'none'">
            <km-message
              [sendTxt]="text['Send']"
              (send)="onSendMessage($event)"
              #msgField>
            </km-message>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div  class="info-msg">
    <km-info-msg [msg]="infoMsg">
    </km-info-msg>
  </div>
</div>
