.panel {
  width: 75%;
  margin: 0 auto;
}
.panel-heading {
  background-color: #60727e;
  border-color: #505d66;
  color: snow;
  font-size: 24px;
}
.buttons {
  margin-top: 32px;
}
.input-group-addon {
  float: left;
  padding-top: 8px;
  height: 34px;
  width: fit-content;
}
.info-msg {
  width: 60%;
  margin: 0 auto;
}
textarea.bio {
  height: 94px;
}
.gravatar {
  height: 150px;
}
.gravatar img{
  border: 1px solid #ddd;
}
.btn-gravatar {
  width: 98px;
  white-space: normal;
  margin-top: 1px;
}
.ig-fixed .form-control {
  width: 68px;
}
.ig-fixed .input-group-addon {
  width: inherit;
}
.spacer {
  height: 12px;
}
