.panel {
  background-color: rgba(255, 255, 255, .9);
  width: 75%;
  margin: 0 auto;
}
.panel-heading {
  background-color: #60727e;
  border-color: #505d66;
  color: snow;
  font-size: 24px;
}
.buttons {
  margin-top: 32px;
}
.tiny-control {
  width: 64px;
}
.input-group-addon {
  float: left;
  padding-top: 8px;
  height: 34px;
  width: fit-content;
}
.info-msg {
  width: 60%;
  margin: 0 auto;
}
textarea.bio {
  height: 90px;
}
