.msg {
  font-size: 20px;
  margin: 15px 0;
  border-radius: 6px;
  padding: 15px;
}
.info {
  color: green;
}
.error {
  color: red;
  font-family: 'courier';
}
.fa {
  font-size: 36px;
  margin-right: 12px;
}
.text {
  font-weight: bold;
  position: relative;
  top: -4px;
}
.error-detail {
  margin-left: 56px;
  font-size: 12px;
  color: #333;
  font-style: italic;
}
