.translations-container {
  max-height: 140px;
  overflow-y: scroll;
  border: 1px solid #333;
  margin-bottom: 12px;
  border-radius: 6px;
}
.translation-item {
  padding: 5px 10px;
}
.translation-item:nth-child(2n) {
  background-color:#fafafa;
}
.translation-item:hover {
  background-color: #eee;
}
.translation-new-note {
  height: 26px;
  padding-top: 0;
  font-style: italic;
}
.revision .translation-new-note {
  height: 56px;
}
.translation-send {
  vertical-align: top;
}
.translation-note {
  font-style: italic;
  font-size: 12px;
}
.new-translation {
  margin-top: 3px;
}
.edit-icon {
  float: right;
  color: #428bca;
}
.btn-thumb {
  cursor: default;
}
.btn-up:hover, .thumbed-up {
  background-color: #32CD32;
  border-color: #32CD32;
}
.btn-down:hover, .thumbed-down {
  background-color: red;
  border-color: red;
}
.btn-up, .btn-down {
  cursor: pointer;
}
.fa-check {
  color: green;
}
.vote-block {
  float: left;
}
.translation-block {
  display: block;
}
.machine-tl{
  margin-top: 12px;
}
.machine-tl > div {
  margin-right: 3px;
}
.machine-buttons {
  display: inline-block;
}
.duplicate {
  color: red;
}
.duplicate-thumbs {
  min-width: 92px;
  min-height: 30px;
  display: inline-block;
  color: darkorange;
}
.revision .translation-send {float: left;width: 100%;}
.revision .translation-send > .btn {width: 100%;}

 @media screen and (max-width: 767px) {
  .translation-send {float: left;width: 100%;}
  .translation-send > .btn {width: 100%;}
}
