<div *ngIf="!!suggestedBooks.length && !!book">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{text["ReadingSuggestions"]}}
      </h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <km-book-tab *ngFor="let sbook of suggestedBooks"
          [book]="sbook"
          [userBook] = "userBooks[sbook._id]"
          [bookType] = "bookType"
          [isTest] = "isTest"
          [weight]="book.difficulty.weight"
          [text]="text">
        </km-book-tab>
      </ul>
    </div>
  </div>
</div>
