.panel-type {
  float: left;
  padding-left: 2px;
  height: 58px;
  width: 42px;
}
.panel-header {
  margin-left: 46px;
  height: 58px;
}
.has-chapter .panel-type,
.has-chapter .panel-header {
  height: 80px;
}
.book-header {
  padding: 8px 12px;
  overflow: hidden;
}
.book-title {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book-chapter {
  display: block;
  margin-left: 90px;
  margin-top: 2px;
}
.fa-book {
  font-size: 32px;
  margin: 14px 0 0 4px;
  color: #428bca;
}
.fa-volume-up, .fa-list, .fa-file-text {
  font-size: 32px;
  margin: 14px 0 0 4px;
  color: #428bca;
}
.fa-list, .fa-file-text {
  color: lightblue;
}
.fa-volume-up.test {
  color: #ffa500;
}
