<span class="fa"
  [ngClass]="{
    'fa-music': tpe === 'song',
    'fa-book': tpe === 'book',
    'fa-file-o': tpe === 'shortstory',
    'fa-newspaper-o': tpe === 'report',
    'fa-align-center': tpe === 'poetry',
    'fa-child': tpe === 'children' || tpe === 'childrenpoetry' || tpe === 'youth',
    'fa-user-circle-o': tpe === 'biography',
    'fa-magic': tpe === 'fairytale',
    'fa-paw': tpe === 'fable',
    'fa-comment-o': tpe === 'speech',
    'fa-university': tpe === 'play'
  }"
  [tooltip]="text[tpe]"
  placement="top">
</span>
