<article>
  <div class="panel panel-default panel-book"
    [ngClass]="{
      dashboard:tpe==='home',
      audiobook:bookType==='listen',
      readbook:bookType==='read',
      compact:isCompact
    }">
    <div class="read-bar" *ngIf="isAllFinished">
    </div>
    <div class="panel-body"
      [class.read]="userBookStatus.isBookRead"
      (click)="onOpen()">
      <div class="corner-ribbon top-right yellow shadow" *ngIf="isNewBook && tpe !== 'home'">
        {{text["New"]}}!
      </div>
      <!-- COVER IMAGE -->
      <img src="/assets/img/flags/{{book.lanRegion || book.lanCode}}-circle.png" class="circle-flag">
      <div class="image-wrapper" [class.img-border]="!!book?.img">
        <div class="image">
          <img src="{{book?.img || defaultImage}}" class="book-img">
          <span class="img-text" *ngIf="!book?.img">{{book.title}}</span>
          <span class="img-author" *ngIf="!book?.img">{{authorsTxt}}</span>
          <div class="img-activity" *ngIf="userCount" [class.default-img]="!book?.img">
            <span class="users"
              [tooltip]="text['UsersStarted']"
              placement="top"
              hide-delay="0">
              <span class="fa fa-user-o"></span>{{userCount}}
            </span>
            <span class="thumbs"
              [tooltip]="text['UsersRecommended']"
              placement="top"
              hide-delay="0">
              <span class="fa fa-thumbs-o-up"></span>{{recommendCount}}
            </span>
          </div>
        </div>
      </div>
      <div class="book">
        <div class="book-type" *ngIf="tpe === 'home'">
          <span class="fa"
            [ngClass]="{
              'fa-book':bookType==='read',
              'fa-volume-up': bookType==='listen',
              'test': isTest
            }"
            [tooltip]="text[bookType==='listen' ? 'Audiobook' : 'book']"
            placement="left">
          </span>
        </div>
        <div class="index-nr pull-right" *ngIf="tpe !== 'home'">
          {{nr}} / {{total}}
        </div>
        <!-- COMPACT -->
        <div *ngIf="isCompact">
          <ng-container *ngTemplateOutlet="actionTemplate;context:{
            isCompact: isCompact,
            tpe: tpe,
            text: text,
            userBookStatus: userBookStatus,
            userBookStatusTest: userBookStatusTest
          }">
          </ng-container>
          <button type="button" *ngIf="bookType==='read'"
            (click)="onRevision()"
            class="btn btn-info btn-lg pull-right"
            [tooltip]="text['Revision']"
            placement="top"
            hide-delay="0">
            <span class="fa fa-file-text"></span>
          </button>
          <button type="button"
            (click)="onStartReadingListening(true, false, $event)"
            class="btn btn-primary btn-lg pull-right"
            [tooltip]="bookType==='listen' ? text['ListenAgain'] : text['ReadAgain']"
            placement="top"
            hide-delay="0">
            <span class="fa fa-repeat"></span>
          </button>
        </div>
        <!-- TITLE -->
        <h3>
          <img src="/assets/img/flags/{{book.lanRegion || book.lanCode}}.png" class="flag from"><span class="fa fa-arrow-right flag-from"></span><img src="/assets/img/flags/{{userLanCode}}.png" class="flag to">
          <span *ngIf="isAllFinished" class="fa fa-check"></span>
          <span class="title">{{book.title}}</span>
        </h3>
        <div class="book-content">
          <!-- AUTHOR -->
          <div class="author">
            <km-book-tpe
              [tpe]="book.tpe"
              [text]="text">
            </km-book-tpe>
            {{text[book.tpe]}} <span *ngIf="book.authors">{{text["by"]}} </span>
            <km-link-field
              [value]="book.authors"
              [separator]="' &'"
            ></km-link-field>
            <!-- <span *ngIf="linksTxt" [innerHTML]="linksTxt | sanitizeHtml"></span> -->
            <span *ngIf="!!book.year">&nbsp;({{book.year}})</span>&nbsp;
            <span class="fa fa-copyright info-intro"
              [class.selected]="showCredits"
              [tooltip]="text['Attributions']"
              placement="top"
              hide-delay="0"
              (click)="onToggleCredits()">
            </span>
            <span *ngIf="book.series || book.intro"
              class="fa fa-info-circle info-credits"
              [class.selected]="showIntro"
              (click)="onToggleIntro()">
            </span>
            <!-- INTRO -->
            <div class="extra-info" [style.display]="showIntro ? 'block' : 'none'">
              <div class="series" *ngIf="book.series">{{text['BookSeries']}}: {{book.series}}</div>
              <div class="intro" *ngIf="book.intro">{{book.intro}}</div>
            </div>
            <!-- ATTRIBUTION -->
            <div class="credits" [style.display]="showCredits ? 'block' : 'none'">
              <div>
                {{text['License']}}:
                <km-license
                  [text]="text"
                  [book]="book"
                  [licenses]="licenses"
                  >
                </km-license>
              </div>
              <div *ngIf="book.credits">{{text['BookCredits']}}: <km-link-field [value]="book.credits"></km-link-field></div>
              <div *ngIf="book.authors">{{text['Author']}}: <km-link-field [value]="book.authors"></km-link-field></div>
              <div *ngIf="book.adaptation">{{text['AdaptedBy']}}: <km-link-field [value]="book.adaptation"></km-link-field></div>
              <div *ngIf="book.narrators">{{text['BookNarrator']}}: <km-link-field [value]="book.narrators"></km-link-field></div>
              <div *ngIf="book.translator">{{text['BookTranslator']}}: <km-link-field [value]="book.translator"></km-link-field></div>
              <div *ngIf="book.cover">{{text['BookCover']}}: <km-link-field [value]="book.cover"></km-link-field></div>
              <div *ngIf="book.source">{{text['BookSource']}}: <km-link-field [value]="book.source"></km-link-field></div>
            </div>
          </div>
          <!-- BUTTONS -->
          <div class="buttons" *ngIf="book.lanCode !== userLanCode">
            <span *ngIf="bookType ==='read' || bookType==='listen'">
              <button *ngIf="!isFinished && !userBookStatus.isBookRead && (!isTest || tpe!=='home')"
                type="button"
                class="btn btn-primary"
                [class.btn-lg]="tpe!=='home'"
                (click)="onStartReadingListening(false, false, $event)">
                <span class="fa fa-arrow-right fa-spacing"></span>
                {{userBookStatus.isStarted ?
                    (bookType==='listen' ? text["ContinueListening"] : text["ContinueReading"])
                    : (userBook && userBook.repeatCount > 0 ?
                      (bookType==='listen' ? text["ListenAgain"] : text["ReadAgain"])
                      : (bookType==='listen' ? text["StartListening"] : text["StartReading"])
                    )
                }}
              </button>
              <button *ngIf="!isTestFinished && !userBookStatusTest.isBookRead && bookType==='listen' && (isTest || tpe!=='home')"
                type="button"
                class="btn btn-warning"
                [class.btn-lg]="tpe!=='home'"
                (click)="onStartListeningTest()">
                <span class="fa fa-flask fa-spacing"></span>
                {{userBookStatusTest.isStarted ? text["ContinueListeningTest"] : text["StartListeningTest"]}}
              </button>
              <span *ngIf="isFinished || isTestFinished">
                <!--
                <span class="book-read" *ngIf="isAllFinished">
                  <span class="fa fa-check"></span>
                  {{text[bookType==='listen' ? 'AudioListened' : 'BookRead']}}
                </span>
                -->
                <button type="button" *ngIf="isFinished"
                  (click)="onStartReadingListening(true, false, $event)"
                  class="btn btn-primary"
                  [class.btn-lg]="tpe!=='home'">
                  <span class="fa fa-repeat fa-spacing"></span>{{text[bookType==='listen' ? 'ListenAgain' :'ReadAgain']}}
                </button>
                <button type="button" *ngIf="isTestFinished"
                  (click)="onStartReadingListening(true, true, $event)"
                  class="btn btn-warning"
                  [class.btn-lg]="tpe!=='home'">
                  <span class="fa fa-repeat fa-spacing"></span>{{text['TestAgain']}}
                </button>
              </span>
            </span>
            <span *ngIf="bookType==='glossary' && !!userGlossary?.count">
              <button type="button"
                (click)="onStartVocabularyTest()"
                class="btn btn-primary"
                [class.btn-lg]="tpe!=='home'">
                <span class="fa fa-arrow-right fa-spacing"></span>{{text['StartVocabularyTest']}}
              </button>
              <button type="button"
                (click)="onStartFlashcards()"
                class="btn btn-primary"
                [class.btn-lg]="tpe!=='home'">
                <span class="fa fa-folder-o fa-spacing"></span>{{text['FlashCards']}}
              </button>
            </span>
            <span *ngIf="book.wordListPublished">
              <button type="button"
                (click)="onWordList()"
                class="btn btn-info"
                [class.btn-lg]="tpe!=='home'">
                <span class="fa fa-th-list fa-spacing"></span>{{text['WordList']}}
              </button>
            </span>
            <span *ngIf="bookType==='read' && (isFinished || userBook && userBook.repeatCount > 0)">
              <button type="button"
                (click)="onRevision()"
                class="btn btn-info"
                [class.btn-lg]="tpe !== 'home'">
                <span class="fa fa-file-text fa-spacing"></span>{{text['Revision']}}
              </button>
            </span>
          </div>
          <!-- PIE CHART -->
          <div class="pie-content" style="position:relative;">
            <div class="pie-chart" *ngIf="userBookStatus.nrOfSentencesDone > 0 || userBookStatusTest.nrOfSentencesDone > 0">
              <km-pie-chart *ngIf="tpe!=='home'"
                [size]="'small'"
                [data]="currentUserData"
                [testData]="currentUserTestData">
              </km-pie-chart>
            </div>
          </div>
          <!-- INFO -->
          <div class="info" *ngIf="!isCompact && tpe !== 'home'">
            <div *ngIf="bookType !== 'glossary'">
              <div class="sentences">
                {{book.difficulty?.nrOfSentences | score}} {{text["sentences"]}}
                <span *ngIf="translationData?.count" class="translations">
                  ({{translationString}} {{text["translatedinto"]}} {{text[userLanCode]}}<span *ngIf="isTranslated"
                    class="fa fa-check"
                    [tooltip]="text['FullyTranslated']"
                    placement="top"
                    hide-delay="50">
                  </span>)
                </span>
              </div>
              <div class="words">
                {{book.difficulty?.nrOfUniqueWords | score}} {{text["uniquewords"]}}
                <span *ngIf="!book.wordListPublished">({{book.difficulty?.nrOfWords | score}} {{text["intotal"]}})</span>
                <span *ngIf="book.wordListPublished">({{book.nrOfWordsInList | score}} {{text["inwordlist"]}})</span>
              </div>
              <div *ngIf="tpe!=='home'">
                <ng-container *ngTemplateOutlet="actionTemplate;context:{
                  isCompact: isCompact,
                  tpe: tpe,
                  text: text,
                  userBookStatus: userBookStatus,
                  userBookStatusTest: userBookStatusTest
                }">
                </ng-container>
              </div>
            </div>
            <div *ngIf="bookType === 'glossary'">
              <div class="glossary-words">
                {{book.nrOfWordsInList | score}} {{text["words"]}}
                <span *ngIf="!!userGlossary?.count"> ({{userGlossary.count | score}} {{text["inMyWordList"]}})</span>
              </div>
            </div>
            {{text["Difficulty"]}}: <span class="difficulty" [style.width]="difficultyWidth + 'px'"></span>
            ({{difficultyPerc}}%)
          </div>
          <!-- PROGRESS -->
          <ng-container *ngTemplateOutlet="progressTemplate;context:{
            isTest: false,
            userBookStatus: userBookStatus,
            userBook: userBook,
            userData: userData,
            showHistory: showHistoryData[0]
          }">
          </ng-container>
          <ng-container *ngTemplateOutlet="progressTemplate;context:{
            isTest: true,
            userBookStatus: userBookStatusTest,
            userBook: userBookTest,
            userData: userDataTest,
            showHistory: showHistoryData[1]
          }">
          </ng-container>
          <!-- UNSUBSCRIBE -->
          <div class="stop pull-right" *ngIf="(userBookStatus.isSubscribed || userBookStatusTest.isSubscribed ) && tpe==='my'">
            <button type="button" class="btn btn-default"
              (click)="onStopReadingListening()">
              <span class="fa fa-times-circle fa-spacing"></span>
              {{text["RemoveFromList"]}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<ng-template #progressTemplate
  let-isTest=isTest
  let-uBookStatus=userBookStatus
  let-uBook=userBook
  let-uData=userData
  let-showHistory=showHistory>
  <div *ngIf="uBookStatus.isStarted || (uBook && uBook.repeatCount > 0)">
    <div *ngIf="uBook.repeatCount && tpe !== 'home'"
      (click)="onShowRepeatHistory(isTest)"
      class="repeat-count pull-right"
      [class.test]="isTest"
      [tooltip]="text['RepeatNr']"
      placement="left"
      hide-delay="50">
      {{uBook.repeatCount}}
    </div>
    <div *ngIf="uBook.repeatCount && tpe === 'home'"
      class="repeat-count home pull-right"
      [class.test]="isTest"
      [tooltip]="text['RepeatNr']"
      placement="left"
      hide-delay="50">
      <span class="repeat-nr">{{uBook.repeatCount}}</span>
    </div>
    <div class="progress"
      [ngClass]="{'progress-min': uBookStatus.percDone < 5, 'test': isTest}">
      <div
        class="progress-bar progress-bar-striped"
        [ngClass]="{'progress-bar-warning': isTest, 'progress-bar-primary': !isTest}"
        role="progressbar"
        [attr.aria-valuenow]="uBookStatus.nrOfSentencesDone"
        aria-valuemin="0"
        [attr.aria-valuemax]="book.difficulty?.nrOfSentences"
        [style.width.%]="uBookStatus.percDone">
        <span>
          {{uBookStatus.nrOfSentencesDone}}/{{book.difficulty?.nrOfSentences}}&nbsp;({{uBookStatus.percDone}}%)
        </span>
      </div>
    </div>
    <ul class="list-group repeat-history" *ngIf="showHistory">
      <li *ngFor="let history of uData; let i=index" class="list-group-item history-row">
        <span class="dt">{{history.start | date:'yyyy/MM/dd'}} - {{history.end | date:'yyyy/MM/dd'}}</span>
        <span class="color-bar">
          <div class="column" *ngIf="history.nrNo" [ngStyle]="{
            'flex': '1 0 ' + userColors[isTest ? 1 : 0][i].red +  '%',
            'background-color': 'red'
          }">
          {{history.nrNo}}
          </div>
          <div class="column" *ngIf="history.nrMaybe" [ngStyle]="{
            'flex': '1 0 ' + userColors[isTest ? 1 : 0][i].orange +  '%',
            'background-color': 'orange'
          }">
          {{history.nrMaybe}}
          </div>
          <div class="column" *ngIf="history.nrYes" [ngStyle]="{
            'flex': '1 0 ' + userColors[isTest ? 1 : 0][i].green +  '%',
            'background-color': 'green'
          }">
          {{history.nrYes}}
          </div>
        </span>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #actionTemplate
  let-isCompact=isCompact
  let-tpe=tpe
  let-text=text
  let-userBookStatus=userBookStatus
  let-userBookStatusTest=userBookStatusTest>
  <div class="icons pull-right">
    <div *ngIf="tpe!=='my'"
      class="subscribe"
      [class.mylist]="userBookStatus.isSubscribed || userBookStatusTest.isSubscribed"
      (click)="onToggleSubscription($event)"
      [tooltip]="text[(userBookStatus.isSubscribed || userBookStatusTest.isSubscribed) ? 'RemoveFromList' : 'AddToList']"
      placement="left"
      hide-delay="50">
      <span class="fa fa-thumb-tack"></span>
    </div>
    <div class="recommended" *ngIf="userBookStatus.isBookRead || userBookStatus.isRepeat"
      [tooltip]="text[userBookStatus.isRecommended ? 'RetractRecommendation' : 'RecommendStory']"
      placement="left"
      hide-delay="50">
      <span class="fa"
        [ngClass]="{
          'fa-thumbs-o-up': !userBookStatus.isRecommended,
          'fa-thumbs-up': userBookStatus.isRecommended,
          'canrecommend': userBookStatus.isBookRead || userBookStatus.isRepeat
        }"
        (click)="onToggleRecommend($event)">
      </span>
    </div>
  </div>
</ng-template>
