<section kmPressed (hasKeyPressed)="onKeyPressed($event)">
  <km-book-bullets *ngIf="currentStep < steps.Results"
    [data]="sessionData">
  </km-book-bullets>
  <div *ngIf="(readingStarted && !isError && !isLoading) else loading">
    <!-- READING MODE HEADER -->
    <div class="exercise-header" [class.has-chapter]="currentChapter?.title?.trim()">
      <km-book-title
        [text]="text"
        [bookType]="bookType"
        [bookLanCode]="book?.lanCode"
        [userLanCode]="userLanCode"
        [bookTitle]="book?.title"
        [chapterTitle]="currentChapter?.title"
        [canClose]="currentStep < steps.Results"
        (close)="onExitReading()"
      >
      </km-book-title>
    </div>
    <km-countdown
      *ngIf="isCountDown"
      [counter]="settings.delay"
      (countedDown)="onCountDownFinished()">
    </km-countdown>
    <div *ngIf="readingStarted && !isError && !isLoading && !isCountDown">
      <div class="panel panel-default">
        <div class="panel-body">
          <div *ngIf="currentStep < steps.Results">
            <!-- PREVIOUS TEXT -->
            <km-book-context
              [chapter]="chapterObservable"
              [sentenceNr]="sentenceNrObservable">
            </km-book-context>
            <!-- SENTENCE -->
            <div class="sentence-count">
              <span *ngIf="currentSentence?.isHeader">
                {{text["ChapterTitle"]}}:
              </span>
              <span *ngIf="!currentSentence?.isHeader">
              {{text["Sentence"]}} {{currentSentenceNr}}/{{currentSentenceTotal}} <span *ngIf="book?.nrOfChapters > 1" class="chapter-nr">({{text["Chapter"]}} {{currentChapter.sequence}}/{{book.nrOfChapters}})</span>:
              </span>
            </div>
            <km-sentence
              [sentence]="currentSentence"
              [audioSentence]="currentAudioSentence"
              [bookType]="bookType"
              [directory]="bookType === 'listen' ? book.audioDirectory : (currentAudioChapter ? currentAudioChapter.directory : '')"
              [lanCode]="book.lanCode"
              [showSentence]="currentStep >= steps.Answered">
            </km-sentence>
            <div class="question" *ngIf="currentStep === steps.Question">
              {{text["DoYouUnderstand"]}}
            </div>
            <!-- BUTTONS -->
            <div class="row sentence-buttons" *ngIf="currentStep === steps.Question">
              <div class="col-md-3">
              </div>
              <div class="col-md-2 col-xs-4">
                <button type="button" class="btn btn-success btn-big" (click)="onAnswer('yes')">
                  <div class="btn-text-wrapper">
                    {{text["Yes"]}}
                  </div>
                  <div class="short-key">[1]</div>
                </button>
              </div>
              <div class="col-md-2 col-xs-4">
                <button type="button" class="btn btn-warning btn-big" (click)="onAnswer('maybe')">
                    <div class="btn-text-wrapper">
                        {{text["Maybe"]}}
                    </div>
                    <div class="short-key">[2]</div>
                </button>
              </div>
              <div class="col-md-2 col-xs-4">
                <button type="button" class="btn btn-danger btn-big" (click)="onAnswer('no')">
                    <div class="btn-text-wrapper">
                        {{text["No"]}}
                    </div>
                    <div class="short-key">[3]</div>
                </button>
              </div>
              <div class="col-md-3">
              </div>
            </div>

            <!-- CONFIRM IF MAYBE WAS ANSWERED -->
            <div *ngIf="canConfirm && currentStep === steps.Translations" class="confirm">
              <button
                type="button"
                class="btn btn-success btn-lg pull-left"
                (click)="onConfirm('y')">
                <span class="answer">{{text["Yes"]}}</span> {{text["ConfirmYes"]}} <span class="short-key2">[1]</span>
              </button>
              <button
                type="button"
                class="btn btn-danger btn-lg pull-left"
                (click)="onConfirm('n')">
                <span class="answer">{{text["No"]}}</span> {{text["ConfirmNo"]}} <span class="short-key2">[3]</span>
              </button>
            </div>

            <!-- NEXT SENTENCE -->
            <button *ngIf="currentStep > steps.Question"
              type="button"
              class="btn btn-success btn-lg pull-right next-sentence"
              (click)="onNextSentence()">
              {{text["NextSentence"]}} <span class="fa fa-chevron-right"></span>
            </button>
            <div class="clearfix"></div>

            <!-- TRANSLATIONS -->
            <div *ngIf="userLanCode !== book.lanCode" class="translations">
              <km-sentence-translations #translations
                [userId]="userId"
                [userLanCode]="userLanCode"
                [bookLanCode]="book?.lanCode"
                [text]="text"
                [bookId]="book?.bookId ? book?.bookId : book?._id"
                [chapterSequence]="currentChapter.sequence"
                [sentence]="currentSentenceTxt"
                [answersReceived]="answersObservable"
                [newSentence]="nextSentenceObservable"
                (confirm)="onCanConfirm()"
                (translationAdded)="onTranslationAdded($event)"
                (nextSentence)="onGoToNextSentence()">
              </km-sentence-translations>
            </div>
          </div>

          <!-- RESULTS -->
          <div *ngIf="currentStep === steps.Results">
            <km-sentences-results
              [data]="sessionData"
              [text]="text"
              [bookType]="bookType"
              [isTest]="false"
              [isBookRead]="isBookRead"
              [isRepeat]="isRepeat"
              (setRecommend)="onSetRecommend($event)"
              (setFinished)="onSetFinished($event)">
            </km-sentences-results>
          </div>

          <!-- SUGGESTIONS -->
          <km-book-suggestions
            [book]="book"
            [bookType]="bookType"
            [isTest]="false"
            [text]="text"
            [userLanCode]="userLanCode"
            [answersReceived]="answersObservable"
            [nextSentence]="nextSentenceObservable">
          </km-book-suggestions>

          <span *ngIf="sessionData?.resultData?.isFinished">
            <button type="button" *ngIf="bookType==='read'"
              class="btn btn-info"
              (click)="onToRevision()">
              <span class="fa fa-file-text fa-spacing"></span>
              {{text["Revision"]}}
            </button>
            <button type="button"
              class="btn btn-primary"
              (click)="onRepeat()">
              <span class="fa fa-repeat fa-spacing"></span>
              {{bookType==='listen' ? text["ListenAgain"] : text["ReadAgain"]}}
            </button>
          </span>

          <button type="button" *ngIf="currentStep === steps.Results"
            class="btn btn-primary"
            (click)="onBackToList()">
            <span class="fa fa-th-list fa-spacing"></span>
            {{text[bookType === 'listen' ? "BackListening" : "BackReading"]}}
          </button>
        </div>
      </div>
    </div>
  </div>

  <km-info-msg [msg]="msg" *ngIf="msg">
  </km-info-msg>

  <km-modal-confirm
    [level]="'warning'"
    [text]="text"
    name="exit"
    (confirmed)="onExitConfirmed($event)">
    <div title>{{text["Warning"]}}</div>
    <div message>{{text[bookType==='listen' ? "ConfirmStopListening" : "ConfirmStopReading"]}}</div>
  </km-modal-confirm>

  <km-modal-confirm
    [level]="'warning'"
    [text]="text"
    name="skiptranslation"
    (confirmed)="onIgnoreTranslationConfirmed($event)">
    <div title>{{text["Warning"]}}</div>
    <div message>{{text["ConfirmIgnoreTranslation"]}}</div>
  </km-modal-confirm>
</section>

<ng-template #loading>
  <km-loader *ngIf="!isError"
    [msg]="text['LoadingSentence'] || ''">
  </km-loader>
</ng-template>
