@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 400;
  src: local('Tangerine Regular'), local('Tangerine-Regular'), url(https://fonts.gstatic.com/s/tangerine/v9/IurY6Y5j_oScZZow4VOxCZZM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.book-type {
  position: absolute;
  top: 30px;
  right: 0;
  font-size: 32px;
  color: #428bca;
}
.dashboard .book-type {
  top: 0px;
  font-size: 20px;
}
.image {
  width: 162px;
  height: 242px;
  float: left;
  margin: 1px;
  position: relative;
}
.dashboard .image {
  width: 81px;
  height: 121px;
}
.book-img {
  width: 100%;
  height: 100%;
}
.img-border {
  border: 1px solid #333;
  box-shadow: 1px 1px 2px grey;
  margin: 0;
}
.index-nr {
  background: rgba(146, 146, 146, 0.48);
  color: #fff;
  border: 1px solid #999;
  border-right: 0;
  border-radius: 6px 0 0 6px;
  font-size: 1.6em;
  font-style: italic;
  text-shadow: 1px 1px rgba(93, 0, 255, 0.38);
  text-align: right;
  width: 54px;
  padding-right: 5px;
  position: relative;
  left: 16px;
  top: -8px;
}
.circle-flag {
  position: absolute;
  top: -8px;
  left: -12px;
  width: 32px;
  height: 32px;
}
.dashboard .circle-flag {
  width: 20px;
  height: 20px;
}
.img-text {
  position: absolute;
  top: 6px;
  left: 6px;
  color: white;
  width: 140px;
  height: 202px;
  font-size: 32px;
  text-overflow: ellipsis;
  text-align: center;
  font-family: Tangerine;
  z-index: 2;
}
.audiobook .img-text {
  color: black;
}
.dashboard .img-text {
  left: 2px;
  width: 70px;
  height: 101px;
  font-size: 16px;
}
.img-author {
  position: absolute;
  bottom: 20px;
  left: 6px;
  color: #ddd;
  width: 140px;
  height: 28px;
  font-size: 12px;
  text-overflow: ellipsis;
  text-align: center;
  font-style: italic;
  z-index: 1;
}
.audiobook .img-author {
  bottom: 2px;
  color: black;
}
.dashboard .img-author {
  left: 2px;
  width: 70px;
  height: 20px;
  font-size: 10px;
  bottom: 12px;
}
.book {
  margin-left: 180px;
  position: relative;
}
.dashboard .book {
  margin-left: 96px;
}
.book h3 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 2px;
}
.book h3 small {
  margin-left: 10px;
  font-style: italic;
}
.dashboard .book h3 {
  margin-top: -8px;
}
.author {
  color: #666;
  font-style: italic;
  height: 20px;
  display: inline-block;
}
.buttons {
  margin: 15px 0;
}
.dashboard .buttons {
  margin: 12px 0;
}
.info {
  margin: 21px 0;
}
.fa-times-circle {
  color: red;
}
.difficulty {
  background: linear-gradient( to right, green, yellow 100px, red 200px);
  width: 200px;
  height: 16px;
  border: 1px solid #333;
  margin-top: 4px;
  display: inline-block;
  position: relative;
  top: 4px;
  margin-left: 4px;
}
.sentences {
  font-weight: bold;
}
.translations {
  font-weight: 100;
}
.progress {
  margin-bottom: 0;
  height: 26px;
  background-color: #5cb85c;
}
.progress.test {
  margin-top: 3px;
  background-color: #f0ad4e;
}
.dashboard .progress {
  height: 15px;
}
.progress-min .progress-bar {
  /* color: black; */ /* progress bar not yet big enough */
}
.progress-bar {
  line-height: 26px;
  font-size: 14px;
}
.dashboard .progress-bar {
  line-height: 15px;
  font-size: 12px;
}
.panel-book {
  min-height: 236px;
  position: relative;
}
.dashboard.panel-book {
  min-height: 118px;
}
.fa-check {
  color: green;
  font-size: 32px;
}
.book-read {
  font-size: 16px;
  color: green;
}
.read-bar {
  background-color: green;
  float: left;
  width: 13px;
  height: 100%;
  position: absolute;
  top: -1px;
  left: -1px;
  border: 1px solid green;
  box-sizing: content-box;
}
.audiobook {
  background-color: lightblue;
}
.audiobook .stop > button{
  background-color: #518ec2;
  color: #eee;
}
.stop {
  position: relative;
  top: 46px;
}
.pie-chart {
  position: absolute;
  top: 32px;
  left: 320px;
}
.dashboard .pie-chart {
  position: inherit;
  top: inherit;
  left: inherit;
  float: right;
}
.fa-copyright {
  margin-left: 6px;
}
.intro-icon {
  cursor: pointer;
  font-size: 16px;
  color: #666;
  margin-left: 6px;
}
.intro {
  margin: 6px 0;
  border: 1px dotted #666;
  border-radius: 0 6px 0 6px;
  background-color: #eee;
  padding: 6px;
}
.panel-body {
  position: relative !important;
  overflow: hidden;
}
/* ribbon */
/* src: https://codepen.io/eode9/pen/twkKm */
.corner-ribbon{
  width: 200px;
  position: absolute;
  top: 45px;
  left: -50px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  color: black;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 9;
}
.corner-ribbon.shadow{
  box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}
.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.corner-ribbon.yellow{
  background: rgb(255, 255, 173);
}
@media screen and (max-width: 767px) {
  .pie-chart {display: none;}
  .stop, .read {position: initial;}
}
