<article>
  <div class="panel panel-default panel-book" [ngClass]="{dashboard:tpe==='home', audiobook:bookType==='listen', readbook:bookType==='read'}">
    <div class="read-bar" *ngIf="isFinished">
    </div>
    <div class="panel-body" [class.read]="userBookStatus.isBookRead">
      <div class="corner-ribbon top-right yellow shadow" *ngIf="isNewBook && tpe !== 'home'">
        {{text["New"]}}!
      </div>
      <div class="image" [class.img-border]="!!book?.img">
        <img src="/assets/img/flags/{{book.lanRegion || book.lanCode}}-circle.png" class="circle-flag">
        <img src="{{book?.img || defaultImage}}" class="book-img">
        <span class="img-text" *ngIf="!book?.img">{{book.title}}</span>
        <span class="img-author" *ngIf="!book?.img">{{authorsTxt}}</span>
      </div>
      <div class="book">
        <div class="book-type" *ngIf="tpe === 'home'">
          <span class="fa"
            [ngClass]="{'fa-book':bookType==='read', 'fa-volume-up': bookType==='listen'}"
            [tooltip]="text[bookType==='listen' ? 'Audiobook' : 'book']"
            placement="left">
        </span>
        </div>
        <div class="index-nr pull-right" *ngIf="tpe !== 'home'">
          {{nr}}
        </div>
        <h3>
          <img src="/assets/img/flags/{{book.lanRegion || book.lanCode}}.png" class="flag from"><span class="fa fa-arrow-right flag-from"></span><img src="/assets/img/flags/{{userLanCode}}.png" class="flag">
          {{book.title}}<span class="fa fa-info-circle intro-icon" *ngIf="book.intro" (click)="onToggleIntro()"></span>
          <small>{{book.series}}</small>
        </h3>
        <div class="intro" [style.display]="showIntro ? 'block' : 'none'">
          {{book.intro}}
        </div>
        <div class="pie-content" style="position:relative;">
          <div class="pie-chart" *ngIf="userBookStatus.nrOfSentencesDone > 0 || userBookStatusTest.nrOfSentencesDone > 0">
            <km-pie-chart
              [data]="userData"
              [testData]="userDataTest">
            </km-pie-chart>
          </div>
        </div>
        <div class="author">
          <km-book-tpe
            [tpe]="book.tpe"
            [text]="text">
          </km-book-tpe>
          {{text[book.tpe]}} <span *ngIf="book.authors">{{text["by"]}} </span>
          <span *ngIf="linksTxt" [innerHTML]="linksTxt | sanitizeHtml"></span>
          <span *ngIf="!!book.year">&nbsp;({{book.year}})</span>&nbsp;
          <km-license
            [licenses]="licenses"
            [book]="book"
            [text]="text">
          </km-license>
        </div>
        <div class="buttons" *ngIf="book.lanCode !== userLanCode">
          <button *ngIf="!userBookStatus.isBookRead && (!isTest || tpe!=='home')"
            type="button"
            class="btn btn-primary"
            [class.btn-lg]="tpe!=='home'"
            (click)="onStartReadingListening()">
            <span class="fa fa-arrow-right fa-spacing"></span>
            {{userBookStatus.isStarted ? (bookType=== 'listen' ? text["ContinueListening"] : text["ContinueReading"])
                        : (bookType=== 'listen' ? text["StartListening"] : text["StartReading"])
            }}
          </button>
          <button *ngIf="!userBookStatusTest.isBookRead && bookType==='listen' && (isTest || tpe!=='home')"
            type="button"
            class="btn btn-warning"
            [class.btn-lg]="tpe!=='home'"
            (click)="onStartListeningTest()">
            <span class="fa fa-flask fa-spacing"></span>
            {{userBookStatusTest.isStarted ? text["ContinueListeningTest"] : text["StartListeningTest"]}}
          </button>
          <div class="book-read" *ngIf="isFinished">
            <span class="fa fa-check"></span>
            {{text[bookType==='listen' ? 'AudioListened' : 'BookRead']}}
          </div>
        </div>
        <div class="info" *ngIf="tpe !== 'home'">
          <div class="sentences">
            {{book.difficulty?.nrOfSentences | score}} {{text["sentences"]}}
            <span *ngIf="translationData?.count" class="translations">
              ({{getTranslated(translationData, book)}} {{text["translatedinto"]}} {{text[userLanCode]}})
            </span>
          </div>
          <div class="words">
            {{book.difficulty?.nrOfUniqueWords | score}} {{text["uniquewords"]}} ({{book.difficulty?.nrOfWords | score}} {{text["intotal"]}})
          </div>
          <div *ngIf="tpe!=='home'" class="icons pull-right">
            <div *ngIf="tpe!=='my'"
              class="subscribe"
              [class.mylist]="userBookStatus.isSubscribed"
              (click)="onToggleSubscription()"
              [tooltip]="text[userBookStatus.isSubscribed ? 'RemoveFromList' : 'AddToList']"
              placement="left"
              hide-delay="50">
              <span class="fa fa-thumb-tack"></span>
            </div>
            <div class="recommended" *ngIf="userBookStatus.isBookRead"
              [tooltip]="text[userBookStatus.isRecommended ? 'RetractRecommendation' : 'RecommendStory']"
              placement="left"
              hide-delay="50">
              <span class="fa"
                [ngClass]="{
                  'fa-thumbs-o-up': !userBookStatus.isRecommended,
                  'fa-thumbs-up': userBookStatus.isRecommended,
                  'canrecommend': userBookStatus.isBookRead
                }"
                (click)="onToggleRecommend()"></span>
            </div>
          </div>
          {{text["Difficulty"]}}: <span class="difficulty" [ngStyle]="{width:difficultyWidth + 'px'}"></span>
          ({{difficultyPerc}}%)
        </div>
        <div class="progress" [class.progress-min]="userBookStatus.percDone < 5" *ngIf="userBookStatus.isStarted">
          <div
            class="progress-bar progress-bar-primary progress-bar-striped"
            role="progressbar"
            [attr.aria-valuenow]="userBookStatus.nrOfSentencesDone"
            aria-valuemin="0"
            [attr.aria-valuemax]="book.difficulty?.nrOfSentences"
            [style.width.%]="userBookStatus.percDone">
            <span>
              {{userBookStatus.nrOfSentencesDone}}/{{book.difficulty?.nrOfSentences}}&nbsp;({{userBookStatus.percDone}}%)
            </span>
          </div>
        </div>
        <div class="progress test" [class.progress-min]="userBookStatusTest.percDone < 5" *ngIf="userBookStatusTest.isStarted">
          <div
            class="progress-bar progress-bar-warning progress-bar-striped"
            role="progressbar"
            [attr.aria-valuenow]="userBookStatusTest.nrOfSentencesDone"
            aria-valuemin="0"
            [attr.aria-valuemax]="book.difficulty?.nrOfSentences"
            [style.width.%]="userBookStatusTest.percDone">
            <span>
              {{userBookStatusTest.nrOfSentencesDone}}/{{book.difficulty?.nrOfSentences}}&nbsp;({{userBookStatusTest.percDone}}%)
            </span>
          </div>
        </div>
        <div class="stop pull-right" *ngIf="userBookStatus.isSubscribed && tpe==='my'">
          <button type="button" class="btn btn-default"
            (click)="onStopReadingListening()">
            <span class="fa fa-times-circle fa-spacing"></span>
            {{text["RemoveFromList"]}}
          </button>
        </div>
      </div>
    </div>
  </div>
</article>
