<div class="mt" *ngIf="!isTranslated && (!hasTranslations || canThumb)">
  {{text[canEdit ? "OrFetchMachineTranslation": "FetchMachineTranslation"]}}
  <span class="fetch">
    <button  *ngIf="!isLoading"
      type="button"
      class="btn btn-success btn-xs"
      (click)="onGetMachineTranslation('DeepL')">
      {{text["FetchTranslation"]}}
    </button>
    <km-loader *ngIf="isLoading"
      [showBackground]="false"
      [margin]="'2px'"
      [inline]="true"
      [small]="true">
    </km-loader>
  </span>
</div>
<km-error-msg [msg]="errorMsg" [info]="errorDetail">
</km-error-msg>
