.sentence {
  font-size: 3rem;
  background-color: black;
  color: white;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 12px;
}
.audio-listen {
  margin: auto;
  width: 120px;
}
.audio-read {
  margin-right: 8px;
}
