<div [class.background]="!showBackground">
  <!--
  <div class="corner-ribbon top-right sticky red shadow" *ngIf="!exercisesStarted">
    alpha version
  </div>
  -->
  <img src="https://{{imagePath + month}}.jpg" *ngIf="showBackground">
  <div class="container">
    <km-main-menu *ngIf="!exercisesStarted"></km-main-menu>
    <km-announcement *ngIf="showAnnouncement"
      [announcement]="announcement"
      level="danger"
      tpe="refresh"
      [lan]="interfaceLan">
    </km-announcement>
    <div class="main" [ngClass]="{
        margin: !exercisesStarted,
        marginwide: !exercisesStarted && showAnnouncement
      }">
      <router-outlet></router-outlet>
      <!-- <km-error-msg></km-error-msg> -->
    </div>
    <km-footer *ngIf="!exercisesStarted"></km-footer>
  </div>
</div>
