<div [class.background]="!showBackground">
  <div class="corner-ribbon top-right sticky red shadow" *ngIf="!exercisesStarted">
    alpha version
  </div>
  <img src="https://{{imagePath + month}}.jpg" *ngIf="showBackground">
  <div class="container">
    <km-main-menu *ngIf="!exercisesStarted"></km-main-menu>
    <div class="main" [class.margin]="!exercisesStarted">
      <router-outlet></router-outlet>
      <km-error-msg></km-error-msg>
    </div>
    <km-footer *ngIf="!exercisesStarted"></km-footer>
  </div>
</div>
