<div class="row">
  <div class="col-xs-8">

    <div class="btn-mega clearfix login">
      <div class="btn-text btn-sub unselectable"> 
        Login
      </div>
      <div class="btn-icon btn-sub unselectable">
        <span class="fa fa-key"></span>
      </div>
    </div>

    <a 
      class="btn-mega clearfix signup"
      routerLink="/auth/signup">
      <div class="btn-text btn-sub unselectable"> 
        Sign up
      </div>
      <div class="btn-icon btn-sub unselectable">
        <span class="fa fa-pencil"></span>
      </div>
    </a>

    <div class="btn-mega clearfix try">
      <div class="btn-text btn-sub unselectable"> 
        Give Jazyk a try!
      </div>
      <div class="btn-icon btn-sub unselectable">
        <span class="fa fa-play"></span>
      </div>
    </div>

  </div>
  <div class="col-xs-4">
    <div class="panel panel-default info">
      <div class="panel-heading">What is Jazyk?</div>
      <div class="panel-body">
        Jazyk is a language-learning tool that allows you to
        <ul class="list-unstyled">
          <li><span class="fa fa-arrow-right"></span> create your own courses</li>
          <li><span class="fa fa-arrow-right"></span> or use other users' courses</li>
          <li><span class="fa fa-arrow-right"></span> to learn and rehearse your favorite languages efficiently thanks to an adaptive algorithm and interactive questions.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
