/* spinner */
/* http://tobiasahlin.com/spinkit/ */

.loader {
  margin: 100px auto;
  text-align: center;
}

.spinner {
  margin: 0 auto;
  width: 88px;
}

.spinner > div {
  width: 12px;
  height: 12px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce0 {
  -webkit-animation-delay: -0.64s;
  animation-delay: -0.64s;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.48s;
  animation-delay: -0.48s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce3 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.panel-default {
  background-color: white;
}
