.logo img {
  margin: 2px 10px;
}
.navbar-earthy {
  background: #41474b;
  background: linear-gradient(0deg, #2c3033, #41474b, #41474b);
  color: #ddd;
  font-size: 24px;
}
.navbar-earthy a {
  color: #ddd;
}
.navbar-earthy .nav > li > a:hover, .nav > li > a:focus {
  color: black;
}
.navbar-earthy .dropdown-menu > li > a:hover {
  color: black;
}
nav {
  box-shadow: 0px 4px 6px rgba(20, 20, 20, 0.3);
}
.login {
  margin-right: 15px;
}
li.active .bar, li > a:hover .bar {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  top: 12px;
  position: relative;
  background-color: white;
}
li.active span.bar {
  background-color: #ddd;
}
.fa-caret {
  font-size: 12px;
  width: 12px;
}
.dropdown, .indicator {
  cursor: pointer;
}

/* override bootstrap */
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: inherit;
}
.navbar-earthy .nav > li > a:hover, .nav > li > a:focus {
  color: #ddd;
}
.navbar a.notifications {
  margin-right: -20px;
}
.navbar a.notifications .badge {
  position: relative;
  top: -8px;
  left: -14px;
  background-color: red;
}
.navbar a.messages .badge {
  position: relative;
  top: -8px;
  left: -14px;
  background-color: red;
} 
.dropdown-menu {
  background-color: #2c3033;
  font-size: 20px;
}
