.logo img {
  margin: 2px 10px;
}
.navbar-earthy {
  background: #41474b;
  background: linear-gradient(0deg, #2c3033, #41474b, #41474b);
  color: #ddd;
  font-size: 24px;
  height: 60px;
}
.navbar-earthy a {
  color: #ddd;
}
.navbar-earthy a.inactive {
  color: #999;
  cursor: default;
}
.navbar-earthy .nav > li > a:hover, .nav > li > a:focus {
  color: black;
}
.navbar-earthy .dropdown-menu > li > a:hover {
  color: black;
}
.navbar-brand {
  font-size: 3rem;
}
nav {
  box-shadow: 0px 4px 6px rgba(20, 20, 20, 0.3);
}
.alpha {
  color: red;
  font-size: 10px;
}
.desktop .alpha {
  position: absolute;
  display: block;
  top: 37px;
  left: 39px;
}
.mobile .alpha {

}
.login {
  margin-right: 15px;
}
li.active .bar, li > a:hover .bar {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  top: 12px;
  position: relative;
  background-color: white;
}
li > a.inactive:hover .bar {
  display: none;
}
li > a.messages .bar.small {
  width: 26px;
}
.manual {
  font-size: 24px;
}
li.active span.bar {
  background-color: #ddd;
}
.fa-caret {
  font-size: 12px;
  width: 12px;
  position: relative;
  left: 4px;
  top: -4px;
}
.dropdown, .indicator {
  cursor: pointer;
}
.gravatar {
  position: relative;
  top: 10px;
}
.gravatar img {
  border: 1px solid #ddd;
}
.user-name {
  max-width: 250px;
  overflow: hidden;
  display: inline-block;
}
.nav-items {
  margin: 0;
  padding-left: 0;
  list-style: none;
  float: left;
}
.nav-items > li {
  float: left;
  position: relative;
}
.nav-items > li > a {
  margin-bottom: 4px;
  line-height: 20px;
  position: relative;
  display: block;
  padding: 15px 10px;
}
.nav-items > li > .dropdown-lan {
  margin-top: -8px;
}
/* override bootstrap */
.dropdown{
  margin-top: 4px;
}
.nav-items > li > a {
  margin-bottom: 4px;
}
.nav-items > li > a:hover, .nav-items > li > a:focus {
  text-decoration: none;
  background-color: inherit;
}
.navbar-earthy .nav-items > li > a:hover, .nav-items > li > a:focus {
  color: #ddd;
}
.navbar-earthy .nav-items > li > a.inactive:hover, .nav-items > li > a.inactive:focus {
  color: #999;
  cursor: default;
}
.nav-items a.notifications {
  margin-right: -20px;
}
.nav-items a.notifications .badge {
  position: relative;
  top: -8px;
  left: -14px;
  background-color: red;
}
.nav-items a.messages .badge {
  position: relative;
  top: -8px;
  left: -14px;
  background-color: red;
}
.dropdown-menu {
  background-color: #2c3134;
  font-size: 20px;
}
ul.dropdown-menu {
  margin-top: -1px;
}
/* mobile */
.mobile {
  display: none;
}
.navbar-mobile {
  background-color:#41474b;
  top: 60px;
}
.navbar-mobile a.inactive {
  color: #999;
  cursor: default;
}
.mobile a {
  color: white;
}
.mobile a:hover {
  color: black;
}
.nav-pills {
  font-size: 24px;
}

@media screen and (max-width: 1200px) {
  .user-name {
    max-width: 180px;
  }
}
@media screen and (max-width: 991px) {
  .mobile {
    display: block;
    animation: slideInY 0.3s ease-in;
  }
  .desktop {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .user-name {
    max-width: 100px;
  }
}
@media screen and (max-width: 400px) {
  .right-menu{
    display: none;
  }
}


@keyframes slideInY {
  0% {
    opacity: 0.2;
    transform: translateY(-500%) scale(1);
  }
  50% {
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 1;
  }
}
