<div class="panel panel-info"
  kmPressed
  (hasKeyPressed)="onKeyPressed($event)">
  <div class="panel-heading">
    <h3 class="panel-title">{{text["Translations"]}}</h3>
  </div>
  <div class="panel-body">
    <!-- TRANSLATIONS LIST -->
    <div class="translations-container" *ngIf="translations.length">
      <ul class="list-group">
        <li
          class="list-group-item translation-item"
          *ngFor="let translation of translations, let i = index"
          [style.color]="getColor(i, false)">
          <button *ngIf="translation.userId?.toString() === userId && isEditing !== i"
            type="button"
            class="btn btn-primary btn-xs pull-right"
            (click)="onEditTranslation(i)">
            <span class="fa fa-pencil"></span>
          </button>
          <span class="fa fa-pencil edit-icon" *ngIf="isEditing === i"></span>
          {{i + 1}}. {{translation.translation}}
          <div *ngIf="translation.note"
            class="translation-note"
            [style.color]="getColor(i, true)">
            ({{translation.note}})
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="!translations.length">
      {{text["NoTranslations"]}}
    </div>

    <!-- SUBMIT TRANSLATION -->
    <div *ngIf="answer==='yes' && !submitted">
      {{!!translations.length ? text["BetterTranslation"] : text["GoodTranslation"]}}
      {{text["EnterBelow"]}}
      <div class="input-group new-translation">
        <span class="input-group-addon">
          <img src="/assets/img/flags/{{userLanCode}}.png" class="flag">
          <div class="translation-new-note"></div>
        </span>
        <textarea type="text"
          class="form-control"
          autofocus
          rows="3"
          autocomplete=”off”
          [placeholder]="getTranslationPlaceHolder()"
          [ngModel]="translationEdit"
          #translation="ngModel"
        ></textarea>
        <input type="text"
          class="form-control"
          [placeholder]="text['AddTranslationNote']"
          autocomplete=”off”
          [ngModel]="translationNote"
          #translationnote="ngModel"
        >
        <span class="input-group-btn translation-send">
          <button
            type="button"
            [disabled]="submitting"
            class="btn btn-primary"
            (click)="onAddUpdateTranslation(translation.value, translationnote.value)">
            <span class="fa fa-envelope fa-spacing"></span>
            {{isEditing !== null ? text["UpdateTranslation"] : text["SubmitTranslation"]}}
          </button>
        </span>
      </div>
      <div *ngIf="duplicate">
        {{text["TranslationExists"]}}
      </div>
    </div>
    <div *ngIf="submitted">
      {{submitMsg}}
    </div>
  </div>
</div>


