<article>
  <div class="panel panel-default panel-book">
    <div class="panel-body" [class.read]="isBookRead">
      <div class="image">
        <img src="{{book?.img || defaultImage}}" class="book-img">
        <span class="img-text" *ngIf="!book?.img">{{book.title}}</span>
        <span class="img-author" *ngIf="!book?.img">{{book.author}}</span>
      </div>
      <div class="book" [class.img-border]="!!book?.img">
        <div class="pie-chart" *ngIf="nrOfSentencesDone > 0">
          <svg
            viewBox="-1 -1 2 2"
            width="100px"
            style="transform: rotate(-90deg)">
            <path d="M 1 0 A 1 1 0 0 1 0.8 0.59 L 0 0"></path> <!-- A:rx ry x-axis-rotation large-arc-flag sweep-flag x y -->
          </svg>
        </div>
        <h3>
          <img src="/assets/img/flags/{{book.lanCode}}.png" class="flag from"><span class="fa fa-arrow-right flag-from"></span><img src="/assets/img/flags/{{userLanCode}}.png" class="flag">
          {{book.title}}
        </h3>
        <div class="author">
          <span class="fa" [ngClass]="{
            'fa-music': book.tpe === 'song',
            'fa-book': book.tpe === 'book',
            'fa-file-o': book.tpe === 'shortstory',
            'fa-newspaper-o': book.tpe === 'report',
            'fa-align-center': book.tpe === 'poetry'
          }"></span>
          {{text[book.tpe]}} <span *ngIf="book.author">{{text["by"]}}</span> {{book.author}}<span *ngIf="book.year">  ({{book.year}})</span>
        </div>
        <div class="buttons">
          <button *ngIf="!isBookRead"
            type="button"
            class="btn btn-success"
            (click)="onStartReading()">
            <span class="fa fa-arrow-right fa-spacing"></span>
            {{isStarted ? text["ContinueReading"]: text["StartReading"]}}
          </button>
          <div class="book-read" *ngIf="isBookRead">
            <span class="fa fa-check"></span>
            {{text['BookRead']}}
          </div>
        </div>
        <div class="stop pull-right" *ngIf="isSubscribed">
          <button type="button" class="btn btn-default"
            (click)="onStopReading()">
            <span class="fa fa-times-circle fa-spacing"></span>
            {{text["RemoveFromList"]}}
          </button>
        </div>
        <div class="info">
          <div class="sentences">
            {{book.difficulty?.nrOfSentences | score}} {{text["sentences"]}}
            <span *ngIf="translationData?.count" class="translations">
              ({{translationData.count}} {{translationData.count > 1 ? text["translations"] : text["translation"]}})
            </span>
          </div>
          <div class="words">
            {{book.difficulty?.nrOfUniqueWords | score}} {{text["uniquewords"]}} ({{book.difficulty?.nrOfWords | score}} {{text["intotal"]}})
          </div>
        </div>
        {{text["Difficulty"]}}: <span class="difficulty" [ngStyle]="{width:difficultyWidth + 'px'}"></span>
        ({{difficultyPerc}}%)
        <div class="progress" [class.progress-min]="percDone < 5" *ngIf="isStarted">
          <div
            class="progress-bar progress-bar-primary progress-bar-striped"
            role="progressbar"
            [attr.aria-valuenow]="nrOfSentencesDone"
            aria-valuemin="0"
            [attr.aria-valuemax]="book.difficulty?.nrOfSentences"
            [style.width.%]="percDone">
            <span>
              {{nrOfSentencesDone}}/{{book.difficulty?.nrOfSentences}}&nbsp;({{percDone}}%)
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
