<section kmPressed (hasKeyPressed)="onKeyPressed($event)">
  <km-book-bullets *ngIf="currentStep < steps.Results"
    [data]="sessionData">
  </km-book-bullets>
  <div *ngIf="readingStarted && !isError && !isLoading">
    <!-- READING MODE HEADER -->
    <div class="exercise-header">
      <span *ngIf="currentStep < steps.Results"
        class="fa fa-times pull-right close-reading"
        (click)="onExitReading()">
      </span>
      <div class="panel panel-default">
        <div class="panel-body book-header">
          <h1 class="book-title">
              <img src="/assets/img/flags/{{book.lanCode}}.png" class="flag from"><span class="fa fa-arrow-right flag-from"></span><img src="/assets/img/flags/{{userLanCode}}.png" class="flag">
            {{book?.title}}
            <small class="book-chapter">
              {{currentChapter.title}}
            </small>
          </h1>
        </div>
      </div>
    </div>

    <km-countdown
      *ngIf="isCountDown"
      [counter]="settings.delay"
      [mute]="settings.mute"
      (countedDown)="onCountDownFinished()">
    </km-countdown>

    <div *ngIf="readingStarted && !isError && !isLoading && !isCountDown">
      <div class="panel panel-default">
        <div class="panel-body">
          <div *ngIf="currentStep < steps.Results">
            <!-- PREVIOUS TEXT -->
            <km-book-context
              [chapter]="chapterObservable"
              [sentenceNr]="sentenceNrObservable">
            </km-book-context>
            <!-- SENTENCE -->
            <div class="sentence-count">
              {{text["Sentence"]}} {{currentSentenceNr}}/{{currentSentenceTotal}}:
            </div>
            <div class="sentence">
              {{currentSentence}}
            </div>
            <div class="question" *ngIf="currentStep === steps.Question">
              {{text["DoYouUnderstand"]}}
            </div>
            <!-- BUTTONS -->
            <div class="row sentence-buttons" *ngIf="currentStep === steps.Question">
              <div class="col-sm-3">
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-success btn-big" (click)="onAnswer('yes')">
                  <div class="btn-text-wrapper">
                    {{text["Yes"]}}
                  </div>
                  <div class="short-key">[{{text["Space"].toUpperCase()}}]</div>
                </button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-warning btn-big" (click)="onAnswer('maybe')">
                    <div class="btn-text-wrapper">
                        {{text["Maybe"]}}
                    </div>
                </button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-danger btn-big" (click)="onAnswer('no')">
                    <div class="btn-text-wrapper">
                        {{text["No"]}}
                    </div>
                    <div class="short-key">[{{text["Backspace"].toUpperCase()}}]</div>
                </button>
              </div>
              <div class="col-sm-3">
              </div>
            </div>

            <!-- NEXT SENTENCE -->
            <button *ngIf="currentStep > steps.Question"
              type="button"
              class="btn btn-success btn-lg pull-right next-sentence"
              (click)="onNextSentence()">
              {{text["NextSentence"]}} <span class="fa fa-chevron-right"></span>
            </button>

            <!-- TRANSLATIONS -->
            <div *ngIf="currentStep === steps.Translations && userLanCode !== book.lanCode">
              <div class="translations">
                <km-sentence-translations
                  [translations]="translations"
                  [answer]="currentAnswer"
                  [userLanCode]="userLanCode"
                  [bookLanCode]="book.lanCode"
                  [text]="text"
                  [bookId]="book._id"
                  [sentence]="currentSentence"
                  (translationAdded)="onTranslationAdded($event)"
                  (nextSentence)="onGoToNextSentence()">
                </km-sentence-translations>
              </div>
            </div>
          </div>

          <!-- RESULTS -->
          <div *ngIf="currentStep === steps.Results">
            <km-sentences-results
              [data]="sessionData"
              [text]="text">
            </km-sentences-results>
          </div>

          <!-- SUGGESTIONS -->
          <km-book-suggestions
            [book]="book"
            [text]="text"
            [userLanCode]="userLanCode"
            [answersReceived]="answersObservable"
            [nextSentence]="nextSentenceObservable">
          </km-book-suggestions>


          <button type="button" *ngIf="currentStep === steps.Results"
            class="btn btn-primary"
            (click)="onBackToList()">
            {{text["BackReading"]}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <km-info-msg [msg]="getBookReadMessage(book?.title)" *ngIf="showMsg">
  </km-info-msg>

  <km-modal-confirm #confirmexit
    [level]="'warning'"
    [text]="text"
    (confirmed)="onExitConfirmed($event)">
    <div title>{{text["Warning"]}}</div>
    <div message>{{text["ConfirmStopReading"]}}</div>
  </km-modal-confirm>
</section>
