<section>
  <km-book-bullets *ngIf="currentStep < steps.Results"
    [data]="sessionData">
  </km-book-bullets>
  <div  *ngIf="readingStarted && !isError && !isLoading">
    <!-- READING MODE HEADER -->
    <div class="exercise-header">
      <span *ngIf="currentStep < steps.Results"
        class="fa fa-times pull-right close-reading"
        (click)="onExitReading(confirmexit)">
      </span>
      <div class="panel panel-default">
        <div class="panel-body book-header">
          <h1 class="book-title">
            <img src="/assets/img/flags/{{book.lanCode}}.png" class="flag">
            {{book?.title}}
            <small class="book-chapter">{{currentChapter.title}}</small>
          </h1>
        </div>
      </div>
    </div>

    <div *ngIf="readingStarted && !isError && !isLoading"
      kmPressed
      (hasKeyPressed)="onKeyPressed($event)">
      <div class="panel panel-default">
        <div class="panel-body">
          <div *ngIf="currentStep < steps.Results">
            <!-- PREVIOUS TEXT -->
            <km-book-context
              [chapter]="chapterObservable"
              [sentenceNr]="sentenceNrObservable">
            </km-book-context>
            <!-- SENTENCE -->
            <div class="sentence-count">
              {{text["Sentence"]}} {{currentSentenceNr}}/{{currentSentenceTotal}}:
            </div>
            <div class="sentence">
              {{currentSentence}}
            </div>
            <div class="question" *ngIf="currentStep === steps.Question">
              {{text["DoYouUnderstand"]}}
            </div>
            <!-- BUTTONS -->
            <div class="row sentence-buttons" *ngIf="currentStep === steps.Question">
              <div class="col-sm-3">
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-success btn-big" (click)="onAnswer('yes')">
                  <div class="btn-text-wrapper">
                    {{text["Yes"]}}
                  </div>
                  <div class="short-key">[{{text["Space"].toUpperCase()}}]</div>
                </button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-warning btn-big" (click)="onAnswer('maybe')">
                    <div class="btn-text-wrapper">
                        {{text["Maybe"]}}
                    </div>
                </button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-danger btn-big" (click)="onAnswer('no')">
                    <div class="btn-text-wrapper">
                        {{text["No"]}}
                    </div>
                    <div class="short-key">[{{text["Backspace"].toUpperCase()}}]</div>
                </button>
              </div>
              <div class="col-sm-3">
              </div>
            </div>
            <!-- NEXT SENTENCE -->
            <button *ngIf="currentStep > steps.Question"
              type="button"
              class="btn btn-success btn-lg pull-right next-sentence"
              (click)="onNextSentence()">
              {{text["NextSentence"]}} <span class="fa fa-chevron-right"></span>
            </button>
            <!-- TRANSLATIONS -->
            <div *ngIf="currentStep === steps.Translations && interfaceLan !== book.lanCode">
              <h3>{{text["Translations"]}}</h3>
              <div class="translations">
                <km-sentence-translations
                  [translations]="translations"
                  [answer]="currentAnswer"
                  [text]="text"
                  [bookId]="book._id"
                  [sentence]="currentSentence"
                  >
                </km-sentence-translations>
              </div>
            </div>
          </div>

          <!-- RESULTS -->
          <div *ngIf="currentStep === steps.Results">
          </div>
          <km-sentences-results
            [data]="sessionData"
            [text]="text">
          </km-sentences-results>
        </div>
      </div>
    </div>
  </div>
  <km-info-msg [msg]="getBookReadMessage(book?.title)" *ngIf="showMsg">
  </km-info-msg>

  <km-modal-confirm #confirmexit
    [level]="'warning'"
    [text]="text"
    (confirmed)="onExitConfirmed($event)">
    <div title>{{text["Warning"]}}</div>
    <div message>{{text["ConfirmStopReading"]}}</div>
  </km-modal-confirm>
</section>
