<!-- FILTERS AND SORTING -->
<div class="container" kmPressed (hasKeyPressed)="onKeyPressed($event)">
  <div>
    <span class="label label-info filter-count pull-right" *ngIf="hasBooks">
      {{itemTxt}}
    </span>
    <!-- SORT -->
    <div class="form-group form-group-sm pull-left sort">
      <select class="form-control sort-control"
        (change)="onChangeSort($event.target.value)"
        [tooltip]="text['SortOrder']"
        placement="top">
        <option
          *ngFor="let option of sortOptions"
          [value]="option.value"
          [selected]="sort===option.value">
          {{option.label}}
        </option>
      </select>
    </div>
    <!-- SEARCH -->
    <div class="form-group form-group-sm pull-left search" [style.display]="!searchActive && !hasFilter ? 'block' : 'none'">
      <div class="form-control activate-search"
        (click)="onActivateSearch()"
        [tooltip]="text['Search']"
        hide-delay="0"
        placement="top">
        <span class="fa fa-search fa-spacing"></span><span class="search-text">{{searchTxt}}</span>
      </div>
    </div>
    <div class="form-group form-group-sm pull-left search" [style.display]="hasFilter ? 'none' : 'block'">
      <div class="input-group input-group-sm search-box" *ngIf="searchActive">
        <input type="text" class="form-control" #searchbox [placeholder]="text['Search...']" autofocus>
        <span class="input-group-addon search-btn"
          (click)="onSearch(searchbox.value)">
            <i class="fa fa-search" [class.active]="hasSearch"></i>
        </span>
        <span class="input-group-addon cancel-search"
          (click)="onCancelSearch()">
            <i class="fa fa-times"></i>
        </span>
      </div>
    </div>
    <!-- FILTER -->
    <div class="form-group form-group-sm pull-left filter" #dropdown *ngIf="filter && !searchActive">
      <div class="form-control filter-filter"
          on-mouseover="onShowDropDown(true)"
          on-mouseout="onShowDropDown(false)"
          (click)="onToggleDropDown()"
          [tooltip]="text['Filter']"
          placement="top">
        <span class="fa fa-filter fa-spacing" [class.active]="hasFilter"></span><span class="filter-text">{{filterTxt}}</span>
        <ul
          class="dropdown-menu"
          (click)="onSelectDropdown($event)"
          [style.display]="showDropDown ? 'block' : 'none'">
          <li>
            <label class="filter-label">
              {{text["HideCompletedRead"]}}
              <input type="checkbox"
                [disabled]="filter.bookId"
                (change)="onChangeFilter()"
                [(ngModel)]="filter.hideCompleted">
              <span class="checkmark"></span>
            </label>
          </li>
          <li>
            <label class="filter-label">
              {{text["HideNotTranslated"]}}
              <input type="checkbox"
                [disabled]="filter.bookId"
                (change)="onChangeFilter()"
                [(ngModel)]="filter.hideNotTranslated">
              <span class="checkmark"></span>
            </label>
          </li>
          <li>
            <label class="filter-label">
              {{text["HideOld"]}}
              <input type="checkbox"
                [disabled]="filter.bookId"
                (change)="onChangeFilter()"
                [(ngModel)]="filter.hideOld">
              <span class="checkmark"></span>
            </label>
          </li>
          <li>
            <label class="filter-label">
              {{text["HideEasy"]}}
              <input type="checkbox"
                [disabled]="filter.bookId || (filter.hideMedium && filter.hideAdvanced)"
                (change)="onChangeFilter()"
                [(ngModel)]="filter.hideEasy">
              <span class="checkmark"></span>
            </label>
          </li>
          <li>
            <label class="filter-label">
              {{text["HideMedium"]}}
              <input type="checkbox"
                [disabled]="filter.bookId || (filter.hideEasy && filter.hideAdvanced)"
                (change)="onChangeFilter()"
                [(ngModel)]="filter.hideMedium">
              <span class="checkmark"></span>
            </label>
          </li>
          <li>
            <label class="filter-label">
              {{text["HideAdvanced"]}}
              <input type="checkbox"
                [disabled]="filter.bookId || (filter.hideEasy && filter.hideMedium)"
                (change)="onChangeFilter()"
                [(ngModel)]="filter.hideAdvanced">
              <span class="checkmark"></span>
            </label>
          </li>
          <li *ngIf="filter.bookId">
            <label class="filter-label">
              {{text["OnlySelectedStory"]}}
              <input type="checkbox"
                (change)="onChangeFilter()"
                [(ngModel)]="filter.bookId">
              <span class="checkmark"></span>
            </label>
          </li>
          <li>
            <button type="button"
              class="btn btn-primary btn-sm pull-right"
              (click)="onShowDropDown(false)">
              <span class="fa fa-check fa-spacing"></span>{{text["Close"]}}
            </button>
            <button type="button" *ngIf="hasFilter"
              class="btn btn-warning btn-sm pull-right"
              (click)="onClearFilter()">
              <span class="fa fa-times fa-spacing"></span>{{text["Clear"]}}
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group form-group-sm pull-left clear-filter" [style.display]="hasFilter ? 'block' : 'none'">
      <div class="form-control"
        (click)="onClearFilter()"
        [tooltip]="text['ClearFilter']"
        hide-delay="0"
        placement="top">
        <span class="fa fa-times"></span>
      </div>
    </div>
  </div>
</div>
