<div class="container">
  <div class="col-xs-6 selector"
    [tooltip]="text[currentListType === 'audio' ? 'AudioLanguage' : 'BookLanguage']"
    show-delay="300"
    [options]="tooltipOptions" id="tooltip1">
    <km-language-selector
      [languages]="bookLanguages"
      [language]="bookLanguageChanged"
      [text]="text"
      (languageSelected)="onBookLanguageSelected($event)">
    </km-language-selector>
  </div>
  <div class="col-xs-6 selector target-lan-selector"
    [tooltip]="text['TranslationLanguage']"
    show-delay="300"
    [options]="tooltipOptions" id="tooltip2">
    <span class="fa fa-arrow-right sel-arrow"></span>
    <km-language-selector
      [languages]="targetLanguages"
      [language]="targetLanguage"
      [text]="text"
      (languageSelected)="onTargetLanguageSelected($event)">
    </km-language-selector>
  </div>
</div>
<div class="clearfix"></div>
