.shadow {
  background: linear-gradient(to bottom, #817971 40px, transparent);
  position: fixed;
  z-index: 8;
  left: 0;
  right: 0;
  top: 54px;
  height: 100px;
}
.shadow.showFilter {
  background: linear-gradient(to bottom, #817971 66px, transparent);
  height: 96px;
}
.selectors {
  position: fixed;
  left: 0;
  right: 0;
  top: 54px;
  z-index: 10;
  padding-top: 15px;
}
.list {
  margin-top: 160px;
}
.filter {
  position: fixed;
  left: 0;
  right: 0;
  top: 120px;
  z-index: 9;
  padding-left: 5px;
  padding-right: 5px;
}
.blank {
  height: 1px;
}
