@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 400;
  src: local('Tangerine Regular'), local('Tangerine-Regular'), url(https://fonts.gstatic.com/s/tangerine/v9/IurY6Y5j_oScZZow4VOxCZZM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* panel */
.panel-book {
  position: relative;
  overflow: hidden;
  min-height: 271px;
}

.panel.read {
  background: linear-gradient(to bottom, #d9edf4, #d9edf4 30px, rgba(255, 255, 255, .8) 200px, rgba(255, 255, 255, .8));
}
.panel.listen {
  background: linear-gradient(to bottom, #e5dccc, #e5dccc 30px, rgba(255, 255, 255, .8) 200px, rgba(255, 255, 255, .8));
}
.panel.glossary {
  background: linear-gradient(to bottom, #ebd5d1, #ebd5d1 30px, rgba(255, 255, 255, .8) 200px, rgba(255, 255, 255, .8));
}

/* cover */
.circle-flag {
  position: absolute;
  top: 8px;
  left: 4px;
  width: 32px;
  height: 32px;
  z-index: 1;
}
.flag.to {
  margin-right: 12px;
}
.cover-wrapper {
  float: left;
  position: relative;
  height: 240px;
}
.img-wrapper {
  width: 160px;
  height: 240px;
}
.glossary.user-glossary .img-wrapper {
  height: 260px;
}
.has-cover .img-wrapper {
  border: 1px solid #333;
  box-shadow: 1px 1px 2px grey;
}
.read .has-cover .img-wrapper {
  background: linear-gradient(to top, #518bd6, #81a6d6);
}
.listen .has-cover .img-wrapper {
  background: linear-gradient(to top, #d6a551, #d6b781);
}
.glossary .has-cover .img-wrapper {
  background: linear-gradient(to top, #d66351, #d68c81);
}
.cover-img { /* Default image */
  width: 160px;
  height: 240px;
}
.has-cover .cover-img {
  width: 142px;
  height: 184px;
  position: relative;
  left: 8px;
  top: 8px;
  border: 1px solid #333;
  border-radius: 6px;
}
.cover-text {
  position: absolute;
  top: 46px;
  left: 0;
  color: white;
  width: 150px;
  height: 170px;
  font-size: 32px;
  text-overflow: ellipsis;
  text-align: center;
  font-family: Tangerine;
  z-index: 2;
}
.cover-activity {
  position: relative;
  bottom: 36px;
  left: 14px;
  color: white;
  font-size: 18px;
}
.user-glossary .cover-activity {
  bottom: 46px;
}
.has-cover .cover-img {
  bottom: 46px;
}
.cover-activity .thumbs {
  position: absolute;
  left: 76px;
}
.cover-activity .fa {
  margin-right: 6px;
}
/* Title */
.book h3 {
  font-size: 36px;
  margin-top: -6px;
  margin-bottom: 2px;
  margin-right: 42px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book {
  margin-left: 174px;
  position: relative;
}
.flags {
  position: relative;
  top: -2px;
}
.fa-arrow-right {
  position: relative;
  top: -6px;
}
h3 .fa-check {
  color: green;
  font-size: 32px;
}
.audio-item {
  padding-right: 6px;
}
.attribution {
  margin-left: 90px;
  display: inline-block;
  position: relative;
  top: -2px;
}
/* index */
.index-nr {
  background: rgba(146, 146, 146, 0.50);
  color: #fff;
  border: 1px solid #999;
  border-right: 0;
  border-radius: 6px 0 0 6px;
  font-size: 1.2em;
  font-style: italic;
  text-shadow: 1px 1px rgba(93, 0, 255, 0.38);
  text-align: right;
  padding: 0 5px 0 4px;
  position: relative;
  left: 16px;
  top: -8px;
}
/* Tabs */
.tabs {
  float: left;
  width: 100%;
  margin-top: 8px;
}
.nav-tabs {
  padding-left: 12px;
  border-bottom: 0;
}
li.tab a {
  cursor: pointer;
  background-color: #ddd;
  color: #999;
}
li.tab.active a {
  font-weight: bold;
  color: whitesmoke;
}
li.tab-read.active a {
  background-color: #518bd6;
}
li.tab-listen.active a {
  background-color: #d6a551;
}
li.tab-glossary.active a {
  background-color: #d66351;
}
.tab-content {
  padding: 3px;
  border: 1px solid #518bd6;
  background-color: white;
  border-radius: 2px;
  z-index: 2;
  position: relative;
  min-height: 136px;
}
.listen .tab-content {
  border-color: #d6a551;
}
.glossary .tab-content {
  border-color: #d66351;
}
.user-glossary .tab-content {
  min-height: 156px;
}
.tab .fa-check {
  color: green;
  padding-left: 4px;
  font-size: 18px;
  text-shadow: 1px 1px #eee;
}
.tab-read a {
  border-color: #81a6d6;
}
.tab-listen a {
  border-color: #d6b781;
}
.tab-glossary a {
  border-color: #d68c81;
}
/* Info */
.info {
  margin: 6px 0;
  padding-left: 6px;
  overflow: hidden;
  font-size: 16px;
}
.translations {
  color: black;
  font-weight: 100;
}
.translations .fa-check {
  color: green;
  padding-left: 4px;
}
.strong {
  font-weight: bold;
}
.icons {
  position: absolute;
  right: 0;
  top: 36px;
}
.new .icons {
  right: 60px;
}
.icons > div {
  display: inline-block;
}
.icons .fa-thumbs-up {
  margin-left: 2px;
}
.icons .fa-times {
  color: red;
}
.subscribe {
  font-size: 3rem;
  color: grey;
  cursor: pointer;
}
.mylist, .fa-thumbs-up {
  color: #428bca;
}
.cover-activity .fa-thumbs-o-up {
  color: white;
}
.recommended {
  margin-left: 12px;
  font-size: 3rem;
}
.fa-thumbs-o-up {
  color: grey;
}
span.canrecommend:hover {
  cursor: pointer;
}
.difficulty > span {
  background: linear-gradient( to right, green, yellow 100px, red 200px);
  width: 200px;
  height: 16px;
  border: 1px solid #333;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-left: 2px;
}
/* Progress Content Panel */
.progress-content {
  padding: 0;
}
.progress-panel {
  border: 1px dotted #666;
  background-color: #edffed;
  min-height: 92px;
  padding: 2px 4px;
  border-radius: 3px;
}
.progress-panel-test {
  background-color: #edf7ff;
  margin-left: 6px
}
.buttons {
  margin: 10px 0;
  min-height: 57px;
}
.progress-panel .buttons {
  margin: 8px 0;
  min-height: 48px;
}
.user-glossary .buttons {
  min-height: 54px;
}
/* Pie */
.pie-chart {
  position: absolute;
  right: 0;
  top: 2px;
}
/* Progress Bar */
.progress {
  margin-bottom: 0;
  height: 22px;
  border: 1px solid #5cb85c;
}
.progress.test {
  border: 1px solid #337ab7;
}
.dashboard .progress {
  height: 15px;
}
.progress-min .progress-bar {
  color: black; /* progress bar not yet big enough */
}
.progress-bar {
  line-height: 22px;
  font-size: 12px;
}
.progress-bar > span {
  padding-left: 2px;
  right: 0;
  top: 0;
}
/* Unsubscribe */
.stop-btn {
  position: absolute;
  right: -4px;
  top: 76px;
}
.fa-times-circle {
  color: red;
}
/* Repeat */
.repeat-history {
  margin-top: 12px;
  margin-bottom: 0;
}
.repeat-count {
  color: white;
  border: 2px solid #5cb85c;
  background-color: #74c374;
  border-radius: 2px;
  padding: 0 6px;
  margin-left: 3px;
  height: 22px;
  font-family: monospace;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.repeat-count.test {
  border-color: #ffa500;
  background-color: #f2b968;
}
.repeat-nr {
  position: relative;
  top: -2px;
}
.color-bar {
  display: flex;
  flex-wrap: nowrap;
  width: 50%;
  float: right;
  color: white;
  position: relative;
  top: -6px;
  height: 32px;
}
.column {
  text-align: center;
  overflow: hidden;
  padding: 6px 0;
}
/* beta */
.beta {
  color: orange;
  font-size: 10px;
  position: absolute;
  display: block;
  z-index: 2;
  top: 26px;
  left: 34px;
}
/* ribbon */
/* src: https://codepen.io/eode9/pen/twkKm */
.corner-ribbon{
  width: 200px;
  position: absolute;
  top: 45px;
  left: -50px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  color: black;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 9;
}
.corner-ribbon.shadow{
  box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}
.corner-ribbon.top-right{
  top: 35px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.corner-ribbon.yellow{
  background: rgb(255, 255, 173);
}

/* Compact */
.compact.panel {
  margin-bottom: 10px;
}
.compact .panel-book {
  height: 52px;
  min-height: initial;
  padding-top: 12px;
  cursor: pointer;
}
.compact .img-wrapper {
  overflow: hidden;
  height: 40px;
  position: relative;
  top: -6px;
}
.compact .cover-img {
  position: relative;
  top: -74px;
}
.compact .index-nr {
  top: -10px;
}
.compact .icons {
  right: -4px;
  top: 8px;
}
.compact .icons .fa {
  font-size: 18px;
}
.compact .corner-ribbon.top-right {
  right: 120px;
  top: 14px;
}
.compact .cover-activity, .compact .attribution {
  display: none;
}
.compact-buttons {
  position: relative;
  top: -8px;
}
@media screen and (max-width: 991px) {
  .pie-chart {
    display: none;
  }
  .book h3 {
    font-size: 32px;
    margin-top: 4px;
  }
}
