<article>
  <div class="panel panel-default transparant"
    [ngClass]="{
      compact: showCompact,
      read: tab === 'read',
      listen: tab === 'listen',
      glossary: tab === 'glossary',
      'user-glossary': tab === 'glossary' && !!userGlossaryCount?.countTotal,
      new: isNewBook
    }">
    <div class="panel-body panel-book"
         (click)="onOpen($event)">
      <!-- NEW BANNER -->
      <div class="corner-ribbon top-right yellow shadow" *ngIf="isNewBook">
        {{text["New"]}}!
      </div>
      <!-- COVER IMAGE -->
      <img src="/assets/img/flags/{{book.lanRegion || book.lanCode}}-circle.png" class="circle-flag">
      <div class="cover-wrapper" [class.has-cover]="hasImage">
        <div class="img-wrapper">
            <img src="{{coverImage}}" class="cover-img">
            <span *ngIf="!hasImage" class="cover-text">{{book.title}}</span>
        </div>
        <div class="cover-activity" *ngIf="userCount">
          <span class="users"
            [tooltip]="text['UsersStarted']"
            placement="top"
            show-delay="300"
            hide-delay="0">
            <span class="fa fa-user-o"></span>{{userCount}}
          </span>
          <span class="thumbs"
            [tooltip]="text['UsersRecommended']"
            placement="top"
            show-delay="300"
            hide-delay="0">
            <span class="fa fa-thumbs-o-up"></span>{{recommendCount}}
          </span>
        </div>
      </div>
      <div class="book">
        <!-- INDEX -->
        <div class="index-nr pull-right">
          {{nr}} / {{total}}
        </div>
        <!-- COMPACT -->
        <div *ngIf="showCompact && tab !== 'glossary'"
          class="compact-buttons">
          <km-story-buttons *ngIf="book.lanCode !== targetLanCode && userBookStatus"
            [text]="text"
            [bookType]="tab"
            [isCompact]="true"
            [book]="book"
            [targetLanCode]="targetLanCode"
            [userBook]="userBook"
            [userBookStatus]="userBookStatus"
            [isFinished]="isFinished"
            [hasFlashCards]="false"
        ></km-story-buttons>
        </div>
        <!-- TITLE -->
        <h3>
          <span class="flags">
            <img src="/assets/img/flags/{{book.lanRegion || book.lanCode}}.png" class="flag from">
            <span class="fa fa-arrow-right flag-from"></span>
            <img src="/assets/img/flags/{{targetLanCode}}.png" class="flag to">
          </span>
          <km-audio-file *ngIf="hasAudioTitle"
            [fileUrl]="audioTitle"
            [autoPlay]="false"
            size="36"
            class="audio-item"
            (ended)="onAudioEnded($event)">
          </km-audio-file>
          <span *ngIf="isFinished" class="fa fa-check"></span>
          <span class="title">{{book.title}}</span>
        </h3>
        <div class="book-content">
          <!-- ICONS -->
          <div *ngIf="userBookStatus">
            <ng-container *ngTemplateOutlet="actionTemplate; context:{
              tpe: tpe,
              text: text,
              userBookStatus: userBookStatus,
              userBookStatusTest: userBookStatusTest
            }">
            </ng-container>
          </div>
          <km-story-attribution class="attribution"
            [text]="text"
            [book]="book"
            [licenses]="licenses">
          </km-story-attribution>
        </div>
        <!-- TABS -->
        <div class="tabs">
          <ul class="nav nav-tabs">
            <li class="tab tab-read"
              [class.active]="tab==='read'"
              (click)="onSelectTab('read')">
              <a>
                <span class="fa fa-book fa-spacing"></span>{{text["Read"]}}<span class="fa fa-check" *ngIf="finishedTabs?.read"></span>
              </a>
            </li>
            <li class="tab tab-listen" *ngIf="book.audioPublished"
              [class.active]="tab==='listen'"
              (click)="onSelectTab('listen')">
              <a>
                <span class="fa fa-volume-up fa-spacing"></span>{{text["Listen"]}}<span class="fa fa-check" *ngIf="finishedTabs?.listen"></span>
              </a>
            </li>
            <li class="tab tab-glossary" *ngIf="book.wordListPublished"
              [class.active]="tab==='glossary'"
              (click)="onSelectTab('glossary')">
              <a>
                <span class="fa fa-list fa-spacing"></span>{{text["Glossary"]}}<span class="fa fa-check" *ngIf="finishedTabs?.glossary"></span>
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <km-loader *ngIf="isLoading && !isError"
              [msg]="text['LoadingData']"
              [showBackground]="false"
              margin="35px">
            </km-loader>
            <div *ngIf="!isLoading">
              <!-- INFO -->
              <div class="info">
                <!-- DIFFICULTY -->
                <div class="difficulty pull-right">
                  {{text["Difficulty"]}}: <span class="difficulty" [style.width]="difficultyWidth + 'px'"></span>
                  ({{difficultyPerc}}%)
                </div>
                <!-- SENTENCES -->
                <div class="sentences" *ngIf="tab !== 'glossary'">
                  <span class="strong">{{book.difficulty?.nrOfSentences | score}} {{text["sentences"]}}</span>
                  <span *ngIf="translationCount > 0" class="translations">
                    ({{translationString}} {{text["translatedinto"]}} {{text[targetLanCode]}}<span *ngIf="isTranslated"
                      class="fa fa-check"
                      [tooltip]="text['FullyTranslated']"
                      placement="top"
                      show-delay="300"
                      hide-delay="50">
                    </span>)
                  </span>
                </div>
                <!-- WORDS -->
                <div class="words" *ngIf="tab === 'glossary'">
                  <span *ngIf="book.wordListPublished"><span class="strong">{{glossaryCount?.countTotal | score}} {{text["words"]}}</span> {{text["inwordlist"]}}</span>
                  <span *ngIf="glossaryCount?.countTranslation" class="translations"> ({{glossaryCount?.countTranslation}} {{text["translated"]}}<span *ngIf="isTranslated"
                    class="fa fa-check"
                    [tooltip]="text['FullyTranslated']"
                    placement="top"
                    show-delay="300"
                    hide-delay="50">
                  </span>)</span>
                  <div *ngIf="!!userGlossaryCount?.countTotal">
                    <span class="strong">{{userGlossaryCount.countTotal | score}} {{userGlossaryCount.countTotal > 1 ? text["words"] : text["word"]}}</span>
                    {{text["inMyWordList"]}} <span *ngIf="userGlossaryCount.countTranslation > 0" class="translations"> ({{userGlossaryCount.countTranslation}} {{text["translated"]}}<span *ngIf="isUserTranslated"
                      class="fa fa-check"
                      [tooltip]="text['FullyTranslated']"
                      placement="top"
                      show-delay="300"
                      hide-delay="50">
                    </span>)</span>
                  </div>
                </div>
              </div>
              <!-- PROGRESS -->
              <div [class.col-sm-6]="hasTest" class="progress-content">
                <div [class.progress-panel]="hasTest">
                  <!-- NOT TEST PIE CHART -->
                  <div class="pie-content" style="position:relative;">
                    <div class="pie-chart" *ngIf="currentUserData && userBookStatus?.nrOfSentencesDone > 0">
                      <km-pie-chart
                        [size]="hasTest ? 'small' : 'medium'"
                        [data]="currentUserData">
                      </km-pie-chart>
                    </div>
                  </div>
                  <!-- NOT TEST BUTTONS -->
                  <div *ngIf="book.lanCode !== targetLanCode && userBookStatus"
                    class="buttons">
                    <km-story-buttons
                      [text]="text"
                      [bookType]="tab"
                      [book]="book"
                      [targetLanCode]="targetLanCode"
                      [userBook]="userBook"
                      [userBookStatus]="userBookStatus"
                      [isFinished]="isFinished"
                      [hasFlashCards]="hasFlashCards"
                      [glossaryCount]="glossaryCount"
                      [userGlossaryCount]="userGlossaryCount"
                    ></km-story-buttons>
                  </div>
                  <!-- NOT TEST PROGRESS BAR -->
                  <ng-container *ngTemplateOutlet="progressTemplate;context:{
                    isTest: false,
                    userBookStatus: userBookStatus,
                    userBook: userBook,
                    userData: userData,
                    showHistory: showHistoryData[0]
                  }">
                  </ng-container>
                </div>
              </div>
              <div class="col-sm-6 progress-content" *ngIf="hasTest">
                <div class="progress-panel progress-panel-test">
                  <!-- TEST PIE CHART -->
                  <div class="pie-content" style="position:relative;">
                    <div class="pie-chart" *ngIf="currentUserTestData && userBookStatusTest?.nrOfSentencesDone > 0">
                      <km-pie-chart
                        [size]="'small'"
                        [data]="currentUserTestData">
                      </km-pie-chart>
                    </div>
                  </div>
                  <!-- TEST BUTTONS -->
                  <div  *ngIf="book.lanCode !== targetLanCode && userBookStatusTest"
                    class="buttons">
                    <km-story-buttons
                      [text]="text"
                      [bookType]="tab"
                      [isTest]="true"
                      [book]="book"
                      [targetLanCode]="targetLanCode"
                      [userBook]="userBookTest"
                      [userBookStatus]="userBookStatusTest"
                      [isFinished]="isFinished"
                      [hasFlashCards]="hasFlashCards"
                      [glossaryCount]="glossaryCount"
                      [userGlossaryCount]="userGlossaryCount"
                    ></km-story-buttons>
                  </div>
                  <!-- TEST PROGRESS BAR -->
                  <ng-container *ngTemplateOutlet="progressTemplate;context:{
                    isTest: true,
                    userBookStatus: userBookStatusTest,
                    userBook: userBookTest,
                    userData: userDataTest,
                    showHistory: showHistoryData[1]
                  }">
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<ng-template #actionTemplate
  let-tpe=tpe
  let-text=text
  let-userBookStatus=userBookStatus
  let-userBookStatusTest=userBookStatusTest>
  <div class="icons" *ngIf="isIconsReady">
    <div *ngIf="!isMyList"
      class="subscribe"
      [class.mylist]="isSubscribed"
      (click)="onToggleSubscription($event)"
      [tooltip]="text[isSubscribed ? 'RemoveFromList' : 'AddToList']"
      placement="left"
      show-delay="300"
      hide-delay="50">
      <span class="fa fa-thumb-tack"></span>
    </div>
    <div *ngIf="isMyList"
      class="subscribe"
      [class.mylist]="isSubscribed"
      (click)="onStopReadingListening()"
      [tooltip]="text['RemoveFromList']"
      id="tooltipRemove"
      placement="left"
      show-delay="300"
      hide-delay="50">
      <span class="fa fa-times"></span>
    </div>
    <div class="recommended" *ngIf="userBookStatus.isBookRead || userBookStatus.isRepeat"
      [tooltip]="text[isRecommended ? 'RetractRecommendation' : 'RecommendStory']"
      placement="left"
      show-delay="300"
      hide-delay="50">
      <span class="fa"
        [ngClass]="{
          'fa-thumbs-o-up': !isRecommended,
          'fa-thumbs-up': isRecommended,
          'canrecommend': userBookStatus.isBookRead || userBookStatus.isRepeat
        }"
        (click)="onToggleRecommend($event)">
      </span>
    </div>
  </div>
</ng-template>

<ng-template #progressTemplate
  let-isTest=isTest
  let-uBookStatus=userBookStatus
  let-uBook=userBook
  let-uData=userData
  let-showHistory=showHistory>
  <div *ngIf="uBookStatus?.isStarted || uBookStatus?.isRepeat || uBookStatus?.isBookRead">
    <div *ngIf="uBook?.repeatCount"
      (click)="onShowRepeatHistory(isTest)"
      class="repeat-count pull-right"
      [class.test]="isTest"
      [tooltip]="text['RepeatNr']"
      placement="left"
      show-delay="300"
      hide-delay="50">
      {{uBook.repeatCount}}
    </div>
    <div class="progress"
      [ngClass]="{'progress-min': uBookStatus.percDone < 5, 'test': isTest}">
      <div
        class="progress-bar progress-bar-striped"
        [ngClass]="{'progress-bar-primary': isTest, 'progress-bar-success': !isTest}"
        role="progressbar"
        [attr.aria-valuenow]="uBookStatus.nrOfSentencesDone"
        aria-valuemin="0"
        [attr.aria-valuemax]="book.difficulty?.nrOfSentences"
        [style.width.%]="uBookStatus.percDone">
        <span>
          {{uBookStatus.nrOfSentencesDone}}/{{uBookStatus.nrOfSentences}}&nbsp;({{uBookStatus.percDone}}%)
        </span>
      </div>
    </div>
    <ul class="list-group repeat-history" *ngIf="uData && showHistory">
      <li *ngFor="let history of uData; let i=index" class="list-group-item history-row">
        <span class="dt">{{history.start | date:'yyyy/MM/dd'}} - {{history.end | date:'yyyy/MM/dd'}}</span>
        <span class="color-bar">
          <div class="column" *ngIf="history.nrNo" [ngStyle]="{
            'flex': '1 0 ' + userColors[isTest ? 1 : 0][i].red +  '%',
            'background-color': 'red'
          }">
          {{history.nrNo}}
          </div>
          <div class="column" *ngIf="history.nrMaybe" [ngStyle]="{
            'flex': '1 0 ' + userColors[isTest ? 1 : 0][i].orange +  '%',
            'background-color': 'orange'
          }">
          {{history.nrMaybe}}
          </div>
          <div class="column" *ngIf="history.nrYes" [ngStyle]="{
            'flex': '1 0 ' + userColors[isTest ? 1 : 0][i].green +  '%',
            'background-color': 'green'
          }">
          {{history.nrYes}}
          </div>
        </span>
      </li>
    </ul>
  </div>
</ng-template>
