<div class="panel panel-default transparant manual">
  <div class="panel-heading">
    <span class="fa fa-question-circle fa-spacing-title"
      (click)="onToIndex()">
    </span>
    <span *ngIf="!isLoading">
      <span *ngIf="!isIndex || text">
        {{isIndex ? text["Manual"] : page?.title}}
      </span>
      <span class="navigation-arrows">
        <a *ngIf="!isIndex" routerLink="/manual/index"
          class="fa fa-arrow-up pull-right back"
          (click)="onToIndex()">
        </a>
        <a *ngIf="!!nextPage"
          class="fa fa-arrow-right pull-right back"
          (click)="onToNextPage(nextPage)">
        </a>
        <a *ngIf="!isIndex"
          class="fa fa-arrow-left pull-right back"
          (click)="onToPreviousPage()">
        </a>
      </span>
    </span>
  </div>
  <div class="panel-body" *ngIf="!isLoading">
    <ul *ngIf="isIndex" class="list-group">
      <li *ngFor="let item of index"
        class="list-group-item"
        [hidden]="isSectionClosed(item)"
        (click)="onToManualPage(item)"
        [ngClass]="'level-' + item.level"
        [class.header]="item.isHeader">
        <span
          *ngIf="item.isHeader"
          class="fa fa-spacing chevron"
          [ngClass]="{
            'fa-chevron-down': !sectionClosed[item.sort],
            'fa-chevron-right': sectionClosed[item.sort]
          }">
        </span>
        <span *ngIf="!item.isHeader">
          <span class="visible-print">
            <span class="fa fa-arrow-right fa-spacing"></span>
            <span>{{item.title}}</span>
          </span>
          <span class="hidden-print">
            <span class="fa fa-arrow-right fa-spacing"></span>
            <a routerLink="/manual/{{getPath(item)}}">{{item.title}}</a>
          </span>
        </span>
        <span *ngIf="item.isHeader">
          &nbsp;{{item.title}}
        </span>
      </li>
    </ul>
    <div *ngIf="!isIndex"
      [innerHTML]="page?.html | sanitizeHtml" (click)="getRoute($event)">
    </div>
    <div class="buttons">
      <button *ngIf="nextPage"
        type="button"
        class="btn btn-success next-btn"
        (click)="onToNextPage(nextPage)"
        >
        <span class="fa fa-arrow-right fa-spacing"></span>Next: {{nextPage.title}}
      </button>
      <button *ngIf="!isIndex"
        type="button"
        class="btn btn-info next-btn"
        [class.pull-right]="nextPage"
        (click)="onToIndex()"
        >
        <span class="fa fa-arrow-up fa-spacing"></span>Back to index
      </button>
    </div>
  </div>
  <km-loader *ngIf="isLoading && !isError"
    [msg]=""
    [showBackground]="false">
  </km-loader>
</div>
