.fa-arrow-up, .list-group-item, .fa-question-circle {
  cursor: pointer;
}
.list-group .fa-arrow-right {
  color: #337ab7;
}
.next-btn {
  margin-top: 12px;
}
.level-2 {
  margin-left: 60px;
}
.level-3 {
  margin-left: 90px;
}
.list-group-item:hover {
  background-color: #e1f4fa;
}
.chevron {
  width: 20px;
}
.header {
  background-color: #f5f5f5;
}
a.back {
  color: white;
}
a.back:link, a.back:visited, a.back:hover, a.back:active {
  text-decoration: none;
}
[hidden] { display: none !important;}
