.panel-default {
   background-color: rgba(255, 255, 255, .8);
}
div.altsign {
  float:right;
  font-size: 85%;
  position: relative; 
  top:-10px;
}
div.altsign a {
  color:snow;
}
.field {
}
.field .fa {
  font-size: 22px;
  width: 26px;
}
.register {
  margin-right: 8px;
}
.panel-body {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.green > span {
  border: 1px solid green;
  background-color: green;
  color: white;
}
.red > span {
  border: 1px solid red;
  background-color: red;
  color: white;
}
.green input{
  border: 1px solid green;
}
.red input {
  border: 1px solid red;
}
km-field-messages {
  margin-left: 54px;
}
/* override bootstrap */
.panel-primary > .panel-heading {
  background-color: #60727e;
  border-color: #505d66;
}
.panel-primary {
  border-color: #505d66;
}
.bg-info {
  background-color: white;
}
.panel-primary {
  margin-top: 16px;
}