<div class="row">
  <div class="col-xs-6">
    <span  *ngFor="let sentence of sentences; let i= index">
      <p *ngIf="sentence.sentence?.isEmptyLine" class="newline-space">&nbsp;</p>
      <p *ngIf="sentence.sentence?.isNewParagraph" class="paragraph-space">&nbsp;</p>
      <span
        (mouseover)="onHoverSentence(i)"
        (mouseout)="onCancelHoverSentence()"
        class="sentence"
        [ngClass]="{
          paragraph: sentence.sentence?.isNewParagraph,
          header: sentence.sentence?.isHeader,
          hovered: hoverSentence === i,
          yes: sentence.lastAnswer?.toLowerCase() === 'y',
          maybe: sentence.lastAnswer?.toLowerCase() === 'm',
          no: sentence.lastAnswer?.toLowerCase() === 'n'
        }">{{sentence.sentence?.text}}
      </span>
    </span>
  </div>
  <div class="col-xs-6">
    <span  *ngFor="let sentence of sentences; let i= index">
      <p *ngIf="sentence.sentence?.isEmptyLine" class="newline-space">&nbsp;</p>
      <p *ngIf="sentence.sentence?.isNewParagraph" class="paragraph-space">&nbsp;</p>
      <span
        class="sentence translation"
        [ngClass]="{
          paragraph: sentence.sentence?.isNewParagraph,
          header: sentence.sentence?.isHeader,
          hovered: hoverSentence === i,
          'hide-tl': !sentence.hasTranslation
        }">{{sentence.bestTranslation?.translation}}
      </span>
    </span>
  </div>
</div>
