<section>
  <km-book-title *ngIf="!!book"
    [text]="text"
    [bookType]="'revision'"
    [bookLanCode]="book?.lanCode"
    [userLanCode]="userLanCode"
    [bookTitle]="book?.title"
    [chapterTitle]="currentChapterTitle"
  ></km-book-title>
  <div class="panel panel-default">
    <div class="panel-body">
      <km-loader *ngIf="isLoadingRevision && !isError"
        [showBackground]="false"
        [msg]="text['LoadingChapters']">
      </km-loader>
      <ul *ngIf="!isLoadingRevision && !!chapterData" class="list-group">
        <li *ngFor="let chapter of chapterData"
          class="list-group-item level"
          [class.hidden]="showChapter(chapter)"
          [ngClass]="'level-' + chapter.level"
          (click)="onToggleChapter(chapter)">
          <span
            class="fa fa-spacing chevron"
            [ngClass]="{
              'fa-chevron-down': chapter.expanded,
              'fa-chevron-right': !chapter.expanded
            }">
          </span>
          {{chapter.title}} ({{chapter.nrOfSentences}})
          <!--

          <span *ngIf="!item.isHeader" class="fa fa-arrow-right"></span>
          <span *ngIf="item.isHeader">
              &nbsp;{{item.title}}
          </span>
          -->
        </li>
      </ul>
    </div>
  </div>
</section>

<km-info-msg [msg]="msg" *ngIf="msg">
</km-info-msg>
