.panel-body {
  padding: 15px;
}
.level-2 {
  margin-left: 15px;
}
.level-3 {
  margin-left: 30px;
}
.level-4 {
  margin-left: 45px;
}
.level-5 {
  margin-left: 60px;
}
.chapter-header {
  font-size: 22px;
  background-color: #f5f5f5;
  cursor: pointer;
}
.list-group-item:hover {
  background-color: #e1f4fa;
}
.chapter-sentences:hover {
  background-color: #fff;
}
.list-group {
  margin-bottom: 0;
}
