<div class="row paragraph" *ngFor="let paragraph of paragraphs; let pCnt=index">
  <div class="col-xs-6">
    <span *ngFor="let sentence of paragraph; let sCnt=index">
      <ng-container *ngTemplateOutlet="sentenceTemplate;context:{
        sentenceData: sentence,
        tpe: 'sentence',
        text: sentence.sentence?.text,
        parNr: pCnt,
        lineNr: sCnt
      }"></ng-container>
    </span>
  </div>
  <div class="col-xs-6">
    <span *ngFor="let sentence of paragraph; let sCnt=index">
      <ng-container *ngTemplateOutlet="sentenceTemplate;context:{
        sentenceData: sentence,
        tpe: 'translation',
        text: sentence.bestTranslation?.translation,
        parNr: pCnt,
        lineNr: sCnt
      }"></ng-container>
    </span>
  </div>
</div>

<ng-template #sentenceTemplate let-sentenceData=sentenceData let-parNr=parNr let-lineNr=lineNr let-tpe=tpe let-text=text>
  <p *ngIf="sentenceData.sentence?.isEmptyLine" class="newline-space">&nbsp;</p>
  <span
    (mouseover)="onHoverSentence(parNr, lineNr)"
    (click)="onClickSentence(tpe, parNr, lineNr)"
    (mouseout)="onCancelHoverSentence()"
    class="sentence"
    [ngClass]="{
      'new-paragraph': sentenceData.sentence?.isNewParagraph,
      header: sentenceData.sentence?.isHeader,
      hovered: hoverSentenceParNr === parNr && hoverSentenceLineNr === lineNr,
      yes: tpe==='sentence' && sentenceData.lastAnswer?.toLowerCase() === 'y',
      maybe: tpe==='sentence' && sentenceData.lastAnswer?.toLowerCase() === 'm',
      no: tpe==='sentence' && sentenceData.lastAnswer?.toLowerCase() === 'n',
      tl: tpe === 'translation',
      'hide-tl': tpe === 'translation' && !sentenceData.hasTranslation
    }">{{text}}
  </span>
</ng-template>
