<section *ngIf="isReady">
  <div class="panel panel-default transparant books">
    <div class="panel-heading">
      <span class="fa fa-trophy fa-spacing-title"></span>{{text['Leaderboard']}}
    </div>
    <div class="panel-body">
      <table class="table table-hover" *ngIf="!loadingBoard else loading">
        <tbody>
          <tr *ngFor="let leader of leaders; let i = index" (click)="onGoToProfile(leader.userName)">
            <td class="text-right">{{i+1}}.</td>
            <td width="36px">
              <img kmGravatar *ngIf="!!leader.emailHash"
              [hash]="leader.emailHash"
              [width]="32"
              class="gravatar"></td>
            <td>
              {{leader.userName}}
            </td>
            <td class="text-right nr">
              <img src="/assets/img/ranks/rank{{leader.rank}}_32b.png" class="img rank" *ngIf="!!leader.userName">
              {{leader.points | score}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #loading>
    <km-loader
      [msg]="''"
      [showBackground]="false">
    </km-loader>
  </ng-template>
</section>
