<section *ngIf="isReady">
  <div class="panel panel-default transparant books">
    <div class="panel-heading">
      <span class="fa fa-trophy fa-spacing-title"></span>{{text['Leaderboard']}}
    </div>
    <div class="panel-body">
      <div>
        <ul class="nav nav-tabs">
          <li
            [class.active]="tab==='week'"
            (click)="onSelectTab('week')">
            <a>
              {{text["Last7days"]}}
            </a>
          </li>
          <li
            [class.active]="tab==='month'"
            (click)="onSelectTab('month')">
            <a>
              {{text["Last30days"]}}
            </a>
          </li>
          <li
            [class.active]="tab==='all'"
            (click)="onSelectTab('all')">
            <a>
              {{text["AllTime"]}}
            </a>
          </li>
        </ul>
        <div>
          <table class="table table-hover" *ngIf="!loadingBoard else loading">
            <tbody>
              <tr *ngFor="let leader of leaders[tab]; let i = index"
                (click)="onGoToProfile(leader.userName)"
                class="clickable"
                [class.current-user]="leader.isCurrentUser">
                <ng-container *ngTemplateOutlet="leaderRow;context:{nr:i, leader:leader}"></ng-container>
              </tr>
              <tr *ngIf="!!currentLeader[tab]">
                <td></td>
                <td colspan="3">...</td>
              </tr>
              <tr *ngIf="!!currentLeader[tab]"
                class="clickable current-user"
                (click)="onGoToProfile(currentLeader[tab].userName)">
                <ng-container *ngTemplateOutlet="leaderRow;context:{nr:currentLeader[tab].position, leader:currentLeader[tab]}"></ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <km-loader
      [msg]="''"
      [showBackground]="false">
    </km-loader>
  </ng-template>
</section>

<ng-template #leaderRow let-i=nr let-leader=leader>
  <td class="text-right">
    {{i + 1}}.
  </td>
  <td width="36px">
    <img kmGravatar *ngIf="!!leader.emailHash"
    [hash]="leader.emailHash"
    [width]="32"
    class="gravatar">
  </td>
  <td class="name">
    {{leader.userName}}
  </td>
  <td class="text-right nr">
    <img src="/assets/img/ranks/rank{{leader.rank}}_32b.png" class="img rank" *ngIf="!!leader.userName"
    [tooltip]="leader.rankName"
    placement="left"
    hide-delay="50">
    {{leader.points | score}}
  </td>
</ng-template>
