<nav class="navbar navbar-earthy navbar-fixed-top" *ngIf="isReady">
  <div class="container">
    <!-- <div style="font-size:10px">user: {{getUser()|json}}</div> -->
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header pull-left">
      <a routerLink="/home" class="logo">
        <img src="/assets/img/logobadge.png">
      </a>
    </div>
    <a href="#" *ngIf="!isLoggedIn" class="navbar-brand">
      {{appTitle}}
    </a>

    <!-- Collection of nav links and other content for toggling -->
    <div>
      <ul class="nav-items">
        <li *ngIf="isLoggedIn"
          class="nav-item indicator mobile"
          (click)="onShowMobileMenu()"
          #mobiletrigger>
          <a>
            <span class="fa fa-bars"></span>
          </a>
        </li>
        <li *ngIf="isLoggedIn"
          routerLinkActive="active"
          class="desktop">
          <a routerLink="/read">
            <span class="fa fa-book"></span>
            {{text["Read"]}}
            <span class="bar read"></span>
          </a>
        </li>
        <li *ngIf="isLoggedIn"
          routerLinkActive="active"
          class="desktop">
          <a routerLink="/listen">
            <span class="fa fa-volume-up"></span>
            {{text["Listen"]}}
            <span class="bar listen"></span>
          </a>
        </li>
        <li *ngIf="isLoggedIn"
          routerLinkActive="active"
          class="desktop">
          <a routerLink="/glossaries">
            <span class="fa fa-list"></span>
            {{text["Glossaries"]}}
            <span class="bar glossary"></span>
          </a>
        </li>
      </ul>

      <ul class="pull-right nav-items right-menu">
        <!-- Notifications & Messages -->
        <li *ngIf="isLoggedIn"
          class="nav-item indicator"
          routerLinkActive="active">
          <a class="nav-link messages" routerLink="/user/messages">
            <i class="fa fa-envelope-o"></i>
            <span class="badge"
              [style.visibility]="nrOfMessages > 0 ? 'visible': 'hidden'">
              {{nrOfMessages}}
            </span>
            <span class="bar small"></span>
          </a>
        </li>
        <!-- Not Logged In -->
        <li routerLinkActive="active"
          class="login"
          *ngIf="!isLoggedIn && url!=='/auth/signin' && url!=='/home'">
          <a
            routerLink="/auth/signin" [queryParams]="{returnUrl: url}">
            <span class="fa fa-sign-in"></span>
            {{text["Login"]}}
            <span class="bar"></span>
          </a>
        </li>
        <li *ngIf="!isLoggedIn && intLan?.code==='en' && url.slice(0,7)!=='/manual'">
          <a class="dropdown-item manual" (click)="onGoto($event, 'manual')">
            <span class="fa fa-question-circle-o"></span>
          </a>
        </li>
        <li
          class="nav-item dropdown"
          *ngIf="!isLoggedIn && (url==='/home')"
          on-mouseover='onShowDropDown(true)'
          on-mouseout='onShowDropDown(false)'>
          <a
            class="nav-link dropdown-toggle user-action">
            <img
              src="/assets/img/flags/{{intLan.code}}.png"
              alt="{{intLan?.nativeName}}" class="flag" />
              {{intLan?.nativeName}}
            <span
              class="fa fa-caret" [ngClass]="{
              'fa-caret-right': !showDropDown,
              'fa-caret-down': showDropDown
            }"></span>
          </a>
          <ul
            class="dropdown-menu dropdown-lan"
            [style.display]="showDropDown ? 'block' : 'none'">
            <li
              *ngFor="let lan of intLans"
              (click)="onSelectLanguage(lan)">
              <a class="dropdown-item" *ngIf="lan.code !== intLan.code">
                <img
                  src="/assets/img/flags/{{lan.code}}.png"
                  alt="{{lan?.nativeName}}" class="flag" />
                {{lan.nativeName}}
              </a>
            </li>
          </ul>
        </li>
        <!-- Logged In -->
        <li
          class="gravatar"
          *ngIf="isLoggedIn && getUser()?.emailHash">
          <img kmGravatar
            [hash]="getUser()?.emailHash"
            [width]="32"
            (click)="onGoToProfile()">
        </li>
        <li
          class="nav-item dropdown"
          *ngIf="isLoggedIn"
          on-mouseover='onShowDropDown(true)'
          on-mouseout='onShowDropDown(false)'
          (click)='onToggleDropDown()'>
          <a
            class="nav-link dropdown-toggle user-action">
            <span class="user-name">{{getUser()?.userName}}</span>
            <span
              class="fa fa-caret" [ngClass]="{
              'fa-caret-right': !showDropDown,
              'fa-caret-down': showDropDown
            }"></span>
          </a>
          <ul
            class="dropdown-menu"
            [style.display]="showDropDown ? 'block' : 'none'">
            <li (click)="onGoto($event, 'user/profile')">
              <a class="dropdown-item">
                <span class="fa fa-user-o"></span> {{text["Profile"]}}
              </a>
            </li>
            <li (click)="onGoto($event, 'user/settings')">
              <a class="dropdown-item">
                <span class="fa fa-sliders"></span> {{text["Settings"]}}
              </a>
            </li>
            <li (click)="onGoto($event, 'user/score')">
              <a class="dropdown-item">
                <span class="fa fa-trophy"></span> {{text["Score"]}}
              </a>
            </li>
            <li (click)="onGoto($event, 'manual')">
              <a class="dropdown-item">
                <span class="fa fa-question-circle-o"></span> {{text["Manual"]}}
              </a>
            </li>
            <li class="divider dropdown-divider" *ngIf="score"></li>
            <li *ngIf="score" (click)="onGoto($event, 'leaderboard')">
              <a class="dropdown-item"
                (mouseover)="onChangeRankColor($event)"
                (mouseout)="onChangeRankColor($event)">
                <img src="/assets/img/ranks/rank{{rank}}_32{{rankColor}}.png" class="img"> {{score | score}}
              </a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li (click)="onLogOut($event)">
              <a class="dropdown-item">
                <span class="fa fa-sign-out"></span> {{text["Logout"]}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Mobile -->
<div #mobile>
  <nav *ngIf="showMobileMenu" class="navbar-mobile navbar-fixed-top">
    <ul class="nav nav-pills nav-stacked mobile">
      <li *ngIf="isLoggedIn">
        <a routerLink="/read"
          routerLinkActive="active"
          (click)="onCloseMobileMenu()">
          <span class="fa fa-list-alt"></span>
          {{text["Read"]}}
        </a>
      </li>
      <li *ngIf="isLoggedIn">
        <a routerLink="/listen"
          routerLinkActive="active"
          (click)="onCloseMobileMenu()">
          <span class="fa fa-volume-up"></span>
          {{text["Listen"]}}
        </a>
      </li>
      <li *ngIf="isLoggedIn">
        <a routerLink="/glossaries"
          routerLinkActive="active"
          (click)="onCloseMobileMenu()">
          <span class="fa fa-list"></span>
          {{text["Glossaries"]}}
        </a>
      </li>
    </ul>
  </nav>
</div>
