<section>
    <div class="exercise-header">
      <km-book-title *ngIf="!!book"
        [text]="text"
        [bookType]="'flashcards'"
        [bookLanCode]="book?.lanCode"
        [userLanCode]="userLanCode"
        [bookTitle]="book?.title"
        [canClose]="!isFinished"
        (close)="onExitReading()"
      ></km-book-title>
    </div>
  <km-countdown
    *ngIf="isCountDown"
    [counter]="settings.delay"
    (countedDown)="onCountDownFinished()">
  </km-countdown>
  <div *ngIf="isReady && !isCountDown">
    <div class="panel panel-default main-panel">
      <div class="panel-body">
        <km-book-bullets *ngIf="!isFinished"
          [data]="sessionData">
        </km-book-bullets>
        <div class="flashcard" *ngIf="!isFinished">
          <!-- Flashcard -->
          <km-flashcard
            [text]="text"
            [lanPair]="{from: book.lanCode, to: userLanCode}"
            [audioPath]="audioPath"
            [newFlashCard]="newFlashCard"
            (answer)="onGotAnswer($event)">
          </km-flashcard>
        </div>
        <div class="result" *ngIf="isFinished">
          <!-- Results -->
          <km-flashcards-result
            [text]="text"
            [lanPair]="{from: book.lanCode, to: userLanCode}"
            [audioPath]="audioPath"
            [answers]="answerData"
            [flashCards]="flashCardsDone">
          </km-flashcards-result>
          <!-- Buttons -->
          <button type="button"
            class="btn btn-primary"
            (click)="onBackToList()">
            <span class="fa fa-th-list fa-spacing"></span>
            {{text["BackGlossaries"]}}
          </button>
          <button type="button"
            class="btn btn-primary"
            (click)="onMoreFlashCards()">
            <span class="fa fa-clone fa-spacing"></span>
            {{text["MoreFlashCards"]}}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
