<section>
  <km-book-title *ngIf="!!book"
    [text]="text"
    [bookType]="'wordlist'"
    [bookLanCode]="book?.lanCode"
    [userLanCode]="userLanCode"
    [bookTitle]="book?.title"
  ></km-book-title>
  <!-- TABS -->
  <ul class="nav nav-tabs" *ngIf="paginationReady">
    <li
      [class.active]="tab==='glossary'"
      (click)="onSelectTab('glossary')">
      <a>
        {{text["WordList"]}} ({{totalWords['glossary']}})
      </a>
    </li>
    <li
      [class.active]="tab==='mywords'"
      (click)="onSelectTab('mywords')">
      <a>
        {{text["MyWords"]}} ({{totalWords['mywords']}})
      </a>
    </li>
    <li class="pull-right">
      <button class="btn btn-primary btn-lg" *ngIf="hasFlashcards"
        type="button"
        (click)="onStartFlashcards(tab)">
        <span class="fa fa-clone fa-spacing"></span>{{text[tab === 'mywords' ? 'MyFlashCards' : 'FlashCards']}}
      </button>
    </li>
  </ul>
  <div class="panel panel-default main-panel">
    <div class="panel-body">
      <!-- PAGINATION -->
      <ul class="pagination col-xs-11" *ngIf="paginationReady">
        <li *ngIf="words.length <= maxWordsPerPage"
          [class.clickable]="!allLetters"
          [class.disabled]="false"
          [class.active] = "allLetters"
          (click)="onGoToLetter(-1)">
          <a>{{text["All"]}}</a>
        </li>
        <li *ngFor="let letterCount of letters;let i = index"
          [class.clickable]="!!hasLetter[tab][i]"
          [class.disabled]="!hasLetter[tab][i]"
          [class.active] = "i === currentLetter"
          (click)="onGoToLetter(i)">
          <a class="pagination-letter">{{letters[i]}}</a>
        </li>
      </ul>
      <div class="col-xs-1" *ngIf="paginationReady">
        <span *ngIf="tab==='glossary'"
          class="fa fa-thumb-tack pull-right pin-all"
          [class.pinned]="isAllPinned"
          [tooltip]="text[isAllPinned ? 'AllInMyWordList' : 'AddAllToMyWordList']"
          placement="top"
          hide-delay="0"
          (click)="onAddAllToMyWordList()">
        </span>
      </div>
      <!-- LIST -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th class="source-lan">
              <span class="fa fa-arrow-right sel-arrow pull-right"></span>
              <img src="/assets/img/flags/{{book?.lanCode}}.png" class="flag from">
              <span class="text">{{text ? text["DictionaryForm"]: ''}}</span>
            </th>
            <th colspan="2" class="lan-header">
              <div
                [tooltip]="text ? text['TranslationLanguage'] : ''"
                [options]="tooltipOptions" id="tooltip1">
                <km-language-selector *ngIf="!isLoading"
                  [languages]="glossaryLanguages"
                  [language]="translationLanChanged"
                  [text]="text"
                  (languageSelected)="onMyLanguageSelected($event)">
                </km-language-selector>
              </div>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="!isLoading && !isLoadingTranslations && displayWords?.length">
          <tr *ngFor="let word of displayWords; let i = index"
            class="current-word">
            <ng-container *ngTemplateOutlet="wordRow;context:{word: word, i:i}"></ng-container>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!isLoading && !isLoadingTranslations && !displayWords?.length">
        <km-info-msg [msg]="getNoWordsMessage()">
        </km-info-msg>
      </div>
      <km-loader *ngIf="isLoading && text && !isError"
        [msg]="text['Loading'] || ''">
      </km-loader>
    </div>
  </div>

  <km-info-msg [msg]="infoMsg">
  </km-info-msg>

  <km-error-msg [msg]="errMsg">
  </km-error-msg>

</section>

<ng-template #wordRow let-i=i let-word=word>
  <td class="text-right">
    <span class="index">{{i + 1}}.</span>
  </td>
  <td class="word-cell">
    <div>
      <span class="word" kmWordColor
        [identifier]="word.genus">
        <!--<span class="article" *ngIf="word.article">{{word.article}}</span>-->
        <span>{{word.word}}</span>
      </span>
      <span class="genus" *ngIf="word.genus">({{word.genus}})</span>
    </div>
    <div class="wordType">{{text[word.wordType]}}</div>
    <div class="audio" *ngIf="word.audio && word.audio.length > 0">
      <km-audio-file *ngFor="let audio of word.audio"
        [fileUrl]="audioPath + audio.s3"
        [autoPlay]="false"
        [size]="32"
        class="audio-item"
        (ended)="onAudioEnded($event)">
      </km-audio-file>
    </div>
  </td>
  <td class="translation-cell">
    <div class="pull-right">
      <span *ngIf="canEdit && tab==='glossary'"
        class="fa fa-refresh fa-spacing"
        [tooltip]="text['RebuildSummary']"
        placement="top"
        hide-delay="0"
        (click)="onRebuildTranslationSummary(word, i)">
      </span>
      <span *ngIf="tab==='glossary'"
        class="fa fa-thumb-tack"
        [class.pinned]="word.pinned"
        [tooltip]="text[word.pinned ? 'InMyWordList' : 'AddToMyWordList']"
        placement="top"
        hide-delay="0"
        (click)="onAddToMyWordList(word, i)">
      </span>
      <!-- MY WORDS EDITING -->
      <span *ngIf="tab==='mywords' && editingWord === null"
        class="fa fa-times pull-right"
        [tooltip]="text['RemoveFromMyWordList']"
        [options]="tooltipOptions"
        [id]="'tooltipRemove' + i"
        (click)="onRemoveFromMyWordList(word)">
      </span>
      <span *ngIf="tab==='mywords' && editingWord === null"
        class="fa fa-pencil"
        [tooltip]="text['EditMyWordTranslation']"
        [options]="tooltipOptions"
        [id]="'tooltipEdit' + i"
        (click)="onEditMyWordTranslation(word, i)">
      </span>
    </div>
    <div *ngIf="tab==='glossary' && !word.expanded">
      <div class="chevron pull-left" (click)="onExpand(word, true)">
        <span class="fa fa-chevron-right"></span>
      </div>
      <div class="summary" (click)="onExpand(word, true)">
        <span *ngIf="!hasTranslation(word)" class="no-translations">
          {{text["NoWordTranslations"]}}
        </span>
        <span *ngIf="hasTranslation(word)">
          {{getTranslation(word)}}
        </span>
      </div>
    </div>
    <div *ngIf="tab==='glossary' && word.expanded">
      <div class="chevron pull-left" (click)="onExpand(word, false)">
        <span class="fa fa-chevron-down"></span>
      </div>
      <ng-container *ngTemplateOutlet="wordDetail;context:{
        word: word,
        i:i,
        wordTranslation: word.translations
      }"></ng-container>
    </div>
    <div *ngIf="tab==='mywords'" class="summary">
      <ng-container *ngTemplateOutlet="myWordDetail;context:{
        word: word,
        i:i
      }"></ng-container>
    </div>
  </td>
</ng-template>

<ng-template #wordDetail let-i=i let-word=word let-wordTranslation=wordTranslation>
  <div *ngIf="!isLoadingTranslations && word.translations && word.translations.length">
    <div *ngFor="let translation of word.translations; let j=index">
      <div *ngIf="translation.translation !== '<none>'">
        <div class="buttons pull-right" *ngIf="canEdit && editingTranslationId !== translation._id">
          <button *ngIf="translation.source === 'Jazyk'"
            type="button"
            class="btn btn-primary"
            (click)="onEditTranslation(word, translation)">
            <span class="fa fa-pencil fa-spacing"></span>Edit
          </button>
          <button *ngIf="translation._id"
            type="button"
            class="btn btn-danger"
            (click)="onRemoveTranslation(i, translation, word)">
            <span class="fa fa-trash-o"></span>
          </button>
          <button *ngIf="translation._id && isUpperCase(translation)"
            type="button"
            class="btn btn-danger"
            (click)="onSetTranslationToLowerCase(i, translation, word)">
            l
          </button>
          <button *ngIf="translation._id && (translation.source !== 'OmegaWiki')"
            type="button"
            class="btn btn-danger"
            (click)="onSetTranslationToNone(i, translation, word)">
            <span class="fa fa-trash-o fa-spacing"></span>Set None
          </button>
        </div>
        <!-- SINGLE TRANSLATION -->
        <km-admin-translation *ngIf="editingTranslationId === translation._id && canEdit"
          [text]="text"
          [book]="book"
          [targetLan]="translationLan"
          [word]="word"
          [isEditing]="true"
          [translation]="translation"
          [userId]="userId"
          (cancelTranslation)="onCancelTranslation()"
          (updatedTranslation)="onUpdatedTranslation($event, word)">
        </km-admin-translation>
        <div class="definition" *ngIf="editingTranslationId !== translation._id">
          <div class="tl-word">{{translation.translation}}</div>
          <div class="tl-definition">{{translation.definition}}</div>
          <div class="tl-source">{{text["BookSource"]}}: {{translation.source}}</div>
        </div>
        <div class="tl-border"></div>
      </div>
    </div>
  </div>
  <!-- TRANSLATION BUTTONS -->
  <km-admin-translation *ngIf="!isLoadingTranslations && canEdit"
    [text]="text"
    [book]="book"
    [targetLan]="translationLan"
    [word]="word"
    [translation]="wordTranslation"
    [userId]="userId"
    (newTranslations)="onNewTranslations($event, word)">
  </km-admin-translation>
  <km-word-translation *ngIf="!isLoadingTranslations && word.wordType!=='phrase' && !hasOmegaWikiTranslations[word._id]"
    [text]="text"
    [source]="'OmegaWiki'"
    [targetLan]="translationLan"
    [bookLan]="bookLan"
    [bookId]="book?._id"
    [word]="word"
    [i] = "i"
    (newTranslations)="onNewTranslations($event, word)"
    (noTranslations)="onNoTranslations($event)">
  </km-word-translation>
  <km-word-translation *ngIf="isDeeplAvailable && !hasDeepLTranslations[word._id] && !isLoadingTranslations"
    [text]="text"
    [source]="'DeepL'"
    [targetLan]="translationLan"
    [bookLan]="bookLan"
    [bookId]="book?._id"
    [word]="word"
    [i] = "i"
    (newTranslations)="onNewTranslations($event, word)">
  </km-word-translation>
  <km-word-translation *ngIf="!hasMSTranslations[word._id] && !isLoadingTranslations"
    [text]="text"
    [source]="'Microsoft'"
    [targetLan]="translationLan"
    [bookLan]="bookLan"
    [bookId]="book?._id"
    [word]="word"
    [i] = "i"
    (newTranslations)="onNewTranslations($event, word)">
  </km-word-translation>
  <div *ngIf="noTranslation.i === i" class="no-translation">
    {{noTranslation.msg}}
  </div>
</ng-template>

<ng-template #myWordDetail let-i=i let-word=word>
    <div *ngIf="editingWord === i">
      <km-user-translation
        [text]="text"
        [translations]="word.userTranslationSummary"
        (newTranslation)="onNewUserTranslation($event, word, i)"
        (cancelTranslation)="onCancelUserTranslation()">
      </km-user-translation>
    </div>
    <div *ngIf="editingWord !== i">
        {{getTranslation(word, 'mywords')}}
    </div>
  </ng-template>
