<section *ngIf="isReady">
    <!--
  <km-languages-bar
    bookType='glossary'
    [text]="text"
    [bookLanguages]="bookLanguages"
    [bookLanguage]="bookLanguage"
    [myLanguages]="myLanguages"
    [myLanguage]="myLanguage"
    (newBookLanguage)="onBookLanguageSelected($event)"
    (newMyLanguage)="onMyLanguageSelected($event)"
    (newBookType)="onChangeListType($event)"
  ></km-languages-bar>
  <km-filter-bar
    [text]="text"
    [hasBooks]="!!filteredBooks.length"
    [itemTxt]="itemTxt"
    bookType="read"
    (newSort)="onChangeSort($event)"
    (newFilter)="onChangeFilter($event)">
  </km-filter-bar>
  -->

  <!-- BOOKS LIST -->
  <div *ngIf="isBooksReady">
    <ul class="list-unstyled" *ngIf="displayBooks?.length"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScrollBooks()">
      <li *ngFor="let book of displayBooks; let i=index">
        <!--
        <km-book-summary
          [book]="book"
          [bookType]="'glossary'"
          [userBook]="userBooks[book._id]"
          [userData]="null"
          [userGlossary]="userWordData[book._id]"
          [glossaryData]="bookWordData[book._id]"
          [translationData]="null"
          [activity]="userBookActivity[book._id]"
          [userLanCode]="myLanguage.code"
          [text]="text"
          [nr]="i + 1"
          [total]="filteredBooks.length"
          [licenses]="licenses"
          [tpe]="listTpe === 'my' ? 'my' : 'read'"
          (removedSubscription)="onRemovedSubscription($event)"
          (addedSubscription)="onAddedSubscription($event)">
        </km-book-summary>
        -->
      </li>
    </ul>

    <!-- No books found for selected language -->
    <div *ngIf="!isLoading && isBooksReady && !filteredBooks.length">
      <km-info-msg [msg]="getNoBooksMessage('glossary')">
      </km-info-msg>
    </div>
  </div>

</section>
<km-loader *ngIf="(isLoading || !isBooksReady) && !isError"
  [msg]="text['LoadingGlossaries']">
</km-loader>
