<span [ngClass]="side">
  <h1 class="word-box" [class.nomargin]="!showWordType && !showAudio">
    <span class="word">
      <img src="/assets/img/flags/{{lanFrom}}.png" class="flag from" [class.no-word-type]="!showWordType">
      {{flashCard.word}}<small *ngIf="flashCard.genus"> ({{flashCard.genus}})</small>
      <div class="word-type" *ngIf="showWordType">{{flashCard.wordType}}
        <small *ngIf="flashCard.verbProperties"> ({{flashCard.verbProperties}})</small>
      </div>
      <div class="word-notes" *ngIf="showWordType">{{flashCard.notes}}
      </div>
    </span>
  </h1>
  <div class="audio" *ngIf="showAudio && flashCard.audio && flashCard.audio.length > 0">
    <km-audio-file *ngFor="let audio of flashCard.audio"
      [fileUrl]="audioPath + audio.s3"
      size="32"
      class="audio-item">
    </km-audio-file>
  </div>
</span>
