h1.nomargin {
  margin-top: 0;
  margin-bottom: 0;
}
.audio {
  position: absolute;
  top: 20px;
  right: 20px;
}
.audio-item {
  margin-left: 8px;
}
h1.word-box {
  margin-top: 90px;
}
h1.word-box small {
  color: #ccc;
  font-size: 45%;
}
.back > h1.word-box {
  margin-top: 50px;
  color: #ddd;
}
.none > h1.word-box {
  margin-top: 0;
}
.word-type, .word-notes {
  color: #fff;
  font-style: italic;
  font-size: 14px;
  margin-left: 40px;
}
h1.word-box .word-type small {
  font-size: 80%;
}
.back .word-type, .back .word-notes {
  color: #ccc;
}
.word {
  display: inline-block;
  position: relative;
  text-align: left;
}
.flag {
  position: relative;
  margin-right: 0;
}
.flag.no-word-type {
  top: 0;
}
