<div class="input-group">
  <textarea *ngIf="!isAnswered" kmFocus
    type="text"
    class="form-control input-lg"
    id="translation"
    autofocus
    rows="2"
    maxlength="200"
    autocomplete="off"
    spellcheck="false"
    [attr.disabled]="isAnswered ? '' : null"
    [(ngModel)]="updatedTranslations">
  ></textarea>
  <div class="input-group-addon submit">
    <button type="button"
      class="btn btn-success"
      (click)="onSubmitTranslation()">
      <span class="fa fa-check"></span>
    </button>
    <button type="button"
      class="btn btn-warning"
      (click)="onCancelTranslation()">
      <span class="fa fa-times"></span>
    </button>
  </div>
  <div class="translation-note">{{text["UseSeparator"]}}</div>
</div>
