<div class="modal" tabindex="-1" role="dialog" 
  [ngStyle]="{'display': showModal ? 'block' : 'none'}"
  kmPressed (onKeyPressed)="onKeyPressed($event)">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="closeModal" (click)="onClose()">
          <span class="fa fa-times pull-right"></span>
        </div>
        <div class="clearfix"></div>
        <div class="list-group">
          <a *ngFor="let score of rankScores; let i = index"
            class="list-group-item"
            [class.active]="i===rank">
            <span class="icon">
              <img src="/assets/img/ranks/rank{{i}}_64.png">
            </span>
            <span class="rank-name">
              {{getRankName(i)}}
            </span>
            <span class="badge">
              {{score | score}}
            </span>
          </a>
        </div>
        <button type="button"
          class="btn btn-warning pull-right"
          (click)="onClose()">
          {{text["cancel"]}}
        </button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>