/* You can add global styles to this file, and also import other style files */
body {
  background-color: WhiteSmoke;
}
.flag {
  border: 1px solid #333;
  border-radius: 3px;
  width: 30px;
  height: 20px;
  margin-right: 3px;
}
.flag-from {
  font-size: 10px;
  margin: 2px;
  position: relative;
  top: -8px;
  color: #666;
}
.transparant {
  background-color: rgba(255, 255, 255, .93);
}
.more-transparant {
  background-color: rgba(255, 255, 255, .8);
}
.green {
  color: green;
}
.yellow {
  color: yellow;
}
.orange {
  color: orange;
}
.red {
  color: red;
}
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.msg-info {
  font-size: 20px;
  padding: 15px;
}
.msg-info .fa {
  font-size: 36px;
  margin-right: 12px;
  color: green;
}
.fa-spacing {
  margin-right: 6px;
}
.fa-spacing-title {
  margin-right: 12px;
}
.btn {
  margin-right: 3px;
}
.table-hover > tbody > tr:hover, .list-group-item:hover {
  background-color: #e1f4fa;
}
