.selector {
  position: relative;
  z-index: 10;
}
.dropdown {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 46px;
}
.list-group-item {
  cursor: pointer;
  font-size: 18px;
  margin: 0 15px;
  z-index: 10;
}
.list-group-item:hover {
  background-color: #1e90ff;
  color: #fff;
}
.dropdownField{
  display: inline-block;
  position: relative;
}
.dropdownField::before{
  position: absolute;
  font-family: FontAwesome;
  font-size: 18px;
  content: "\f0d7";
  right: 20px;
  height: 20px;
  width: 20px;
  top: 10px;
}
.nr {
  color: #999;
}
