<div class="form-group form-group-lg selector">
  <div class="col-xs-12 dropdownField" (click)="toggleItemList()">
    <input 
      type="text" 
      class="form-control" 
      id="name" 
      autocomplete="off"
      [placeholder]="placeholder"
      [(ngModel)]="entry"
      (ngModelChange)="showItemList()">
  </div>
</div>
<ul class="list-group dropdown" *ngIf="showList">
  <li *ngFor="let item of showItems; let i=index"
    class="list-group-item"
    (click)="selectItem(i)">
    {{item}}
  </li>
</ul>

<!-- Datalist can't be styled :(
<div class="form-group form-group-lg">
  <input type="text" class="form-control" list="items">
  <datalist id="items">
    <option *ngFor="let item of showItems" [value]="item.name">
  </datalist>
</div>
-->