.files .fdata {
  float: right;
  width: 170px;
}
.files .thumb {
  border: 1px solid #333;
  width: 120px;
}
.files .image, .files .audio {
  float: left;
  margin-bottom: 2px;
  margin-right: 2px;
}
.fa {
  cursor: pointer;
  font-size: 24px;
}
.flag {
  border: 1px solid #333;
  margin-bottom: 5px;
}
.image, .audio {
  cursor: pointer;
}
.image .thumb{
  opacity: 0.6;
  border: 2px solid grey;
  border-radius: 2px;
  margin: -10px;
}
.image .selected {
  border: 2px solid green;
  opacity: 1;
}
.marks {
  display: inline-block;
  position: relative;
  left: -26px;
  top: 40px;
  width: 16px;
}
.marks .fa {
  font-size: 32px;
}
.fa-check {
  color: green;
  text-shadow: 1px 1px #ddd;
}
.fa-times {
  color: red;
}
.audio .name {
  font-size: 16px;
}
.audio .marks {
  left: 0;
  top: 12px;
}