.wordlist {
  margin-top: -16px;
}
.list {
  border: 1px solid #5bc0de;
  border-top: 0;
  border-radius: 3px;
  padding-bottom: 1px;
}
li {
  cursor:pointer;
}
.list-group-item.inactive {
  background-color: #f6f6f6;
}
.list-group-item.inactive:hover {
  background-color:#eee;
}
.closetab {
  text-align: center;
  max-width: 120px;
  float: right;
}