<div *ngIf="dataReady">
  <div class="selector" [class.disabled]="disabled">
    <div class="input-group col-xs-12">
      <div class="btn btn-default btn-dropdown btn-lg" (click)="onToggleDropdown()">
        <img src="/assets/img/flags/{{selectedLanguage?._id}}.png" alt="{{text[selectedLanguage?.name]}}" class="flag" />{{text[selectedLanguage?.name]}}<span class="caret" *ngIf="!disabled"></span>
      </div>
    </div>
    <ul class="list-group dropdown" *ngIf="showDropdown">
      <li 
        class="list-group-item" 
        [ngClass]="{active:lan._id===selectedDropdown}"
        *ngFor="let lan of languages; let i:index"
        (click)="onSelectLanguage(i)"
        (mouseover)="onHoverLanguage(i)"
        >
        <img src="/assets/img/flags/{{lan._id}}.png" alt="{{text[lan.name]}}" class="flag" />{{text[lan.name]}}
      </li>
    </ul>
  </div>
</div>