.flags {
  position: relative;
  z-index: 10;
  height: 22px;
  width: 34px;
  font-size: 12px;
}
.region-list {
  position: absolute;
}
.hover {
  border-color: red;
}
.clickable {
  cursor: pointer;
}