.btn-dropdown {
  text-align: left;
  width: 100%;
  cursor: default;
}
.selector {
  position: relative;
  z-index: 11;
}
.dropdown {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 46px;
}
.flag {
  border: 1px solid #999;
  border-radius: 2px;
  height: 20px;
  margin-right: 8px;
  width: 30px;
}
.gravatar {
  border: 1px solid #999;
  border-radius: 2px;
  height: 22px;
  margin-right: 8px;
  width: 22px;
}
.caret {
  float: right;
  margin-top: 8px;
}
.list-group-item {
  cursor: pointer;
  font-size: 18px;
}
.disabled .btn-default{
  cursor: default;
  border: 0;
  background-color: inherit;
  padding-left: 0;
}
.disabled .btn-default:hover {
  background-color: inherit;
}
.disabled .btn-default:active {
  box-shadow: inherit;
}
.admin {
  color: grey;
  font-size: 12px;
}
.list .fa {
  margin-right: 4px;
}
.list .fa-book {
  color: #518bd6;
}
.list .fa-volume-up {
  color: #d6a551;
}
.list .fa-list {
  color: #d66351;
}

.list li.active .fa {
  color: white;
}
